@charset "UTF-8";

/** 
 * Stylish CSS Drop-Down Menu Theme
 *
 * @file		default.css
 * @name		Stylish
 * @version		beta
 * @type		strict
 * @browsers	Windows: IE5+, Opera7+, Firefox1+
 *				Mac OS: Safari2+, Firefox2+
 *
 * @link		http://www.lwis.net/
 * @copyright	2008 Live Web Institute. All Rights Reserved.
 *
 */


/*-------------------------------------------------/
 * @section		Base Drop-Down Styling
 * @structure	ul (unordered list)
 *				ul li (list item)
 *				ul li a (links)
 *				/*\.class|(li|a):hover/
 * @level sep	ul
 */


ul.dropdown {
 padding-bottom: 0px;
}
ul.dropdown a {
 font-size:1em;
 font-family:"Lucida Sans Unicode","Lucida Grande","Trebuchet MS",Helvetica,Arial,sans-serif;
}

	ul.dropdown li {
	 padding: 5px 6px;
	 color: #000;
	}

	ul.dropdown li.divider {
	 border-top: solid 1px #f1f1f1;
	}

	ul.dropdown li.hover,
	ul.dropdown li:hover {
	 color: #000;
	 background-color:transparent;
	}

	ul.dropdown a:link,
	ul.dropdown a:visited	{}
	ul.dropdown a:hover { color: #ccc; background-color:transparent; text-decoration: none; }
	ul.dropdown a:active	{}
	
	ul.dropdown li a, ul.dropdown .dir {color:#eee;}
	ul.dropdown ul .dir {color:#aaa;}


	/* -- level mark -- */

	ul.dropdown ul {
	 width: 230px;
	 padding:12px 0 2px 0;
	 border-style: solid;
	 border-width: 0px;
	 border-color: #f0f0f0 #666 #666 #f0f0f0;
	 background:transparent url(images/dropdown_bg.png) top left no-repeat;
	 font-weight: normal;
	 border-top:0px solid #333;
	 margin-top:0px;
	 margin-left:7px;
	}
	ul.dropdown ul ul {
	margin-left:0;
	}
	
	ul.dropdown ul a {
	 color:#555;
	 font-size:.9em;
	 font-family:"Lucida Sans Unicode","Lucida Grande","Trebuchet MS",Helvetica,Arial,sans-serif;
	 }
	
	ul.dropdown ul a:hover {
	color:#333;
	}

		ul.dropdown ul li {
		border-bottom:solid 0px #f1f1f1;
		margin-bottom:0px;
		}
		
		ul.dropdown ul li:hover {
		background:url(images/dropdown_hover.png) center center no-repeat transparent;
		}

		ul.dropdown ul li a {color:#555; border-bottom:solid 0px #eee; padding:10px 12px;}
		
		ul.dropdown ul ul {
		background:url(images/dropdown_open_bg.jpg) top left no-repeat #fff;
		padding-top:2px;
		padding-bottom:2px;
		padding-left:2px;
		margin-top:-2px;
		border:0px;
		}
		ul.dropdown ul ul li:hover {
		}


/*-------------------------------------------------/
 * @section		Support Class `dir`
 * @level sep	ul, .class
 */


ul.dropdown *.dir {
 padding-right: 15px;
 background-image: url(images/dropdown_arrow.png);
 background-position: 100% 57%;
 background-repeat: no-repeat;
}


/* -- Components override -- */

ul.dropdown-vertical ul {
 top: 0;
 left: 100%;
}

ul.dropdown-vertical-rtl ul {
 right: 100%;
}

ul.dropdown-horizontal,
ul.dropdown-linear,
ul.dropdown-upward {
 width: 100%;
}

ul.dropdown-horizontal ul *.dir {
 padding-right: 25px;
 background-image: url(images/dropdown_arrow_right.png);
 background-position: 100% 50%;
 background-repeat: no-repeat;
}

ul.dropdown-upward *.dir {
 background-image: url(images/nav-arrow-up.png);
}

ul.dropdown-vertical *.dir {
 background-image: url(images/dropdown_arrow_right.png);
 background-position: 180px 50%;
}

ul.dropdown-vertical ul *.dir,
ul.dropdown-upward ul *.dir {
 background-image: url(images/dropdown_arrow_right.png);
 background-position: 100% 50%;
}

ul.dropdown-vertical-rtl *.dir {
 padding-right: 6px;
 padding-left: 25px;
 background-image: url(images/nav-arrow-left.png);
 background-position: 5px 50%;
}

ul.dropdown-vertical-rtl ul *.dir {
 padding-right: 0;
 background-image: url(images/nav-arrow-left.png);
 background-position: 0 50%;
}
