<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>Comments on: Get Involved</title>
	<atom:link href="/get-involved/feed/" rel="self" type="application/rss+xml" />
	<link>http://rodenfordenton.com</link>
	<description>Kevin Roden for Denton City Council</description>
	<lastBuildDate>Mon, 27 Jun 2016 21:47:35 +0000</lastBuildDate>
		<sy:updatePeriod>hourly</sy:updatePeriod>
		<sy:updateFrequency>1</sy:updateFrequency>
	<generator>http://wordpress.org/?v=3.8.15</generator>
	<item>
		<title>By: Kevin Roden For Denton City Council &#124; Beardtopia : All about Denton, TX : the people, their art, music, food &#38; more...</title>
		<link>/get-involved/#comment-2</link>
		<dc:creator><![CDATA[Kevin Roden For Denton City Council &#124; Beardtopia : All about Denton, TX : the people, their art, music, food &#38; more...]]></dc:creator>
		<pubDate>Fri, 18 Mar 2011 20:11:33 +0000</pubDate>
		<guid isPermaLink="false">/wp/#comment-2</guid>
		<description><![CDATA[[...] you want to help Kevin make it to the City Council, here is how you can get involved. If you have a website and would like to spread the word, I&#8217;ve also created a badge that you [...]]]></description>
		<content:encoded><![CDATA[<p>[...] you want to help Kevin make it to the City Council, here is how you can get involved. If you have a website and would like to spread the word, I&#8217;ve also created a badge that you [...]</p>
]]></content:encoded>
	</item>
</channel>
</rss>
