<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>Comments on: We Need Solutions, Not Political Hackery: A Response to the Chamber-inspired Fracking Mailing</title>
	<atom:link href="/2014/09/we-need-solutions-not-political-hackery-a-response-to-the-chamber-inspired-fracking-mailing/feed/" rel="self" type="application/rss+xml" />
	<link>/2014/09/we-need-solutions-not-political-hackery-a-response-to-the-chamber-inspired-fracking-mailing/</link>
	<description>Kevin Roden for Denton City Council</description>
	<lastBuildDate>Fri, 19 Feb 2016 21:01:19 +0000</lastBuildDate>
		<sy:updatePeriod>hourly</sy:updatePeriod>
		<sy:updateFrequency>1</sy:updateFrequency>
	<generator>http://wordpress.org/?v=3.8.14</generator>
	<item>
		<title>By: Cheryl A</title>
		<link>/2014/09/we-need-solutions-not-political-hackery-a-response-to-the-chamber-inspired-fracking-mailing/#comment-50743</link>
		<dc:creator><![CDATA[Cheryl A]]></dc:creator>
		<pubDate>Tue, 23 Sep 2014 20:09:30 +0000</pubDate>
		<guid isPermaLink="false">/?p=1361#comment-50743</guid>
		<description><![CDATA[Thank you Kevin R for speaking up for the citizen of Denton]]></description>
		<content:encoded><![CDATA[<p>Thank you Kevin R for speaking up for the citizen of Denton</p>
]]></content:encoded>
	</item>
	<item>
		<title>By: Lynne W Brister-Cox</title>
		<link>/2014/09/we-need-solutions-not-political-hackery-a-response-to-the-chamber-inspired-fracking-mailing/#comment-50734</link>
		<dc:creator><![CDATA[Lynne W Brister-Cox]]></dc:creator>
		<pubDate>Tue, 23 Sep 2014 12:28:24 +0000</pubDate>
		<guid isPermaLink="false">/?p=1361#comment-50734</guid>
		<description><![CDATA[Thank you, Kevin.  

And nice reference.]]></description>
		<content:encoded><![CDATA[<p>Thank you, Kevin.  </p>
<p>And nice reference.</p>
]]></content:encoded>
	</item>
	<item>
		<title>By: Sharon</title>
		<link>/2014/09/we-need-solutions-not-political-hackery-a-response-to-the-chamber-inspired-fracking-mailing/#comment-50724</link>
		<dc:creator><![CDATA[Sharon]]></dc:creator>
		<pubDate>Tue, 23 Sep 2014 02:01:09 +0000</pubDate>
		<guid isPermaLink="false">/?p=1361#comment-50724</guid>
		<description><![CDATA[Thank you Kevin! 

About this:  &quot;they are ready to make an example of Denton,&quot;

I think Denton is going to make an example of them!]]></description>
		<content:encoded><![CDATA[<p>Thank you Kevin! </p>
<p>About this:  &#8220;they are ready to make an example of Denton,&#8221;</p>
<p>I think Denton is going to make an example of them!</p>
]]></content:encoded>
	</item>
	<item>
		<title>By: Chris Briggs</title>
		<link>/2014/09/we-need-solutions-not-political-hackery-a-response-to-the-chamber-inspired-fracking-mailing/#comment-50711</link>
		<dc:creator><![CDATA[Chris Briggs]]></dc:creator>
		<pubDate>Mon, 22 Sep 2014 22:28:25 +0000</pubDate>
		<guid isPermaLink="false">/?p=1361#comment-50711</guid>
		<description><![CDATA[KR - In what way and to what degree are tax-payer dollars allocated to the Denton Chamber of Commerce?]]></description>
		<content:encoded><![CDATA[<p>KR &#8211; In what way and to what degree are tax-payer dollars allocated to the Denton Chamber of Commerce?</p>
]]></content:encoded>
	</item>
	<item>
		<title>By: A&#38;G</title>
		<link>/2014/09/we-need-solutions-not-political-hackery-a-response-to-the-chamber-inspired-fracking-mailing/#comment-50710</link>
		<dc:creator><![CDATA[A&#38;G]]></dc:creator>
		<pubDate>Mon, 22 Sep 2014 22:12:36 +0000</pubDate>
		<guid isPermaLink="false">/?p=1361#comment-50710</guid>
		<description><![CDATA[Kevin,
Thank you for speaking out for the citizens of Denton, and for your character.  We can see you truly care.]]></description>
		<content:encoded><![CDATA[<p>Kevin,<br />
Thank you for speaking out for the citizens of Denton, and for your character.  We can see you truly care.</p>
]]></content:encoded>
	</item>
	<item>
		<title>By: Sandy</title>
		<link>/2014/09/we-need-solutions-not-political-hackery-a-response-to-the-chamber-inspired-fracking-mailing/#comment-50709</link>
		<dc:creator><![CDATA[Sandy]]></dc:creator>
		<pubDate>Mon, 22 Sep 2014 21:26:56 +0000</pubDate>
		<guid isPermaLink="false">/?p=1361#comment-50709</guid>
		<description><![CDATA[Thank you,Kevin Roden, for making this move and taking this bold position. I admire your character and leadership. Your explanation will help to inform the public of many of the facts concerning this issue and shed light on the misleading statements and lies.]]></description>
		<content:encoded><![CDATA[<p>Thank you,Kevin Roden, for making this move and taking this bold position. I admire your character and leadership. Your explanation will help to inform the public of many of the facts concerning this issue and shed light on the misleading statements and lies.</p>
]]></content:encoded>
	</item>
	<item>
		<title>By: Cathy McMullen</title>
		<link>/2014/09/we-need-solutions-not-political-hackery-a-response-to-the-chamber-inspired-fracking-mailing/#comment-50706</link>
		<dc:creator><![CDATA[Cathy McMullen]]></dc:creator>
		<pubDate>Mon, 22 Sep 2014 18:46:09 +0000</pubDate>
		<guid isPermaLink="false">/?p=1361#comment-50706</guid>
		<description><![CDATA[Thank you Kevin for your vote on 7/15 and for your reasonable explanation regarding your choice to stop your membership in the local Chamber of Commerce. DAG fully expected to be slandered and threatened by industry but never imagine our fellow citizens and Chamber of Commerce would accuse our members of co-conspiring with Russia to bring down our local, state, and federal government. It is a sad day. 
Thank you again.]]></description>
		<content:encoded><![CDATA[<p>Thank you Kevin for your vote on 7/15 and for your reasonable explanation regarding your choice to stop your membership in the local Chamber of Commerce. DAG fully expected to be slandered and threatened by industry but never imagine our fellow citizens and Chamber of Commerce would accuse our members of co-conspiring with Russia to bring down our local, state, and federal government. It is a sad day.<br />
Thank you again.</p>
]]></content:encoded>
	</item>
	<item>
		<title>By: Rhonda Love</title>
		<link>/2014/09/we-need-solutions-not-political-hackery-a-response-to-the-chamber-inspired-fracking-mailing/#comment-50704</link>
		<dc:creator><![CDATA[Rhonda Love]]></dc:creator>
		<pubDate>Mon, 22 Sep 2014 17:01:50 +0000</pubDate>
		<guid isPermaLink="false">/?p=1361#comment-50704</guid>
		<description><![CDATA[Thank you so much, Kevin.]]></description>
		<content:encoded><![CDATA[<p>Thank you so much, Kevin.</p>
]]></content:encoded>
	</item>
	<item>
		<title>By: Jack Haesly</title>
		<link>/2014/09/we-need-solutions-not-political-hackery-a-response-to-the-chamber-inspired-fracking-mailing/#comment-50703</link>
		<dc:creator><![CDATA[Jack Haesly]]></dc:creator>
		<pubDate>Mon, 22 Sep 2014 16:56:53 +0000</pubDate>
		<guid isPermaLink="false">/?p=1361#comment-50703</guid>
		<description><![CDATA[Drilling, fracking, then venting gas/oil wells, any gas wells, releases huge amounts of methane, benzene, possibly radon and other by-products of the petroleum gathering process into the atmosphere. Many of these chemicals have far reaching results regarding human health...to say nothing of harming the environment. The Denton Chamber by allowing these releases is just as vunerable to disease from these releases as anyone in the general population. Further, to allow a fracked well to be drilled within yards of the new University of North Texas football stadium is, in my opinion, a criminal act.]]></description>
		<content:encoded><![CDATA[<p>Drilling, fracking, then venting gas/oil wells, any gas wells, releases huge amounts of methane, benzene, possibly radon and other by-products of the petroleum gathering process into the atmosphere. Many of these chemicals have far reaching results regarding human health&#8230;to say nothing of harming the environment. The Denton Chamber by allowing these releases is just as vunerable to disease from these releases as anyone in the general population. Further, to allow a fracked well to be drilled within yards of the new University of North Texas football stadium is, in my opinion, a criminal act.</p>
]]></content:encoded>
	</item>
	<item>
		<title>By: Larry Cleveland, RD, LD, LMT</title>
		<link>/2014/09/we-need-solutions-not-political-hackery-a-response-to-the-chamber-inspired-fracking-mailing/#comment-50701</link>
		<dc:creator><![CDATA[Larry Cleveland, RD, LD, LMT]]></dc:creator>
		<pubDate>Mon, 22 Sep 2014 16:51:47 +0000</pubDate>
		<guid isPermaLink="false">/?p=1361#comment-50701</guid>
		<description><![CDATA[DG there is no more of an assault on a community than the food it provides it&#039;s people, short of a disaster that I question we are prepared for. I&#039;m sure you wound agree, to a degree. Just like big oil can come in an run over people, so do these feeding troughs scatter through the city. Sugar is the new tobacco and more addicting than cocaine. Like a policy was missing in fracking, so to is a food policy. I see out of control diabetics and I see more on their way. We wait until we are backed into a corner. That&#039;s a strange human trait. Like I mentioned, I will follow up with the Major. It&#039;s sad that a high school student has to resort to filing a lawsuit again her city for not protecting her and her families health by allowing the air, food, and water to be polluted. I&#039;m just short of doing the same thing in the area of all the fast food restaurants that have no accountability or responsibility for the product they products. The fracking issue and others like it continue to put the future generations health at risk. The hard pill to swallow is we allow it. We are asleep as we stuff our mouths full of junk leaving seemingly no blood for the brain; only for digestion. We allow the city and state to be bought by big interests.  We are indifferent, for now, but after getting the feeding trough called Bucc-ee&#039;s tossed out of Corinth, I&#039;m hopeful the many small voices will move this area on the road to a healthier environment.]]></description>
		<content:encoded><![CDATA[<p>DG there is no more of an assault on a community than the food it provides it&#8217;s people, short of a disaster that I question we are prepared for. I&#8217;m sure you wound agree, to a degree. Just like big oil can come in an run over people, so do these feeding troughs scatter through the city. Sugar is the new tobacco and more addicting than cocaine. Like a policy was missing in fracking, so to is a food policy. I see out of control diabetics and I see more on their way. We wait until we are backed into a corner. That&#8217;s a strange human trait. Like I mentioned, I will follow up with the Major. It&#8217;s sad that a high school student has to resort to filing a lawsuit again her city for not protecting her and her families health by allowing the air, food, and water to be polluted. I&#8217;m just short of doing the same thing in the area of all the fast food restaurants that have no accountability or responsibility for the product they products. The fracking issue and others like it continue to put the future generations health at risk. The hard pill to swallow is we allow it. We are asleep as we stuff our mouths full of junk leaving seemingly no blood for the brain; only for digestion. We allow the city and state to be bought by big interests.  We are indifferent, for now, but after getting the feeding trough called Bucc-ee&#8217;s tossed out of Corinth, I&#8217;m hopeful the many small voices will move this area on the road to a healthier environment.</p>
]]></content:encoded>
	</item>
</channel>
</rss>
