<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>Comments on: Railroad Commission Chair Chimes in on Denton Frack Ban. And I Respond.</title>
	<atom:link href="/2014/07/railroad-commission-chair-chimes-in-on-denton-frack-ban-and-i-respond/feed/" rel="self" type="application/rss+xml" />
	<link>/2014/07/railroad-commission-chair-chimes-in-on-denton-frack-ban-and-i-respond/</link>
	<description>Kevin Roden for Denton City Council</description>
	<lastBuildDate>Mon, 27 Jun 2016 21:47:35 +0000</lastBuildDate>
		<sy:updatePeriod>hourly</sy:updatePeriod>
		<sy:updateFrequency>1</sy:updateFrequency>
	<generator>http://wordpress.org/?v=3.8.15</generator>
	<item>
		<title>By: Sandy</title>
		<link>/2014/07/railroad-commission-chair-chimes-in-on-denton-frack-ban-and-i-respond/#comment-49150</link>
		<dc:creator><![CDATA[Sandy]]></dc:creator>
		<pubDate>Mon, 14 Jul 2014 04:26:13 +0000</pubDate>
		<guid isPermaLink="false">/?p=1286#comment-49150</guid>
		<description><![CDATA[Smitherman can fill out a white card or be present to speak on Tuesday night like everyone else. Otherwise, his comments should not be shared during the meeting. We in the Vintage area have endured the nightmare that is fracking, so we have little interest in what he has to say.]]></description>
		<content:encoded><![CDATA[<p>Smitherman can fill out a white card or be present to speak on Tuesday night like everyone else. Otherwise, his comments should not be shared during the meeting. We in the Vintage area have endured the nightmare that is fracking, so we have little interest in what he has to say.</p>
]]></content:encoded>
	</item>
	<item>
		<title>By: Fishcreek Neighbor</title>
		<link>/2014/07/railroad-commission-chair-chimes-in-on-denton-frack-ban-and-i-respond/#comment-49133</link>
		<dc:creator><![CDATA[Fishcreek Neighbor]]></dc:creator>
		<pubDate>Sun, 13 Jul 2014 15:52:12 +0000</pubDate>
		<guid isPermaLink="false">/?p=1286#comment-49133</guid>
		<description><![CDATA[Since Smitherman is unable to make the journey to Denton he should be Skyped in for three minutes so he can personally read his well-crafted letter to the exasperated crowd.]]></description>
		<content:encoded><![CDATA[<p>Since Smitherman is unable to make the journey to Denton he should be Skyped in for three minutes so he can personally read his well-crafted letter to the exasperated crowd.</p>
]]></content:encoded>
	</item>
	<item>
		<title>By: Eric Rogers</title>
		<link>/2014/07/railroad-commission-chair-chimes-in-on-denton-frack-ban-and-i-respond/#comment-49120</link>
		<dc:creator><![CDATA[Eric Rogers]]></dc:creator>
		<pubDate>Sun, 13 Jul 2014 04:04:01 +0000</pubDate>
		<guid isPermaLink="false">/?p=1286#comment-49120</guid>
		<description><![CDATA[There is a number at the top of this letter for the RRC.  I suggest everyone that disagrees with this letter call this number and let them know how you feel!  Flood their system, don&#039;t let them hear anything but the phone ringing, and everyone explaining to them their ignorance.  Because obvious they sleep well at night knowing that fat paycheck will be there soon regardless of the damage they allow to happen.]]></description>
		<content:encoded><![CDATA[<p>There is a number at the top of this letter for the RRC.  I suggest everyone that disagrees with this letter call this number and let them know how you feel!  Flood their system, don&#8217;t let them hear anything but the phone ringing, and everyone explaining to them their ignorance.  Because obvious they sleep well at night knowing that fat paycheck will be there soon regardless of the damage they allow to happen.</p>
]]></content:encoded>
	</item>
	<item>
		<title>By: Carol</title>
		<link>/2014/07/railroad-commission-chair-chimes-in-on-denton-frack-ban-and-i-respond/#comment-49115</link>
		<dc:creator><![CDATA[Carol]]></dc:creator>
		<pubDate>Sun, 13 Jul 2014 01:06:14 +0000</pubDate>
		<guid isPermaLink="false">/?p=1286#comment-49115</guid>
		<description><![CDATA[I own mineral rights that I lease.  I would very much like to see a ban on fracking.  Good luck!!!!

CM Roden, I wish I could vote for you for City Council but alas, I live in Seattle WA!]]></description>
		<content:encoded><![CDATA[<p>I own mineral rights that I lease.  I would very much like to see a ban on fracking.  Good luck!!!!</p>
<p>CM Roden, I wish I could vote for you for City Council but alas, I live in Seattle WA!</p>
]]></content:encoded>
	</item>
	<item>
		<title>By: WCGasette</title>
		<link>/2014/07/railroad-commission-chair-chimes-in-on-denton-frack-ban-and-i-respond/#comment-49114</link>
		<dc:creator><![CDATA[WCGasette]]></dc:creator>
		<pubDate>Sun, 13 Jul 2014 01:03:45 +0000</pubDate>
		<guid isPermaLink="false">/?p=1286#comment-49114</guid>
		<description><![CDATA[The Railroad Commission is one big PR mistake.]]></description>
		<content:encoded><![CDATA[<p>The Railroad Commission is one big PR mistake.</p>
]]></content:encoded>
	</item>
	<item>
		<title>By: Fishcreek Neighbor</title>
		<link>/2014/07/railroad-commission-chair-chimes-in-on-denton-frack-ban-and-i-respond/#comment-49111</link>
		<dc:creator><![CDATA[Fishcreek Neighbor]]></dc:creator>
		<pubDate>Sun, 13 Jul 2014 00:18:12 +0000</pubDate>
		<guid isPermaLink="false">/?p=1286#comment-49111</guid>
		<description><![CDATA[Thank you, Councilman Roden, for speaking up on behalf of your constituents!  Hopefully, your bold initiative will give elected officials across the State of Texas the courage to stand up and protect the men, women, and children they represent and not cower to a mafioso industry and its lap dog regulatory agency that seems to think they can bully entire communities into conforming to their wishes.]]></description>
		<content:encoded><![CDATA[<p>Thank you, Councilman Roden, for speaking up on behalf of your constituents!  Hopefully, your bold initiative will give elected officials across the State of Texas the courage to stand up and protect the men, women, and children they represent and not cower to a mafioso industry and its lap dog regulatory agency that seems to think they can bully entire communities into conforming to their wishes.</p>
]]></content:encoded>
	</item>
	<item>
		<title>By: Michelle Eshbaugh-Soha</title>
		<link>/2014/07/railroad-commission-chair-chimes-in-on-denton-frack-ban-and-i-respond/#comment-49108</link>
		<dc:creator><![CDATA[Michelle Eshbaugh-Soha]]></dc:creator>
		<pubDate>Sat, 12 Jul 2014 22:19:18 +0000</pubDate>
		<guid isPermaLink="false">/?p=1286#comment-49108</guid>
		<description><![CDATA[Thank you for standing up to Mr. Smitherman. I hope the rest of the council is as brave as that and more on Tuesday and stands up to the industry that cares nothing for OUR TOWN except what profit it gets them. It&#039;s time to take back Denton and move into a healthy, productive future.]]></description>
		<content:encoded><![CDATA[<p>Thank you for standing up to Mr. Smitherman. I hope the rest of the council is as brave as that and more on Tuesday and stands up to the industry that cares nothing for OUR TOWN except what profit it gets them. It&#8217;s time to take back Denton and move into a healthy, productive future.</p>
]]></content:encoded>
	</item>
	<item>
		<title>By: Alex Lieban</title>
		<link>/2014/07/railroad-commission-chair-chimes-in-on-denton-frack-ban-and-i-respond/#comment-49104</link>
		<dc:creator><![CDATA[Alex Lieban]]></dc:creator>
		<pubDate>Sat, 12 Jul 2014 19:40:25 +0000</pubDate>
		<guid isPermaLink="false">/?p=1286#comment-49104</guid>
		<description><![CDATA[I support your desire to consider the interests of Denton&#039;s citizens over those with political agendas. I am one of those who is deeply concerned about the effects of fracking and its requirements for outlandish water waste and use of unspecified chemicals.]]></description>
		<content:encoded><![CDATA[<p>I support your desire to consider the interests of Denton&#8217;s citizens over those with political agendas. I am one of those who is deeply concerned about the effects of fracking and its requirements for outlandish water waste and use of unspecified chemicals.</p>
]]></content:encoded>
	</item>
	<item>
		<title>By: Pauline Raffestin</title>
		<link>/2014/07/railroad-commission-chair-chimes-in-on-denton-frack-ban-and-i-respond/#comment-49103</link>
		<dc:creator><![CDATA[Pauline Raffestin]]></dc:creator>
		<pubDate>Sat, 12 Jul 2014 19:18:43 +0000</pubDate>
		<guid isPermaLink="false">/?p=1286#comment-49103</guid>
		<description><![CDATA[Well said, Kevin! Thank you for sharing this with us and for standing up for the citizens of Denton.]]></description>
		<content:encoded><![CDATA[<p>Well said, Kevin! Thank you for sharing this with us and for standing up for the citizens of Denton.</p>
]]></content:encoded>
	</item>
	<item>
		<title>By: Kim Feil</title>
		<link>/2014/07/railroad-commission-chair-chimes-in-on-denton-frack-ban-and-i-respond/#comment-49099</link>
		<dc:creator><![CDATA[Kim Feil]]></dc:creator>
		<pubDate>Sat, 12 Jul 2014 17:41:46 +0000</pubDate>
		<guid isPermaLink="false">/?p=1286#comment-49099</guid>
		<description><![CDATA[This link has Craig Adair’s Fort Worth Home Rule authority to regulate emissions at natural gas production facilities language as an FYI.... http://barnettshalehell.wordpress.com/2012/04/26/home-rule-will-it-protect-my-family-from-the-truman-cowboy-stadium-chesapeake-drill-site/   Sadly, Arlington officials used Home Rule to “allow” Urban drilling in residential areas...my family’s health has suffered greatly...I’ve even had fumes come into my home near the ATT Stadium on 1/30/2013 and no nusiance was found the following day when others throughout the Entertainment District were sickened and smelled the odors of the wells being put into production (drilling out the plugs) the odors were noticed all the way to I30....one odor complaint was almost two miles away. We had 5 fire trucks and one ambulance and TCEQ dispatched...yet no violations or nusiance were found....thank you for your response letter to Smitherman.]]></description>
		<content:encoded><![CDATA[<p>This link has Craig Adair’s Fort Worth Home Rule authority to regulate emissions at natural gas production facilities language as an FYI&#8230;. <a href="http://barnettshalehell.wordpress.com/2012/04/26/home-rule-will-it-protect-my-family-from-the-truman-cowboy-stadium-chesapeake-drill-site/" rel="nofollow">http://barnettshalehell.wordpress.com/2012/04/26/home-rule-will-it-protect-my-family-from-the-truman-cowboy-stadium-chesapeake-drill-site/</a>   Sadly, Arlington officials used Home Rule to “allow” Urban drilling in residential areas&#8230;my family’s health has suffered greatly&#8230;I’ve even had fumes come into my home near the ATT Stadium on 1/30/2013 and no nusiance was found the following day when others throughout the Entertainment District were sickened and smelled the odors of the wells being put into production (drilling out the plugs) the odors were noticed all the way to I30&#8230;.one odor complaint was almost two miles away. We had 5 fire trucks and one ambulance and TCEQ dispatched&#8230;yet no violations or nusiance were found&#8230;.thank you for your response letter to Smitherman.</p>
]]></content:encoded>
	</item>
</channel>
</rss>
