<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
		>
<channel>
	<title>Comments on: City Council Preview &#8211; September 11, 2012</title>
	<atom:link href="/2012/09/city-council-preview-september-11-2012/feed/" rel="self" type="application/rss+xml" />
	<link>/2012/09/city-council-preview-september-11-2012/</link>
	<description>Kevin Roden for Denton City Council</description>
	<lastBuildDate>Fri, 16 Aug 2013 05:35:27 +0000</lastBuildDate>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>http://wordpress.org/?v=3.5.2</generator>
	<item>
		<title>By: John R Huff Jr</title>
		<link>/2012/09/city-council-preview-september-11-2012/#comment-1902</link>
		<dc:creator>John R Huff Jr</dc:creator>
		<pubDate>Tue, 11 Sep 2012 07:26:38 +0000</pubDate>
		<guid isPermaLink="false">/?p=621#comment-1902</guid>
		<description><![CDATA[Kevin, 
Please continue to support this issue and all others which are designed to protect the environment . Thanks.]]></description>
		<content:encoded><![CDATA[<p>Kevin,<br />
Please continue to support this issue and all others which are designed to protect the environment . Thanks.</p>
]]></content:encoded>
	</item>
</channel>
</rss>
