<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>Comments on: Early Voting Analysis</title>
	<atom:link href="/2014/11/early-voting-analysis/feed/" rel="self" type="application/rss+xml" />
	<link>/2014/11/early-voting-analysis/</link>
	<description>Kevin Roden for Denton City Council</description>
	<lastBuildDate>Fri, 10 Jul 2015 02:25:16 +0000</lastBuildDate>
		<sy:updatePeriod>hourly</sy:updatePeriod>
		<sy:updateFrequency>1</sy:updateFrequency>
	<generator>http://wordpress.org/?v=3.8.10</generator>
	<item>
		<title>By: John R. Huff Jr.</title>
		<link>/2014/11/early-voting-analysis/#comment-52530</link>
		<dc:creator><![CDATA[John R. Huff Jr.]]></dc:creator>
		<pubDate>Mon, 03 Nov 2014 05:56:03 +0000</pubDate>
		<guid isPermaLink="false">/?p=1405#comment-52530</guid>
		<description><![CDATA[It would be interesting to compare the totals as they relate to political party. I hope to see a much heavier Democratic vote. But, most of us know
the Republicans always show up?]]></description>
		<content:encoded><![CDATA[<p>It would be interesting to compare the totals as they relate to political party. I hope to see a much heavier Democratic vote. But, most of us know<br />
the Republicans always show up?</p>
]]></content:encoded>
	</item>
</channel>
</rss>
