<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
		>
<channel>
	<title>Comments on: Subway on the Square? A few thoughts</title>
	<atom:link href="/2013/04/subway-on-the-square-a-few-thoughts/feed/" rel="self" type="application/rss+xml" />
	<link>/2013/04/subway-on-the-square-a-few-thoughts/</link>
	<description>Kevin Roden for Denton City Council</description>
	<lastBuildDate>Tue, 23 Apr 2013 19:23:59 +0000</lastBuildDate>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>http://wordpress.org/?v=3.5.1</generator>
	<item>
		<title>By: will</title>
		<link>/2013/04/subway-on-the-square-a-few-thoughts/#comment-9758</link>
		<dc:creator>will</dc:creator>
		<pubDate>Wed, 17 Apr 2013 17:23:24 +0000</pubDate>
		<guid isPermaLink="false">/?p=789#comment-9758</guid>
		<description><![CDATA[He wasn&#039;t really raggin&#039; on &#039;em. Just stating the fact that we could have much more interesting/vibrant/inviting biz occupying these prime spots. Same could be said for the podiatrist on the square of all of the dr&#039;s office/dentists downtown, as well. The more biz we have that]]></description>
		<content:encoded><![CDATA[<p>He wasn&#8217;t really raggin&#8217; on &#8216;em. Just stating the fact that we could have much more interesting/vibrant/inviting biz occupying these prime spots. Same could be said for the podiatrist on the square of all of the dr&#8217;s office/dentists downtown, as well. The more biz we have that</p>
]]></content:encoded>
	</item>
	<item>
		<title>By: Nasir Mazboudi</title>
		<link>/2013/04/subway-on-the-square-a-few-thoughts/#comment-9714</link>
		<dc:creator>Nasir Mazboudi</dc:creator>
		<pubDate>Wed, 17 Apr 2013 10:37:12 +0000</pubDate>
		<guid isPermaLink="false">/?p=789#comment-9714</guid>
		<description><![CDATA[i think the last thing people visit the square for is to eat at subway.it may not take much to persuade relocation, just an alternative proposal for a more logical location...]]></description>
		<content:encoded><![CDATA[<p>i think the last thing people visit the square for is to eat at subway.it may not take much to persuade relocation, just an alternative proposal for a more logical location&#8230;</p>
]]></content:encoded>
	</item>
	<item>
		<title>By: Andrew Hime</title>
		<link>/2013/04/subway-on-the-square-a-few-thoughts/#comment-9654</link>
		<dc:creator>Andrew Hime</dc:creator>
		<pubDate>Wed, 17 Apr 2013 03:03:49 +0000</pubDate>
		<guid isPermaLink="false">/?p=789#comment-9654</guid>
		<description><![CDATA[I eat at Subway a fair bit... especially when I need a quick cheap meal. It&#039;s less evil than most fast food.

That said, the stores themselves are junk. They&#039;re garish and nonsensical and the design language alone will uglify the Square and prove detrimental. And that will linger even after the store is gone. The problem to some degree is greedy landlords. I guess the businesses that were supposed to locate their fell through on their plans. This is unfortunate, but the landlord should look for APPROPRIATE tenants to protect the context of the neighborhood. The remodeling of the building was a good start, but has taken an incorrect turn. Frankly, this sucks.

On the other hand, careful with that axe, Roden. Wanting more &quot;risk taking&quot; businesses will leave us with more junk like Burger and Friends.

Sensible is what we need. Maybe a bit fanciful, but not nonsensical.]]></description>
		<content:encoded><![CDATA[<p>I eat at Subway a fair bit&#8230; especially when I need a quick cheap meal. It&#8217;s less evil than most fast food.</p>
<p>That said, the stores themselves are junk. They&#8217;re garish and nonsensical and the design language alone will uglify the Square and prove detrimental. And that will linger even after the store is gone. The problem to some degree is greedy landlords. I guess the businesses that were supposed to locate their fell through on their plans. This is unfortunate, but the landlord should look for APPROPRIATE tenants to protect the context of the neighborhood. The remodeling of the building was a good start, but has taken an incorrect turn. Frankly, this sucks.</p>
<p>On the other hand, careful with that axe, Roden. Wanting more &#8220;risk taking&#8221; businesses will leave us with more junk like Burger and Friends.</p>
<p>Sensible is what we need. Maybe a bit fanciful, but not nonsensical.</p>
]]></content:encoded>
	</item>
	<item>
		<title>By: Jane Piper</title>
		<link>/2013/04/subway-on-the-square-a-few-thoughts/#comment-9632</link>
		<dc:creator>Jane Piper</dc:creator>
		<pubDate>Wed, 17 Apr 2013 00:12:30 +0000</pubDate>
		<guid isPermaLink="false">/?p=789#comment-9632</guid>
		<description><![CDATA[I&#039;m sorry to see you listed a church as a lame use of the Fine Arts Theater. Even though it is used as a church we have also hosted concerts, benefit programs, the Thinline film festival,  and participated in several other &quot; Square&quot; activities.  Calvary Chapel has done a lot to help bring people downtown and promote community. I&#039;m sorry you think this is lame.]]></description>
		<content:encoded><![CDATA[<p>I&#8217;m sorry to see you listed a church as a lame use of the Fine Arts Theater. Even though it is used as a church we have also hosted concerts, benefit programs, the Thinline film festival,  and participated in several other &#8221; Square&#8221; activities.  Calvary Chapel has done a lot to help bring people downtown and promote community. I&#8217;m sorry you think this is lame.</p>
]]></content:encoded>
	</item>
	<item>
		<title>By: Johnny</title>
		<link>/2013/04/subway-on-the-square-a-few-thoughts/#comment-9625</link>
		<dc:creator>Johnny</dc:creator>
		<pubDate>Tue, 16 Apr 2013 23:52:36 +0000</pubDate>
		<guid isPermaLink="false">/?p=789#comment-9625</guid>
		<description><![CDATA[I cannot believe anyone would attempt to boycott a chain or franchise simply for their business model.  That manager, and the staff (of locals) go to work everyday and deserve the respect for their efforts.
There is no reason we, as a community, should block progress just because the ownership isn&#039;t local.]]></description>
		<content:encoded><![CDATA[<p>I cannot believe anyone would attempt to boycott a chain or franchise simply for their business model.  That manager, and the staff (of locals) go to work everyday and deserve the respect for their efforts.<br />
There is no reason we, as a community, should block progress just because the ownership isn&#8217;t local.</p>
]]></content:encoded>
	</item>
	<item>
		<title>By: John Booth</title>
		<link>/2013/04/subway-on-the-square-a-few-thoughts/#comment-9579</link>
		<dc:creator>John Booth</dc:creator>
		<pubDate>Tue, 16 Apr 2013 17:32:26 +0000</pubDate>
		<guid isPermaLink="false">/?p=789#comment-9579</guid>
		<description><![CDATA[There are KFCs and McDonalds and Starbucks on the Champs Elyssee and all over Rome and London and Barcelona and the world&#039;s most beautiful cities. Let&#039;s not let this get out of proportion.]]></description>
		<content:encoded><![CDATA[<p>There are KFCs and McDonalds and Starbucks on the Champs Elyssee and all over Rome and London and Barcelona and the world&#8217;s most beautiful cities. Let&#8217;s not let this get out of proportion.</p>
]]></content:encoded>
	</item>
	<item>
		<title>By: Alexander Burns</title>
		<link>/2013/04/subway-on-the-square-a-few-thoughts/#comment-9571</link>
		<dc:creator>Alexander Burns</dc:creator>
		<pubDate>Tue, 16 Apr 2013 15:19:58 +0000</pubDate>
		<guid isPermaLink="false">/?p=789#comment-9571</guid>
		<description><![CDATA[At least a Subway isn&#039;t going to be asking for a drive-thru or a huge parking lot or something like that. Nothing would destroy the square faster that a CVS or a McDonalds.

My concern (and I&#039;m not joking at all) with this is that Subways smell horrific. I used to work in downtown Fort Worth, across the street from a bank building that housed a Subway, and the entire building stank of Subway. I felt bad for the bank employees.

I don&#039;t know how you would deal with odor pollution, but were I in the neighboring businesses, or even Recycled Books across the street, I would start bracing for that.]]></description>
		<content:encoded><![CDATA[<p>At least a Subway isn&#8217;t going to be asking for a drive-thru or a huge parking lot or something like that. Nothing would destroy the square faster that a CVS or a McDonalds.</p>
<p>My concern (and I&#8217;m not joking at all) with this is that Subways smell horrific. I used to work in downtown Fort Worth, across the street from a bank building that housed a Subway, and the entire building stank of Subway. I felt bad for the bank employees.</p>
<p>I don&#8217;t know how you would deal with odor pollution, but were I in the neighboring businesses, or even Recycled Books across the street, I would start bracing for that.</p>
]]></content:encoded>
	</item>
	<item>
		<title>By: YFNDentonista</title>
		<link>/2013/04/subway-on-the-square-a-few-thoughts/#comment-9569</link>
		<dc:creator>YFNDentonista</dc:creator>
		<pubDate>Tue, 16 Apr 2013 15:03:43 +0000</pubDate>
		<guid isPermaLink="false">/?p=789#comment-9569</guid>
		<description><![CDATA[This was such an eloquent and toughtful post. I loved everything about it... except the lawyer bashing. 
Can&#039;t we just get beyond that old trope? Lawyers in Denton are Dentonistas and Dentonistos too, and they provide valuable services to us. Unless you want to represent yourself in court? Or write your own will? You CAN do both, but I don&#039;t recommend it, and I would never do either. 
FInally, many of these lawyers&#039; offices have been on the square for decades - from back before the &#039;revitalization&#039; and when the square wasn&#039;t &#039;cool&#039;.]]></description>
		<content:encoded><![CDATA[<p>This was such an eloquent and toughtful post. I loved everything about it&#8230; except the lawyer bashing.<br />
Can&#8217;t we just get beyond that old trope? Lawyers in Denton are Dentonistas and Dentonistos too, and they provide valuable services to us. Unless you want to represent yourself in court? Or write your own will? You CAN do both, but I don&#8217;t recommend it, and I would never do either.<br />
FInally, many of these lawyers&#8217; offices have been on the square for decades &#8211; from back before the &#8216;revitalization&#8217; and when the square wasn&#8217;t &#8216;cool&#8217;.</p>
]]></content:encoded>
	</item>
	<item>
		<title>By: Peter</title>
		<link>/2013/04/subway-on-the-square-a-few-thoughts/#comment-9565</link>
		<dc:creator>Peter</dc:creator>
		<pubDate>Tue, 16 Apr 2013 14:40:08 +0000</pubDate>
		<guid isPermaLink="false">/?p=789#comment-9565</guid>
		<description><![CDATA[http://usatoday30.usatoday.com/news/nation/2010-08-17-chain-restaurants_N.htm
This article speaks to this point...citing several towns that have put into place bans on franchises or formula restaurants as they say. It definitely can happen. And in these cities, it was a city wide ban. Could Denton look into a smaller scale ban just on the square proper facing the courthouse? The case challenging the ban is still pending I believe and will be the first in Utahs history, perhaps the U.S., to comment on this subject.]]></description>
		<content:encoded><![CDATA[<p><a href="http://usatoday30.usatoday.com/news/nation/2010-08-17-chain-restaurants_N.htm" rel="nofollow">http://usatoday30.usatoday.com/news/nation/2010-08-17-chain-restaurants_N.htm</a><br />
This article speaks to this point&#8230;citing several towns that have put into place bans on franchises or formula restaurants as they say. It definitely can happen. And in these cities, it was a city wide ban. Could Denton look into a smaller scale ban just on the square proper facing the courthouse? The case challenging the ban is still pending I believe and will be the first in Utahs history, perhaps the U.S., to comment on this subject.</p>
]]></content:encoded>
	</item>
	<item>
		<title>By: Chuck Voellinger</title>
		<link>/2013/04/subway-on-the-square-a-few-thoughts/#comment-9562</link>
		<dc:creator>Chuck Voellinger</dc:creator>
		<pubDate>Tue, 16 Apr 2013 14:13:02 +0000</pubDate>
		<guid isPermaLink="false">/?p=789#comment-9562</guid>
		<description><![CDATA[Thank you for your response, Councilman Roden. You basically articulated everything I think is salient to the issue with fairness.]]></description>
		<content:encoded><![CDATA[<p>Thank you for your response, Councilman Roden. You basically articulated everything I think is salient to the issue with fairness.</p>
]]></content:encoded>
	</item>
</channel>
</rss>
