<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
		>
<channel>
	<title>Comments on: Downtown Living Focus Group</title>
	<atom:link href="/2011/06/downtown-living-focus-group/feed/" rel="self" type="application/rss+xml" />
	<link>/2011/06/downtown-living-focus-group/</link>
	<description>Kevin Roden for Denton City Council</description>
	<lastBuildDate>Tue, 19 Mar 2013 19:43:45 +0000</lastBuildDate>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>http://wordpress.org/?v=3.5.1</generator>
</channel>
</rss>
