<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>Comments on: The Devolution of Democracy and the Future of Denton</title>
	<atom:link href="/2015/04/the-devolution-of-democracy-and-the-future-of-denton/feed/" rel="self" type="application/rss+xml" />
	<link>/2015/04/the-devolution-of-democracy-and-the-future-of-denton/</link>
	<description>Kevin Roden for Denton City Council</description>
	<lastBuildDate>Sat, 25 Apr 2015 23:16:21 +0000</lastBuildDate>
		<sy:updatePeriod>hourly</sy:updatePeriod>
		<sy:updateFrequency>1</sy:updateFrequency>
	<generator>http://wordpress.org/?v=3.8.7</generator>
	<item>
		<title>By: B</title>
		<link>/2015/04/the-devolution-of-democracy-and-the-future-of-denton/#comment-63346</link>
		<dc:creator><![CDATA[B]]></dc:creator>
		<pubDate>Sat, 25 Apr 2015 23:16:21 +0000</pubDate>
		<guid isPermaLink="false">/?p=1759#comment-63346</guid>
		<description><![CDATA[Why exactly was the grandfathering to existing smoking bars that lacked the ability to add a patio removed at the last second? You can understand why that looks odd to those who opposed this ban. After all, they left the original session believing they had achieved something that might keep their businesses alive. While I&#039;m sure most don&#039;t care about Andy&#039;s or similar positioned bars, they are the businesses that were in Denton long before census data indicated it was a proper time to buy in for big franchises and corporations. 

I&#039;ll be pushing hard to remove smoking from all patios.]]></description>
		<content:encoded><![CDATA[<p>Why exactly was the grandfathering to existing smoking bars that lacked the ability to add a patio removed at the last second? You can understand why that looks odd to those who opposed this ban. After all, they left the original session believing they had achieved something that might keep their businesses alive. While I&#8217;m sure most don&#8217;t care about Andy&#8217;s or similar positioned bars, they are the businesses that were in Denton long before census data indicated it was a proper time to buy in for big franchises and corporations. </p>
<p>I&#8217;ll be pushing hard to remove smoking from all patios.</p>
]]></content:encoded>
	</item>
	<item>
		<title>By: Christina S</title>
		<link>/2015/04/the-devolution-of-democracy-and-the-future-of-denton/#comment-63191</link>
		<dc:creator><![CDATA[Christina S]]></dc:creator>
		<pubDate>Thu, 23 Apr 2015 17:40:05 +0000</pubDate>
		<guid isPermaLink="false">/?p=1759#comment-63191</guid>
		<description><![CDATA[This is offensive on many levels. It needs to be removed .]]></description>
		<content:encoded><![CDATA[<p>This is offensive on many levels. It needs to be removed .</p>
]]></content:encoded>
	</item>
	<item>
		<title>By: Dalton Gregory</title>
		<link>/2015/04/the-devolution-of-democracy-and-the-future-of-denton/#comment-63174</link>
		<dc:creator><![CDATA[Dalton Gregory]]></dc:creator>
		<pubDate>Thu, 23 Apr 2015 15:26:57 +0000</pubDate>
		<guid isPermaLink="false">/?p=1759#comment-63174</guid>
		<description><![CDATA[What a great response Kevin.  You have a great message.  I love that you practice what you preach.]]></description>
		<content:encoded><![CDATA[<p>What a great response Kevin.  You have a great message.  I love that you practice what you preach.</p>
]]></content:encoded>
	</item>
	<item>
		<title>By: Brook</title>
		<link>/2015/04/the-devolution-of-democracy-and-the-future-of-denton/#comment-63169</link>
		<dc:creator><![CDATA[Brook]]></dc:creator>
		<pubDate>Thu, 23 Apr 2015 14:20:43 +0000</pubDate>
		<guid isPermaLink="false">/?p=1759#comment-63169</guid>
		<description><![CDATA[Kevin, while I disagree with you heartily about the Smoking Ban (and I am one of those Skid Row Saloons that NEVER has had smoking,) I do appreciate your level head and willingness to hear all sides. Thanks for not being ridiculously silly like some of these other folks.]]></description>
		<content:encoded><![CDATA[<p>Kevin, while I disagree with you heartily about the Smoking Ban (and I am one of those Skid Row Saloons that NEVER has had smoking,) I do appreciate your level head and willingness to hear all sides. Thanks for not being ridiculously silly like some of these other folks.</p>
]]></content:encoded>
	</item>
	<item>
		<title>By: Larry</title>
		<link>/2015/04/the-devolution-of-democracy-and-the-future-of-denton/#comment-63162</link>
		<dc:creator><![CDATA[Larry]]></dc:creator>
		<pubDate>Thu, 23 Apr 2015 12:12:19 +0000</pubDate>
		<guid isPermaLink="false">/?p=1759#comment-63162</guid>
		<description><![CDATA[A great example Mr. Roden of cooler heads prevailing under duress.  Well done.  Children will be children I suppose but it&#039;s the adults that have to do the hard work that provides stability, prosperity and security.]]></description>
		<content:encoded><![CDATA[<p>A great example Mr. Roden of cooler heads prevailing under duress.  Well done.  Children will be children I suppose but it&#8217;s the adults that have to do the hard work that provides stability, prosperity and security.</p>
]]></content:encoded>
	</item>
	<item>
		<title>By: Matt</title>
		<link>/2015/04/the-devolution-of-democracy-and-the-future-of-denton/#comment-63134</link>
		<dc:creator><![CDATA[Matt]]></dc:creator>
		<pubDate>Thu, 23 Apr 2015 05:35:00 +0000</pubDate>
		<guid isPermaLink="false">/?p=1759#comment-63134</guid>
		<description><![CDATA[so well said.  we are too often controlled by our emotions on subjects we disagree on that we shut out our opposition, or worse, we cry intolerance/bigotry/racism.  this ruins adult discourse and compromise.  keep doing what you do, and keep reminding us that respect is still due even when one doesn&#039;t see eye to eye.]]></description>
		<content:encoded><![CDATA[<p>so well said.  we are too often controlled by our emotions on subjects we disagree on that we shut out our opposition, or worse, we cry intolerance/bigotry/racism.  this ruins adult discourse and compromise.  keep doing what you do, and keep reminding us that respect is still due even when one doesn&#8217;t see eye to eye.</p>
]]></content:encoded>
	</item>
	<item>
		<title>By: Dentonaut</title>
		<link>/2015/04/the-devolution-of-democracy-and-the-future-of-denton/#comment-63129</link>
		<dc:creator><![CDATA[Dentonaut]]></dc:creator>
		<pubDate>Thu, 23 Apr 2015 04:12:07 +0000</pubDate>
		<guid isPermaLink="false">/?p=1759#comment-63129</guid>
		<description><![CDATA[Price of running for city council: @$5k
Cost of helping a city you love: 3am sessions and weekend data crunching
Getting Hitlerized on a band poster by a cantankerous local punk rock felon: PRICELESS!!

Agree with you in principle on all above points, and mad props for everything you do for Denton, but no democracy has existed without its fair share of hyperbole.]]></description>
		<content:encoded><![CDATA[<p>Price of running for city council: @$5k<br />
Cost of helping a city you love: 3am sessions and weekend data crunching<br />
Getting Hitlerized on a band poster by a cantankerous local punk rock felon: PRICELESS!!</p>
<p>Agree with you in principle on all above points, and mad props for everything you do for Denton, but no democracy has existed without its fair share of hyperbole.</p>
]]></content:encoded>
	</item>
	<item>
		<title>By: Jennifer Lane</title>
		<link>/2015/04/the-devolution-of-democracy-and-the-future-of-denton/#comment-63126</link>
		<dc:creator><![CDATA[Jennifer Lane]]></dc:creator>
		<pubDate>Thu, 23 Apr 2015 03:35:01 +0000</pubDate>
		<guid isPermaLink="false">/?p=1759#comment-63126</guid>
		<description><![CDATA[As long as these tactics fail and you are re-elected, I will not boycott those bars. I will let it all go as silly, over-the-top venting to be avoided in future. However, if these tactics succeed in discouraging the kind of hard work it took to build that consensus and compromise, I will boycott them, smoking or no, and I believe others will do so as well.]]></description>
		<content:encoded><![CDATA[<p>As long as these tactics fail and you are re-elected, I will not boycott those bars. I will let it all go as silly, over-the-top venting to be avoided in future. However, if these tactics succeed in discouraging the kind of hard work it took to build that consensus and compromise, I will boycott them, smoking or no, and I believe others will do so as well.</p>
]]></content:encoded>
	</item>
	<item>
		<title>By: Adam Briggle</title>
		<link>/2015/04/the-devolution-of-democracy-and-the-future-of-denton/#comment-63124</link>
		<dc:creator><![CDATA[Adam Briggle]]></dc:creator>
		<pubDate>Thu, 23 Apr 2015 03:19:19 +0000</pubDate>
		<guid isPermaLink="false">/?p=1759#comment-63124</guid>
		<description><![CDATA[Amen]]></description>
		<content:encoded><![CDATA[<p>Amen</p>
]]></content:encoded>
	</item>
</channel>
</rss>
