<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>Comments on: Why Investing in the Denton Community Market is Visionary</title>
	<atom:link href="/2015/08/why-investing-in-the-denton-community-market-is-visionary/feed/" rel="self" type="application/rss+xml" />
	<link>/2015/08/why-investing-in-the-denton-community-market-is-visionary/</link>
	<description>Kevin Roden for Denton City Council</description>
	<lastBuildDate>Tue, 07 Jun 2016 02:43:59 +0000</lastBuildDate>
		<sy:updatePeriod>hourly</sy:updatePeriod>
		<sy:updateFrequency>1</sy:updateFrequency>
	<generator>http://wordpress.org/?v=3.8.14</generator>
	<item>
		<title>By: kevin</title>
		<link>/2015/08/why-investing-in-the-denton-community-market-is-visionary/#comment-74336</link>
		<dc:creator><![CDATA[kevin]]></dc:creator>
		<pubDate>Tue, 07 Jun 2016 02:43:59 +0000</pubDate>
		<guid isPermaLink="false">/?p=1865#comment-74336</guid>
		<description><![CDATA[Great question, Sarah. I think the word gentrification is used too much, especially in Denton - in most cases where it doesn&#039;t have much meaning. Almost to the extent that there shouldn&#039;t be any investment in lower income areas. I don&#039;t think that is what you are implying here, but I&#039;ve been working with this neighborhood for my entire tenure to pursue neighborhood stability, attract meaningful investment in both public and private spaces, connect it to the downtown area, make the dcta train line and trail attractive amenities for the neighbors and so on. We&#039;ve seen big investments at each of the parks (and more on the way), huge investments in beautifying the rail corridor, the addition of historic landmarks along the rail trail (most of which point to the history of SE Denton and its leaders), and what you are seeing now - investments in otherwise underutilized industrial properties (most of which are either vacant, contributing to blight, or counterproductive to neighborhood living (i.e a cement plant).

From the start of any talk of changes in the area, I&#039;ve met with leaders of the SE Denton Neighborhood Association as well as the entire group on a monthly basis. We&#039;ve had meetings where I&#039;ve brought in DCTA officials, developers, the leaders of the community market, GDAC, KDB, and others in the area to discuss not only concerns, but also possibilities for opportunities moving forward. THis is an ongoing conversation.

But saying that cleaning up and redeveloping blighted old industrial spaces, some of which was not occupied by anyone (and certainly none of which was occupied as residential structures) is gentrification, it seems equivocation on the term. The term generally refers to lower income or minority residences or businesses being forced out for new development. All we are seeing is old, vacant buildings, parking lots, and other industrial spots being refurbished for a better, more vibrant use.

And the uses, in this case, contain a million possibilities for being real assets for this community. An arts center, KDB, a small business tech incubator with community programming space, a community market where entrepreneurs can start a business for less than $20 a week - all make for remarkable assets for neighborhood students and community members. These are the conversations we&#039;re having. And anyone who has been in these conversations knows that this is my number one vision for the area.

So I understand the concern and truly appreciate.

It&#039;s also helpful to have some data on home ownership and rents in the area. THere is actually a significantly high rate of home ownership among the long-time African American residents in the area - some of whom have families connected to the original Quakertown diaspora. Many of them own rental properties. Much of the increase in rental properties in this area (and across the city) are due not do rich hipsters moving in (there aren&#039;t many of them in Denton), but rather the reality of a college town with 50,000 students and very little student housing to support them. If there is a cause for gentrification in Denton, I&#039;d encourage folks to look at student housing more than things like the emergency of barley and board.

Yes, conversations are taking place - I likely share all of your concerns and visions for the area. Happy to chat more and hear what ideas you might have to help make sure such investments are a net positive for the community. That&#039;s always been my goal.]]></description>
		<content:encoded><![CDATA[<p>Great question, Sarah. I think the word gentrification is used too much, especially in Denton &#8211; in most cases where it doesn&#8217;t have much meaning. Almost to the extent that there shouldn&#8217;t be any investment in lower income areas. I don&#8217;t think that is what you are implying here, but I&#8217;ve been working with this neighborhood for my entire tenure to pursue neighborhood stability, attract meaningful investment in both public and private spaces, connect it to the downtown area, make the dcta train line and trail attractive amenities for the neighbors and so on. We&#8217;ve seen big investments at each of the parks (and more on the way), huge investments in beautifying the rail corridor, the addition of historic landmarks along the rail trail (most of which point to the history of SE Denton and its leaders), and what you are seeing now &#8211; investments in otherwise underutilized industrial properties (most of which are either vacant, contributing to blight, or counterproductive to neighborhood living (i.e a cement plant).</p>
<p>From the start of any talk of changes in the area, I&#8217;ve met with leaders of the SE Denton Neighborhood Association as well as the entire group on a monthly basis. We&#8217;ve had meetings where I&#8217;ve brought in DCTA officials, developers, the leaders of the community market, GDAC, KDB, and others in the area to discuss not only concerns, but also possibilities for opportunities moving forward. THis is an ongoing conversation.</p>
<p>But saying that cleaning up and redeveloping blighted old industrial spaces, some of which was not occupied by anyone (and certainly none of which was occupied as residential structures) is gentrification, it seems equivocation on the term. The term generally refers to lower income or minority residences or businesses being forced out for new development. All we are seeing is old, vacant buildings, parking lots, and other industrial spots being refurbished for a better, more vibrant use.</p>
<p>And the uses, in this case, contain a million possibilities for being real assets for this community. An arts center, KDB, a small business tech incubator with community programming space, a community market where entrepreneurs can start a business for less than $20 a week &#8211; all make for remarkable assets for neighborhood students and community members. These are the conversations we&#8217;re having. And anyone who has been in these conversations knows that this is my number one vision for the area.</p>
<p>So I understand the concern and truly appreciate.</p>
<p>It&#8217;s also helpful to have some data on home ownership and rents in the area. THere is actually a significantly high rate of home ownership among the long-time African American residents in the area &#8211; some of whom have families connected to the original Quakertown diaspora. Many of them own rental properties. Much of the increase in rental properties in this area (and across the city) are due not do rich hipsters moving in (there aren&#8217;t many of them in Denton), but rather the reality of a college town with 50,000 students and very little student housing to support them. If there is a cause for gentrification in Denton, I&#8217;d encourage folks to look at student housing more than things like the emergency of barley and board.</p>
<p>Yes, conversations are taking place &#8211; I likely share all of your concerns and visions for the area. Happy to chat more and hear what ideas you might have to help make sure such investments are a net positive for the community. That&#8217;s always been my goal.</p>
]]></content:encoded>
	</item>
	<item>
		<title>By: Sarah Gamblin</title>
		<link>/2015/08/why-investing-in-the-denton-community-market-is-visionary/#comment-74334</link>
		<dc:creator><![CDATA[Sarah Gamblin]]></dc:creator>
		<pubDate>Mon, 06 Jun 2016 15:37:08 +0000</pubDate>
		<guid isPermaLink="false">/?p=1865#comment-74334</guid>
		<description><![CDATA[I acknowledge the optimism of your vision of prosperity for the residents of southeast Denton. But I do recognize it as a classic scenario of gentrification. What has been done or will be done to I insure that the black and Hispanic residents of these neighborhoods are actively involved in shaping the future of their neighborhood? I don&#039;t mean to be inflammatory, but your blog does not indicate how this vision is NOT a 21st C recipe for another Quakertown. Where are the voices of the residents? How will they be involved?]]></description>
		<content:encoded><![CDATA[<p>I acknowledge the optimism of your vision of prosperity for the residents of southeast Denton. But I do recognize it as a classic scenario of gentrification. What has been done or will be done to I insure that the black and Hispanic residents of these neighborhoods are actively involved in shaping the future of their neighborhood? I don&#8217;t mean to be inflammatory, but your blog does not indicate how this vision is NOT a 21st C recipe for another Quakertown. Where are the voices of the residents? How will they be involved?</p>
]]></content:encoded>
	</item>
</channel>
</rss>
