<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
		>
<channel>
	<title>Comments on: Monday Night Tweets</title>
	<atom:link href="/2013/07/monday-night-tweets/feed/" rel="self" type="application/rss+xml" />
	<link>/2013/07/monday-night-tweets/</link>
	<description>Kevin Roden for Denton City Council</description>
	<lastBuildDate>Wed, 11 Sep 2013 00:36:39 +0000</lastBuildDate>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>http://wordpress.org/?v=3.5.2</generator>
	<item>
		<title>By: Jennifer Lane</title>
		<link>/2013/07/monday-night-tweets/#comment-21037</link>
		<dc:creator>Jennifer Lane</dc:creator>
		<pubDate>Thu, 11 Jul 2013 17:44:02 +0000</pubDate>
		<guid isPermaLink="false">/?p=843#comment-21037</guid>
		<description><![CDATA[Hi Kevin, thanks for these posts. Sums it up in my book though I really don&#039;t think blaming women or men for biology is the best solution, whereas all the suggestions regarding social (not just individual) responsibility (instead of coercion) are helpful. I wish I&#039;d known about your beer summit last night. I would have come. Please let me know in future. I don&#039;t have twitter but you can let me know via text, email, or Facebook.]]></description>
		<content:encoded><![CDATA[<p>Hi Kevin, thanks for these posts. Sums it up in my book though I really don&#8217;t think blaming women or men for biology is the best solution, whereas all the suggestions regarding social (not just individual) responsibility (instead of coercion) are helpful. I wish I&#8217;d known about your beer summit last night. I would have come. Please let me know in future. I don&#8217;t have twitter but you can let me know via text, email, or Facebook.</p>
]]></content:encoded>
	</item>
	<item>
		<title>By: Josiah Hampton</title>
		<link>/2013/07/monday-night-tweets/#comment-21014</link>
		<dc:creator>Josiah Hampton</dc:creator>
		<pubDate>Thu, 11 Jul 2013 12:49:43 +0000</pubDate>
		<guid isPermaLink="false">/?p=843#comment-21014</guid>
		<description><![CDATA[Really, does Kevin fail to realize that he is flawed and that he has problems? I hardly think this comment helps progress either.]]></description>
		<content:encoded><![CDATA[<p>Really, does Kevin fail to realize that he is flawed and that he has problems? I hardly think this comment helps progress either.</p>
]]></content:encoded>
	</item>
	<item>
		<title>By: Vincent Simsbury</title>
		<link>/2013/07/monday-night-tweets/#comment-20966</link>
		<dc:creator>Vincent Simsbury</dc:creator>
		<pubDate>Thu, 11 Jul 2013 03:47:50 +0000</pubDate>
		<guid isPermaLink="false">/?p=843#comment-20966</guid>
		<description><![CDATA[I am proud to have your as a district representative in my city. I find it insipid that conservative values have been stripped from their origin. A true conservative would acknowledge that it is not the government&#039;s right to tell any person what they can and cant do with their OWN body. I would like to thank you Kevin for being the one of the few people in this state who is open and honest enough to talk about abortion. Additionally, religion should never have anything to do with politics. Period. Once again thank you Kevin for following through on your OWN perceptions.]]></description>
		<content:encoded><![CDATA[<p>I am proud to have your as a district representative in my city. I find it insipid that conservative values have been stripped from their origin. A true conservative would acknowledge that it is not the government&#8217;s right to tell any person what they can and cant do with their OWN body. I would like to thank you Kevin for being the one of the few people in this state who is open and honest enough to talk about abortion. Additionally, religion should never have anything to do with politics. Period. Once again thank you Kevin for following through on your OWN perceptions.</p>
]]></content:encoded>
	</item>
	<item>
		<title>By: John</title>
		<link>/2013/07/monday-night-tweets/#comment-20955</link>
		<dc:creator>John</dc:creator>
		<pubDate>Thu, 11 Jul 2013 03:04:09 +0000</pubDate>
		<guid isPermaLink="false">/?p=843#comment-20955</guid>
		<description><![CDATA[Wish I could be there to join the discussion tonight. Kevin: I hope you will continue to participate in our shared public discussion on this and many other issues. Having such a direct and open voice in our local government is a rare treat.

For those offended by his comments: I don&#039;t understand how a statement that at least _some_ men abuse the legality of abortion should offend those who don&#039;t. Unless you personally support abortion only as a way out of sexual irresponsibility and would pressure a partner into having one against her will or better judgement, he wasn&#039;t calling you names. If you do think it&#039;s OK to pressure someone into such a terrible decision, you deserve the name-calling.]]></description>
		<content:encoded><![CDATA[<p>Wish I could be there to join the discussion tonight. Kevin: I hope you will continue to participate in our shared public discussion on this and many other issues. Having such a direct and open voice in our local government is a rare treat.</p>
<p>For those offended by his comments: I don&#8217;t understand how a statement that at least _some_ men abuse the legality of abortion should offend those who don&#8217;t. Unless you personally support abortion only as a way out of sexual irresponsibility and would pressure a partner into having one against her will or better judgement, he wasn&#8217;t calling you names. If you do think it&#8217;s OK to pressure someone into such a terrible decision, you deserve the name-calling.</p>
]]></content:encoded>
	</item>
	<item>
		<title>By: Michael Furrh</title>
		<link>/2013/07/monday-night-tweets/#comment-20928</link>
		<dc:creator>Michael Furrh</dc:creator>
		<pubDate>Wed, 10 Jul 2013 22:34:59 +0000</pubDate>
		<guid isPermaLink="false">/?p=843#comment-20928</guid>
		<description><![CDATA[While I would vote to prevent the killing of a viable individual, I would otherwise keep my nose out of it.  I would love to have a beer tonight but would rather celebrate the birthday of a great man Nicola Tesla.]]></description>
		<content:encoded><![CDATA[<p>While I would vote to prevent the killing of a viable individual, I would otherwise keep my nose out of it.  I would love to have a beer tonight but would rather celebrate the birthday of a great man Nicola Tesla.</p>
]]></content:encoded>
	</item>
	<item>
		<title>By: Sarah Gamblin</title>
		<link>/2013/07/monday-night-tweets/#comment-20913</link>
		<dc:creator>Sarah Gamblin</dc:creator>
		<pubDate>Wed, 10 Jul 2013 21:25:51 +0000</pubDate>
		<guid isPermaLink="false">/?p=843#comment-20913</guid>
		<description><![CDATA[I am resolutely pro choice. and even though I cringe at how the specific nuances reveal themselves, I am grateful for the opportunity to listen, work through, and clarify some of these critical aspects of the issues.  Furthermore, I am grateful to have this opportunity to imagine a position that is simultaneously pro-choice and pro-life- for how else are we to get through this?
Outlawing abortions will not eliminate the sluts and the douchebags, it will simply take away from everyone the right to choose -- even the &quot;good,&quot; &quot;virtuous,&quot;  and &quot;responsible&quot; people out there.]]></description>
		<content:encoded><![CDATA[<p>I am resolutely pro choice. and even though I cringe at how the specific nuances reveal themselves, I am grateful for the opportunity to listen, work through, and clarify some of these critical aspects of the issues.  Furthermore, I am grateful to have this opportunity to imagine a position that is simultaneously pro-choice and pro-life- for how else are we to get through this?<br />
Outlawing abortions will not eliminate the sluts and the douchebags, it will simply take away from everyone the right to choose &#8212; even the &#8220;good,&#8221; &#8220;virtuous,&#8221;  and &#8220;responsible&#8221; people out there.</p>
]]></content:encoded>
	</item>
	<item>
		<title>By: Sonny Bynum</title>
		<link>/2013/07/monday-night-tweets/#comment-20912</link>
		<dc:creator>Sonny Bynum</dc:creator>
		<pubDate>Wed, 10 Jul 2013 21:09:59 +0000</pubDate>
		<guid isPermaLink="false">/?p=843#comment-20912</guid>
		<description><![CDATA[BC, thanks for the frank comments.

You make the point that Kevin&#039;s rhetoric and positional parameters are no better than that of the political establishment, whom he bemoans and occasionally criticizes. I would offer that as a public, political figure, representative of his best understanding and virtue first, and a constituency second, that he must have and use positional parameters, and he must occasionally employ rhetoric. In fact, we all do both things. Could you specify as to why either are &quot;no better&quot;?

If you feel that the reason why they are &quot;no better&quot; is that he uses generalizations, especially about the &quot;some&quot; of the men that he references, or the lack of specificity about how many that represents, let me offer that &quot;some&quot; might be best defined as &quot;more than one, but probably not all&quot;, so in that sense, the word is correctly used.

While I agree that an accusatory implication would have been out of place, I can&#039;t say that I read it that way the first time. However, I feel that he did an adequate job of making reference to the specific offenders, and not all men who hold that position. I think an implication would have to have been drawn by the listener, and not really on the basis of what was said. Certainly, I would have felt comfortable saying it, despite my own position on the issue, as what was being said by those specific men was offensive to women in general, rather than in defense of them.

And I&#039;m sure that the general consensus would be that the quality of a person&#039;s perspective is improved by dialogue, careful listening and contemplation, and by seeking resolution of conflict rather than deepening it. By that criteria, I&#039;d say that the host of frequent beer summits, wherein weighty ideas are discussed, does have a better perspective, and could hardly avoid having better positional parameters and employ improved rhetoric. For this reason, I hold Kevin in less contempt than I might normally do, and despite our differences of opinion, I tend to distrust him a little less than I do most politicians.

Since this entry, like most of the things we all say, does employ some rhetoric, I&#039;m sure that it would be fruitless to pick it apart as if it were a technical document or white paper. Still, some analysis can&#039;t hurt. I appreciate your acumen in doing so.]]></description>
		<content:encoded><![CDATA[<p>BC, thanks for the frank comments.</p>
<p>You make the point that Kevin&#8217;s rhetoric and positional parameters are no better than that of the political establishment, whom he bemoans and occasionally criticizes. I would offer that as a public, political figure, representative of his best understanding and virtue first, and a constituency second, that he must have and use positional parameters, and he must occasionally employ rhetoric. In fact, we all do both things. Could you specify as to why either are &#8220;no better&#8221;?</p>
<p>If you feel that the reason why they are &#8220;no better&#8221; is that he uses generalizations, especially about the &#8220;some&#8221; of the men that he references, or the lack of specificity about how many that represents, let me offer that &#8220;some&#8221; might be best defined as &#8220;more than one, but probably not all&#8221;, so in that sense, the word is correctly used.</p>
<p>While I agree that an accusatory implication would have been out of place, I can&#8217;t say that I read it that way the first time. However, I feel that he did an adequate job of making reference to the specific offenders, and not all men who hold that position. I think an implication would have to have been drawn by the listener, and not really on the basis of what was said. Certainly, I would have felt comfortable saying it, despite my own position on the issue, as what was being said by those specific men was offensive to women in general, rather than in defense of them.</p>
<p>And I&#8217;m sure that the general consensus would be that the quality of a person&#8217;s perspective is improved by dialogue, careful listening and contemplation, and by seeking resolution of conflict rather than deepening it. By that criteria, I&#8217;d say that the host of frequent beer summits, wherein weighty ideas are discussed, does have a better perspective, and could hardly avoid having better positional parameters and employ improved rhetoric. For this reason, I hold Kevin in less contempt than I might normally do, and despite our differences of opinion, I tend to distrust him a little less than I do most politicians.</p>
<p>Since this entry, like most of the things we all say, does employ some rhetoric, I&#8217;m sure that it would be fruitless to pick it apart as if it were a technical document or white paper. Still, some analysis can&#8217;t hurt. I appreciate your acumen in doing so.</p>
]]></content:encoded>
	</item>
	<item>
		<title>By: Nathan Miller</title>
		<link>/2013/07/monday-night-tweets/#comment-20900</link>
		<dc:creator>Nathan Miller</dc:creator>
		<pubDate>Wed, 10 Jul 2013 19:32:52 +0000</pubDate>
		<guid isPermaLink="false">/?p=843#comment-20900</guid>
		<description><![CDATA[I&#039;m proud to have you represent District 1, proud to be your friend, and hope to see you on the A-Train soon.]]></description>
		<content:encoded><![CDATA[<p>I&#8217;m proud to have you represent District 1, proud to be your friend, and hope to see you on the A-Train soon.</p>
]]></content:encoded>
	</item>
	<item>
		<title>By: Jessica Grimes</title>
		<link>/2013/07/monday-night-tweets/#comment-20894</link>
		<dc:creator>Jessica Grimes</dc:creator>
		<pubDate>Wed, 10 Jul 2013 18:38:40 +0000</pubDate>
		<guid isPermaLink="false">/?p=843#comment-20894</guid>
		<description><![CDATA[I wish I could agree with your take on the GOP. To say that they have not been concerned about abortion in the state is -- well-- false. The fact is, democrats have never been concerned about these issues in any real way. In fact I think its now &quot; safe, legal and without apology&quot;... no rare in there. They want more PPA and less intervention. Less counseling and to shut down crisis pregnancy centers. As a 15 year old in 1995 in Texas I had an abortion.  Went through the PP when it was by the Lubys. They shuffled be off the Routh Street Clinic in Dallas. No mention of telling my parents, no mention of adoption, no counseling, no questioning. No one. Not at PP or RS.  That was before parental notification laws.... Ala Democrats. Oh how I wish that those road blocks would have been in place there. Oh how I wish people where &quot;making a stink&quot; or &quot;pushing things thru&quot; then. Probably would have been painted as awful Republicans who do not care about women. Esp poor minorities ( ME). Such a lie. They would have been the only ones really fighting to give me and my baby a chance. Truthfully- the only party making any significant strides to limit the damage- emotionally, physically, and spiritually -- are conservatives and republicans. I hope you talk to more post abortive women to see that truth eventually. 

I also do not think you have to tie saving babies / stopping the end of a life to funding CMCs to the tune of billions or dollars. While that is nice- it is by NO means something we have to wait for until we protect life. We dont wait for better funded courts , more police etc before we make things illegal and protect the public from harm. Before we Protect life, liberty and the pursuit of happiness. 

As a Mexican American woman who is a social worker and serves the poor and disenfranchised daily, I think you are missing the boat Kevin- or have been spending too much time in the UNT / higher education democratic liberal bubble. 

I do appreciate that you said you were pro life. From what I have observed you are a man of faith. I hope that you continue to push boundaries and flesh through this issue... and I hope that wherever you go politically in the future, that you fight for the rights of our city and states MOST vulnerable population- the unborn child]]></description>
		<content:encoded><![CDATA[<p>I wish I could agree with your take on the GOP. To say that they have not been concerned about abortion in the state is &#8212; well&#8211; false. The fact is, democrats have never been concerned about these issues in any real way. In fact I think its now &#8221; safe, legal and without apology&#8221;&#8230; no rare in there. They want more PPA and less intervention. Less counseling and to shut down crisis pregnancy centers. As a 15 year old in 1995 in Texas I had an abortion.  Went through the PP when it was by the Lubys. They shuffled be off the Routh Street Clinic in Dallas. No mention of telling my parents, no mention of adoption, no counseling, no questioning. No one. Not at PP or RS.  That was before parental notification laws&#8230;. Ala Democrats. Oh how I wish that those road blocks would have been in place there. Oh how I wish people where &#8220;making a stink&#8221; or &#8220;pushing things thru&#8221; then. Probably would have been painted as awful Republicans who do not care about women. Esp poor minorities ( ME). Such a lie. They would have been the only ones really fighting to give me and my baby a chance. Truthfully- the only party making any significant strides to limit the damage- emotionally, physically, and spiritually &#8212; are conservatives and republicans. I hope you talk to more post abortive women to see that truth eventually. </p>
<p>I also do not think you have to tie saving babies / stopping the end of a life to funding CMCs to the tune of billions or dollars. While that is nice- it is by NO means something we have to wait for until we protect life. We dont wait for better funded courts , more police etc before we make things illegal and protect the public from harm. Before we Protect life, liberty and the pursuit of happiness. </p>
<p>As a Mexican American woman who is a social worker and serves the poor and disenfranchised daily, I think you are missing the boat Kevin- or have been spending too much time in the UNT / higher education democratic liberal bubble. </p>
<p>I do appreciate that you said you were pro life. From what I have observed you are a man of faith. I hope that you continue to push boundaries and flesh through this issue&#8230; and I hope that wherever you go politically in the future, that you fight for the rights of our city and states MOST vulnerable population- the unborn child</p>
]]></content:encoded>
	</item>
	<item>
		<title>By: BC</title>
		<link>/2013/07/monday-night-tweets/#comment-20865</link>
		<dc:creator>BC</dc:creator>
		<pubDate>Wed, 10 Jul 2013 15:07:05 +0000</pubDate>
		<guid isPermaLink="false">/?p=843#comment-20865</guid>
		<description><![CDATA[Just because you &quot;reject the parameters of the debate as defined by the political landscape&quot; does not mean that your own parameters are any better. You constantly bemoan the rhetoric of political parties, but you fail to realize that your own is often no better.

You want people to stop categorizing you and everyone else, but that&#039;s exactly what you&#039;ve done over and over again here. You insinuated that &quot;some&quot; of the men who support a woman&#039;s right to choose are, in fact, only promoting their own self-interest. That doesn&#039;t even pass a Wikipedia spot check for weasel words. How many is &quot;some&quot;? Where is the proof for such a claim?

You want people to take a step back, breathe, and work together towards common ground, but with your &quot;apology&quot;, you imply that the men who were offended by that statement were in fact the very people you were referring to. Clearly this was meant to be inflammatory and not in any way conducive to progress.

So yes, we get the point, but all the beer summits in the world aren&#039;t going to help if the guy running the summit can&#039;t realize that he has just as many problems as the plebeians and politicians he loves to lambaste.
-BC]]></description>
		<content:encoded><![CDATA[<p>Just because you &#8220;reject the parameters of the debate as defined by the political landscape&#8221; does not mean that your own parameters are any better. You constantly bemoan the rhetoric of political parties, but you fail to realize that your own is often no better.</p>
<p>You want people to stop categorizing you and everyone else, but that&#8217;s exactly what you&#8217;ve done over and over again here. You insinuated that &#8220;some&#8221; of the men who support a woman&#8217;s right to choose are, in fact, only promoting their own self-interest. That doesn&#8217;t even pass a Wikipedia spot check for weasel words. How many is &#8220;some&#8221;? Where is the proof for such a claim?</p>
<p>You want people to take a step back, breathe, and work together towards common ground, but with your &#8220;apology&#8221;, you imply that the men who were offended by that statement were in fact the very people you were referring to. Clearly this was meant to be inflammatory and not in any way conducive to progress.</p>
<p>So yes, we get the point, but all the beer summits in the world aren&#8217;t going to help if the guy running the summit can&#8217;t realize that he has just as many problems as the plebeians and politicians he loves to lambaste.<br />
-BC</p>
]]></content:encoded>
	</item>
</channel>
</rss>
