<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
		>
<channel>
	<title>Comments on: Better Block Comes to Denton?</title>
	<atom:link href="/2013/08/better-block-comes-to-denton/feed/" rel="self" type="application/rss+xml" />
	<link>/2013/08/better-block-comes-to-denton/</link>
	<description>Kevin Roden for Denton City Council</description>
	<lastBuildDate>Fri, 16 Aug 2013 05:35:27 +0000</lastBuildDate>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>http://wordpress.org/?v=3.5.2</generator>
	<item>
		<title>By: Denise Allen</title>
		<link>/2013/08/better-block-comes-to-denton/#comment-24605</link>
		<dc:creator>Denise Allen</dc:creator>
		<pubDate>Wed, 07 Aug 2013 16:19:31 +0000</pubDate>
		<guid isPermaLink="false">/?p=861#comment-24605</guid>
		<description><![CDATA[I live outside the city limits (Green Valley area), but this is a very good idea for Denton which I consider my community. Communities could solve many problems by getting together and acting together. I hope that as part of this effort, some of the older business that want to stay in the game can find grants or other sources of funding to get up to code. You are putting forth some interesting approaches to developing Denton. Thanks.]]></description>
		<content:encoded><![CDATA[<p>I live outside the city limits (Green Valley area), but this is a very good idea for Denton which I consider my community. Communities could solve many problems by getting together and acting together. I hope that as part of this effort, some of the older business that want to stay in the game can find grants or other sources of funding to get up to code. You are putting forth some interesting approaches to developing Denton. Thanks.</p>
]]></content:encoded>
	</item>
</channel>
</rss>
