/* Meet the table that displays our shows */
.gigpress-table {
	width: 100%;
	border: none;
	border-collapse: collapse;
	border-top: 1px solid #CCC;
	margin: 3em 0 1em 0;
}

/* This is for the main header cells containing the column labels */
tr.gigpress-header th {
	font-family: 'FunctionProMedium';
	font-size: 1.2em;
	font-weight: normal;
}

/* So if you like you can style the date differently */
span.gigpress-sidebar-date {
	font-weight: normal;
	display: inline;
}

/* This wraps each of the bits of info in the "info" cell */
span.gigpress-info-item { margin-right: .5em; }

/* 'Notes' */
span.gigpress-notes {
	display: block;
	font-size: 1.1em;
	margin: .5em 0;
	}

span.gigpress-sidebar-notes {
	display: block;
	font-size: .9em;
	line-height: 1.4em;
	}
