/* general style */
div.logo a {
display:block;
}
div#header_container {
border-top:2px solid #333;
}
/* div.headline_title {
background:url("images/headline_bg.png") left center no-repeat;
} */
div.headline_close {
background:url("images/headline_close.png") no-repeat scroll left bottom transparent;
}
.headline_title h3 {
color:#111;
}
.headline_inner h4 {
color:#111;
}
#searchwrapper input {
color:#444;
}
#searchwrapper {
background-image:url("images/search.png");
}
div#main_container {
background:none repeat scroll 0 0 #F8F8F8;
}
div#footer_container {
background:#3784ab url() 50% 0% no-repeat;
border-top:1px solid #ccc;
}
.footer h5 {
color:#333;
}
ul.footer_widgets h3,
ul.footer_widgets h3 a {
color:#333;
}
.footer ul.footer_widgets ul.thumblist img {
background:#a9acba; border:1px solid #5a5a5a; margin-right:17px;
}
.footer a {
color:#4a4a4a;
}
.footer ul a:hover {
color:#333;
}
.footer ul ul li:hover {
background: #458bae;
background: rgba(200, 200, 200, .1);
}
.footer ul {
border-color:#5491b0;
border-color: rgba(200, 200, 200, .4);
color:#333;
}
ul.footer_widgets ul li {
border-bottom:1px solid #5491b0;
border-bottom:1px solid rgba(200, 200, 200, .2);
}
.footer input, .footer textarea {
background:#f6f6f6;
}
.footer input:hover, .footer textarea:hover {
background:#eee;
}
.footer_form label {}
.footer_form .submit input {
color:#4a4a4a;
background: #5491b0;
background: rgba(200, 200, 200, .2);
}
.footer_form .submit input:hover {
color:#333;
background: #5491b0;
background: rgba(200, 200, 200, .4);
}
.copyright p {
color:#717181;
}
.copyright p a, .copyright p a:hover {
color:#717181;
}
div.copyright_container {
background:#333;
border-top: 1px solid #3e5866;
}
div.copyright div.logo_fade {
}

/* dropdown */
ul.dropdown li a:hover, ul.dropdown .dir:hover {
color:#777;
}





/* bullerstyle */

/* fonts */
@font-face {
	font-family: 'FunctionProBold';
	src: url('fonts/FunctionPro-Bold-webfont.eot');
	src: url('fonts/FunctionPro-Bold-webfont.eot?iefix') format('eot'),
	     url('fonts/FunctionPro-Bold-webfont.woff') format('woff'),
	     url('fonts/FunctionPro-Bold-webfont.ttf') format('truetype'),
	     url('fonts/FunctionPro-Bold-webfont.svg#webfontfJXKJAfV') format('svg');
	font-weight: normal;
	font-style: normal;
	}

@font-face {
	font-family: 'FunctionProMedium';
	src: url('fonts/FunctionPro-Medium-webfont.eot');
	src: url('fonts/FunctionPro-Medium-webfont.eot?iefix') format('eot'),
	     url('fonts/FunctionPro-Medium-webfont.woff') format('woff'),
	     url('fonts/FunctionPro-Medium-webfont.ttf') format('truetype'),
	     url('fonts/FunctionPro-Medium-webfont.svg#webfontrF77UyWk') format('svg');
	font-weight: normal;
	font-style: normal;
	}

@font-face {
	font-family: 'FunctionProLightOblique';
	src: url('fonts/FunctionPro-LightOblique-webfont.eot');
	src: url('fonts/FunctionPro-LightOblique-webfont.eot?iefix') format('eot'),
	     url('fonts/FunctionPro-LightOblique-webfont.woff') format('woff'),
	     url('fonts/FunctionPro-LightOblique-webfont.ttf') format('truetype'),
	     url('fonts/FunctionPro-LightOblique-webfont.svg#webfontzewVrfGr') format('svg');
	font-weight: normal;
	font-style: normal;
	}

.futura-bold { font-family: 'FunctionProBold'; }
.futura-med { font-family: 'FunctionProMedium'; }
.futura-light { font-family: 'FunctionProLightOblique'; }
.uppercase { text-transform: uppercase; }
.lowercase { text-transform: lowercase; }


/* general */

a.post-edit-link {
	color: #aaa;
	text-transform: lowercase;
	}

a.post-edit-link:hover { color: #3784ab; }

div#header_container { background-color:#3784ab; }

div.logo a {
	background: url('images/roden/roden-for-denton.png');
	height: 70px;
	width: 420px;
	}

div.navline {
	margin-top: 14px;
	width: 530px;
	text-align: right;
	}

#nav {
	padding: 5px 0;
	text-align: right;
	}

#nav li {
	display: inline-block;
	float: none;
	}

#nav li a {
	color: #eee;
	font-family: 'FunctionProMedium';
	font-size: 1.5em;
	letter-spacing: .1em;
	padding: 5px 2px 5px 19px;
	text-transform: uppercase;
	}

#nav li a:hover { color: #333; }

div.headline_search { clear: right; }

.headline_title h3 {
	font-family: 'FunctionProLightOblique';
	font-size: 1.5em;
	letter-spacing: .1em;
	text-transform: lowercase;
	}

div.secondary-outer {
	background: #ddd;
	border-bottom: 1px solid #ccc;
	border-top: 1px solid #ccc;
	}
div.secondary-header {
	color: #666;
	font-family: 'FunctionProMedium';
	font-size: 1.2em;
	margin: 0px auto;
	text-align: right;
	text-transform: uppercase;
	width: 960px;
	}

#secondary-header-nav { margin-bottom: 0; text-align: right; }
#secondary-header-nav li { display: inline; }
#secondary-header-nav a,
div.secondary-header form label {
	color: #666;
	padding: 5px 2px 5px 16px;
	}
div.secondary-header form label { padding-left: 12px; }
#secondary-header-nav a:hover,
div.secondary-header form label:hover { color: #333; }

div.secondary-header form { text-align: right; }
div.secondary-header form label { margin-top: 2px; }

div.secondary-header form input[type="image"] {
	border: none;
	height: 16px;
	margin: -2px 0 0;
	padding: 0;
	vertical-align: middle;
	width: 24px;
	}

#secondary-header-nav,
div.secondary-header form { display: inline; }

.pages h4 { background: url('images/roden/pages-h4-bg.png') right 45% repeat-x; }

.pages h4 a {
	background: #f8f8f8;
	color: #333;
	font-family: 'FunctionProBold';
	padding-right: 5px;
	text-transform: uppercase;
	}

.pages img { opacity: .97; }
.pages:hover img { opacity: .9; }

.home div.bar { background: #ccc; }
.homepage-headline { background: url('images/roden/homepage-headline-h4-bg.png') right 45% repeat-x; }



.featured2 h4 {
	font-family: 'FunctionProMedium';
	line-height: 1.2em;
	margin-bottom: .5em;
	}

.featured2 p { color: #888; }
.featured2 a { color: #3784ab; }
.featured2 a:hover { color: #333; }


div.round h4 {
	background: #f8f8f8;
	color: #ccc;
	display: inline-block;
	font-family: 'FunctionProMedium';
	padding: 0 8px;
	text-transform: uppercase;
	}

div.main { padding-bottom: 15px; }

.single-post h3,
.page-template-blog-php h3 {
	font-size: 2.09em;
	}

.box_twothirds p a { color: #3784ab; }
.box_twothirds p a:hover { border-bottom: 1px dotted #3784ab; }

h2.child-page-title { margin-bottom: 0; }

input[type="image"] { background: transparent !important; }

div.box_twothirds h2,
div.box_twothirds h3 { font-family: 'FunctionProBold'; text-transform: uppercase; }
#sidebar h3,
#sidebar h4 { color: #888; font-family: 'FunctionProMedium'; font-size: 1.2em; text-transform: uppercase; }
#sidebar { color: #888; }
#sidebar a { color: #888; }
#sidebar a:hover { color: #3784ab; }
#sidebar ul.widgets ul a { font-size: 1em; }
ul.widgets ul li { background-position-y: 1em; }

span.pp-logo {
	background: url('images/roden/pp-14a.png') left -1px no-repeat;
	display: inline-block;
	height: 18px;
	margin-left: 3px;
	overflow:hidden;
	text-indent:-999em;
	width: 52px;
	}

a.pp-donate:hover span.pp-logo { background-position: left -21px; }

.fan_box .connect_top { padding: 0 !important; } /* futile attempt */
#fbw_likebox-3 h3.widget-title { margin-bottom: 2px; }
#fbw_likebox-3 iframe { height: 76px; left: -10px; position: relative; }


/* footer, footer widgets */

div.footer {
	color: #333;
	padding-bottom: 15px;
	}

div.footer ul,
div.footer .box_30,
div.footer .box_162,
div.footer .box_300 { margin-bottom: 0; }

ul.footer_widgets h3,
ul.footer_widgets h5 {
	color: #333;
	font-family: 'FunctionProMedium';
	font-size: 1.2em;
	text-transform: uppercase;
	}

div.footer ul li.widget-container ul li,
div.footer ul li form { font-size: .9em; }
div.footer ul li form input,
div.footer ul li form textarea { font-size: 11px; }

ul.footer_widgets .twitter li {
	background: transparent;
	padding: 2px 2px 5px;
	}
.twitter-timestamp {
	color: #333;
	display: block;
	font-size: .8em;
	text-align: right;
	}

#rss-3 a[title="Syndicate this content"] { display: none; }

div.copyright { color: #bbb; height: 36px; }
div.copyright div.logo_fade {
	font-family: 'FunctionProMedium';
	margin-right: 0;
	margin-top: 8px;
	text-transform: uppercase;
	}
span.footer-roden { font-family: 'FunctionProBold'; padding-right: 2px; }
span.footer-for { font-family: 'FunctionProLightOblique'; padding-right: 2px; text-transform: lowercase; }
div.copyright div.logo_fade a { color: #bbb; }
div.copyright div.logo_fade a:hover { color: #ddd; }
div.copyright div.social { margin-left: 18px; margin-top: 7px; }
ul.credits {
	float: right;
	font-family: 'FunctionProLightOblique';
	margin-top: 7px;
	text-align: right;
	text-transform: lowercase;
	}
ul.credits li {
	display: inline;
	padding-left: 12px;
	text-align: right;
	}
span.credited, a.credited {
	font-family: 'FunctionProMedium';
	text-transform: uppercase;
	}
#footer-social li {
	display: inline;
	font-family: 'FunctionProMedium';
	text-transform: uppercase;
	}
#footer-social li a { padding-right: 12px; }
#footer-social li a,
ul.credits li,
ul.credits li a { color: #ccc; }
#footer-social li a:hover,
ul.credits li a:hover { color: #eee; }
/* ul.credits li.website-by { display: none; } */



/* gigpress */
p.gigpress-subscribe a:hover { border: none; }
#sidebar ul.gigpress-listing { margin-bottom: 5px; }
ul.widgets ul.gigpress-listing li { background-position-y: 1em; }
span.gigpress-sidebar-notes { color: #888; }


/* take out margins */

div.logo h1,
.pages h4,
.homepage-headline h4,
#footer-social,
ul.credits { margin-bottom: 0; }
