<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>Comments on: David vs. Goliath &#8211; Three Quarter Million Dollars to Fight Frack Ban</title>
	<atom:link href="/2014/10/david-vs-goliath-3-quarter-million-dollars-to-fight-frack-ban/feed/" rel="self" type="application/rss+xml" />
	<link>/2014/10/david-vs-goliath-3-quarter-million-dollars-to-fight-frack-ban/</link>
	<description>Kevin Roden for Denton City Council</description>
	<lastBuildDate>Sun, 09 Nov 2014 05:01:15 +0000</lastBuildDate>
		<sy:updatePeriod>hourly</sy:updatePeriod>
		<sy:updateFrequency>1</sy:updateFrequency>
	<generator>http://wordpress.org/?v=3.8.4</generator>
</channel>
</rss>
