<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
		>
<channel>
	<title>Comments on: Hack the Vote: Denton City Council Elections</title>
	<atom:link href="/2013/02/hack-the-vote-denton-city-council-elections/feed/" rel="self" type="application/rss+xml" />
	<link>/2013/02/hack-the-vote-denton-city-council-elections/</link>
	<description>Kevin Roden for Denton City Council</description>
	<lastBuildDate>Fri, 08 Feb 2013 18:25:36 +0000</lastBuildDate>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>http://wordpress.org/?v=3.5.1</generator>
	<item>
		<title>By: andy boyd</title>
		<link>/2013/02/hack-the-vote-denton-city-council-elections/#comment-5586</link>
		<dc:creator>andy boyd</dc:creator>
		<pubDate>Fri, 08 Feb 2013 18:25:36 +0000</pubDate>
		<guid isPermaLink="false">/?p=738#comment-5586</guid>
		<description><![CDATA[Meant to attend but I totally blanked on this after the kids got home.  I&#039;m a local developer and Denton native who just started a dev shop - http://engagerinteractive.com - to specialize in creative solutions using open source software (read: internet awesomeness on a budget).  Short on time, but interested in helping :)]]></description>
		<content:encoded><![CDATA[<p>Meant to attend but I totally blanked on this after the kids got home.  I&#8217;m a local developer and Denton native who just started a dev shop &#8211; <a href="http://engagerinteractive.com" rel="nofollow">http://engagerinteractive.com</a> &#8211; to specialize in creative solutions using open source software (read: internet awesomeness on a budget).  Short on time, but interested in helping <img src='/wp/wp-includes/images/smilies/icon_smile.gif' alt=':)' class='wp-smiley' /> </p>
]]></content:encoded>
	</item>
	<item>
		<title>By: Carl S</title>
		<link>/2013/02/hack-the-vote-denton-city-council-elections/#comment-5573</link>
		<dc:creator>Carl S</dc:creator>
		<pubDate>Fri, 08 Feb 2013 02:54:37 +0000</pubDate>
		<guid isPermaLink="false">/?p=738#comment-5573</guid>
		<description><![CDATA[My GIS skillz are going on fast approaching 20 years old, and rusty. The tools of today are so much better.  I&#039;m hoping those young kids can hack these problems with ease.]]></description>
		<content:encoded><![CDATA[<p>My GIS skillz are going on fast approaching 20 years old, and rusty. The tools of today are so much better.  I&#8217;m hoping those young kids can hack these problems with ease.</p>
]]></content:encoded>
	</item>
	<item>
		<title>By: amber</title>
		<link>/2013/02/hack-the-vote-denton-city-council-elections/#comment-5570</link>
		<dc:creator>amber</dc:creator>
		<pubDate>Thu, 07 Feb 2013 19:05:57 +0000</pubDate>
		<guid isPermaLink="false">/?p=738#comment-5570</guid>
		<description><![CDATA[kevin, the league of women voters puts out a voter guide every election, even for city council ones.  i&#039;ve been trying to get them to have a greater web presence, but we DO have a facebook page and i try to upload relevant things there.  we also have a web page (which looks pretty cluttered, i admit) and you can often find info about candidates and issues there as well.  vote411.org is another resource.  that&#039;s assuming, of course, that candidates fill out their LWV questionnaires.  but that might be one resource you could direct people to when trying to find information on their candidates.  http://www.lwvdenton.org/ and also https://www.facebook.com/pages/League-of-Women-Voters-Denton-Texas]]></description>
		<content:encoded><![CDATA[<p>kevin, the league of women voters puts out a voter guide every election, even for city council ones.  i&#8217;ve been trying to get them to have a greater web presence, but we DO have a facebook page and i try to upload relevant things there.  we also have a web page (which looks pretty cluttered, i admit) and you can often find info about candidates and issues there as well.  vote411.org is another resource.  that&#8217;s assuming, of course, that candidates fill out their LWV questionnaires.  but that might be one resource you could direct people to when trying to find information on their candidates.  <a href="http://www.lwvdenton.org/" rel="nofollow">http://www.lwvdenton.org/</a> and also <a href="https://www.facebook.com/pages/League-of-Women-Voters-Denton-Texas" rel="nofollow">https://www.facebook.com/pages/League-of-Women-Voters-Denton-Texas</a></p>
]]></content:encoded>
	</item>
	<item>
		<title>By: rhonda Love</title>
		<link>/2013/02/hack-the-vote-denton-city-council-elections/#comment-5569</link>
		<dc:creator>rhonda Love</dc:creator>
		<pubDate>Thu, 07 Feb 2013 16:45:50 +0000</pubDate>
		<guid isPermaLink="false">/?p=738#comment-5569</guid>
		<description><![CDATA[great idea! I am one of the older voters and I really want the younger folks to get engaged in making Denton even more dynamic! Good luck!!]]></description>
		<content:encoded><![CDATA[<p>great idea! I am one of the older voters and I really want the younger folks to get engaged in making Denton even more dynamic! Good luck!!</p>
]]></content:encoded>
	</item>
	<item>
		<title>By: Scott Campbell</title>
		<link>/2013/02/hack-the-vote-denton-city-council-elections/#comment-5527</link>
		<dc:creator>Scott Campbell</dc:creator>
		<pubDate>Mon, 04 Feb 2013 05:36:18 +0000</pubDate>
		<guid isPermaLink="false">/?p=738#comment-5527</guid>
		<description><![CDATA[I wrote half a blog RE: voting earlier today. I&#039;ll be doing several between now and May 11.]]></description>
		<content:encoded><![CDATA[<p>I wrote half a blog RE: voting earlier today. I&#8217;ll be doing several between now and May 11.</p>
]]></content:encoded>
	</item>
</channel>
</rss>
