<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>Comments on: Denton PD Releases Internal Affairs Investigation of Excessive Force</title>
	<atom:link href="/2014/07/denton-pd-releases-internal-affairs-investigation-of-excessive-force/feed/" rel="self" type="application/rss+xml" />
	<link>/2014/07/denton-pd-releases-internal-affairs-investigation-of-excessive-force/</link>
	<description>Kevin Roden for Denton City Council</description>
	<lastBuildDate>Mon, 27 Jun 2016 21:47:35 +0000</lastBuildDate>
		<sy:updatePeriod>hourly</sy:updatePeriod>
		<sy:updateFrequency>1</sy:updateFrequency>
	<generator>http://wordpress.org/?v=3.8.16</generator>
</channel>
</rss>
