<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>Comments on: Follow-up from June 27 SEDNA Meeting</title>
	<atom:link href="/2011/06/follow-up-from-june-27-sedna-meeting/feed/" rel="self" type="application/rss+xml" />
	<link>/2011/06/follow-up-from-june-27-sedna-meeting/</link>
	<description>Kevin Roden for Denton City Council</description>
	<lastBuildDate>Fri, 19 Feb 2016 21:01:19 +0000</lastBuildDate>
		<sy:updatePeriod>hourly</sy:updatePeriod>
		<sy:updateFrequency>1</sy:updateFrequency>
	<generator>http://wordpress.org/?v=3.8.14</generator>
</channel>
</rss>
