<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>Comments on: City Council Preview &#8211; June 4, 2013</title>
	<atom:link href="/2013/06/city-council-preview-june-4-2013/feed/" rel="self" type="application/rss+xml" />
	<link>/2013/06/city-council-preview-june-4-2013/</link>
	<description>Kevin Roden for Denton City Council</description>
	<lastBuildDate>Tue, 03 Dec 2013 16:59:58 +0000</lastBuildDate>
		<sy:updatePeriod>hourly</sy:updatePeriod>
		<sy:updateFrequency>1</sy:updateFrequency>
	<generator>http://wordpress.org/?v=3.8</generator>
	<item>
		<title>By: Russ</title>
		<link>/2013/06/city-council-preview-june-4-2013/#comment-15776</link>
		<dc:creator><![CDATA[Russ]]></dc:creator>
		<pubDate>Tue, 04 Jun 2013 14:59:36 +0000</pubDate>
		<guid isPermaLink="false">/?p=813#comment-15776</guid>
		<description><![CDATA[great synopsis - love the google map addition.  That freaking video moves to fast, almost sent me into a seizure - I can&#039;t read that fast.   Good luck this term and keep up the good work.]]></description>
		<content:encoded><![CDATA[<p>great synopsis &#8211; love the google map addition.  That freaking video moves to fast, almost sent me into a seizure &#8211; I can&#8217;t read that fast.   Good luck this term and keep up the good work.</p>
]]></content:encoded>
	</item>
</channel>
</rss>
