<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>Comments on: City Council Preview for Feb 23 and Some Thoughts on Citizen Engagement and Open Government</title>
	<atom:link href="/2016/02/city-council-preview-for-feb-23-and-some-thoughts-on-citizen-engagement-and-open-government/feed/" rel="self" type="application/rss+xml" />
	<link>/2016/02/city-council-preview-for-feb-23-and-some-thoughts-on-citizen-engagement-and-open-government/</link>
	<description>Kevin Roden for Denton City Council</description>
	<lastBuildDate>Fri, 19 Feb 2016 21:01:19 +0000</lastBuildDate>
		<sy:updatePeriod>hourly</sy:updatePeriod>
		<sy:updateFrequency>1</sy:updateFrequency>
	<generator>http://wordpress.org/?v=3.8.14</generator>
</channel>
</rss>
