<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>Comments on: Sequestration, Denton-style &#8211; Info on how it might impact our city</title>
	<atom:link href="/2013/03/sequestration-denton-style-info-on-how-it-might-impact-our-city/feed/" rel="self" type="application/rss+xml" />
	<link>/2013/03/sequestration-denton-style-info-on-how-it-might-impact-our-city/</link>
	<description>Kevin Roden for Denton City Council</description>
	<lastBuildDate>Wed, 07 Oct 2015 18:41:46 +0000</lastBuildDate>
		<sy:updatePeriod>hourly</sy:updatePeriod>
		<sy:updateFrequency>1</sy:updateFrequency>
	<generator>http://wordpress.org/?v=3.8.11</generator>
</channel>
</rss>
