<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>Comments on: Two More Years: Announcing my Re-election Campaign</title>
	<atom:link href="/2015/02/two-more-years-announcing-my-re-election-campaign/feed/" rel="self" type="application/rss+xml" />
	<link>/2015/02/two-more-years-announcing-my-re-election-campaign/</link>
	<description>Kevin Roden for Denton City Council</description>
	<lastBuildDate>Mon, 24 Aug 2015 03:17:58 +0000</lastBuildDate>
		<sy:updatePeriod>hourly</sy:updatePeriod>
		<sy:updateFrequency>1</sy:updateFrequency>
	<generator>http://wordpress.org/?v=3.8.10</generator>
</channel>
</rss>
