<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>Comments on: The Stakes are High for this Denton City Council Election &#8211; Why you should vote</title>
	<atom:link href="/2015/04/the-stakes-are-high-for-this-denton-city-council-election-why-you-should-vote/feed/" rel="self" type="application/rss+xml" />
	<link>/2015/04/the-stakes-are-high-for-this-denton-city-council-election-why-you-should-vote/</link>
	<description>Kevin Roden for Denton City Council</description>
	<lastBuildDate>Sat, 25 Apr 2015 23:16:21 +0000</lastBuildDate>
		<sy:updatePeriod>hourly</sy:updatePeriod>
		<sy:updateFrequency>1</sy:updateFrequency>
	<generator>http://wordpress.org/?v=3.8.7</generator>
</channel>
</rss>
