<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>Comments on: The News</title>
	<atom:link href="/news/feed/" rel="self" type="application/rss+xml" />
	<link>http://rodenfordenton.com</link>
	<description>Kevin Roden for Denton City Council</description>
	<lastBuildDate>Sun, 25 Dec 2016 14:08:33 +0000</lastBuildDate>
		<sy:updatePeriod>hourly</sy:updatePeriod>
		<sy:updateFrequency>1</sy:updateFrequency>
	<generator>http://wordpress.org/?v=3.8.19</generator>
</channel>
</rss>
