<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>Comments on: Denton to go 70% Renewables by 2019</title>
	<atom:link href="/2015/10/denton-to-go-70-renewables-by-2019/feed/" rel="self" type="application/rss+xml" />
	<link>/2015/10/denton-to-go-70-renewables-by-2019/</link>
	<description>Kevin Roden for Denton City Council</description>
	<lastBuildDate>Wed, 07 Oct 2015 18:41:46 +0000</lastBuildDate>
		<sy:updatePeriod>hourly</sy:updatePeriod>
		<sy:updateFrequency>1</sy:updateFrequency>
	<generator>http://wordpress.org/?v=3.8.12</generator>
	<item>
		<title>By: kevin</title>
		<link>/2015/10/denton-to-go-70-renewables-by-2019/#comment-70613</link>
		<dc:creator><![CDATA[kevin]]></dc:creator>
		<pubDate>Wed, 07 Oct 2015 18:41:46 +0000</pubDate>
		<guid isPermaLink="false">/?p=1902#comment-70613</guid>
		<description><![CDATA[Sorry to sound like him. I&#039;m a bit unclear why it isn&#039;t a good thing to scale from 40% renewable energy in our portfolio to 70% renewable energy? Considering that 60% of our energy now already comes from fossil fuels (including coal) as we get it from the market. Why is reducing our dependence on fossil fuels from 60% down to 30% a bad thing?]]></description>
		<content:encoded><![CDATA[<p>Sorry to sound like him. I&#8217;m a bit unclear why it isn&#8217;t a good thing to scale from 40% renewable energy in our portfolio to 70% renewable energy? Considering that 60% of our energy now already comes from fossil fuels (including coal) as we get it from the market. Why is reducing our dependence on fossil fuels from 60% down to 30% a bad thing?</p>
]]></content:encoded>
	</item>
	<item>
		<title>By: kevin</title>
		<link>/2015/10/denton-to-go-70-renewables-by-2019/#comment-70612</link>
		<dc:creator><![CDATA[kevin]]></dc:creator>
		<pubDate>Wed, 07 Oct 2015 18:40:00 +0000</pubDate>
		<guid isPermaLink="false">/?p=1902#comment-70612</guid>
		<description><![CDATA[Sharon - gas generation is not considered renewable as you say. Our ability to scale from 40-70% renewable energy in our energy portfolio within 4 years is contingent upon quick start generation that is locally controlled. So there is a connection between the gas generation concept and our ability to increase our renewable energy plan. I&#039;d encourage you to check out the Renewable Denton website I linked to above for more information.]]></description>
		<content:encoded><![CDATA[<p>Sharon &#8211; gas generation is not considered renewable as you say. Our ability to scale from 40-70% renewable energy in our energy portfolio within 4 years is contingent upon quick start generation that is locally controlled. So there is a connection between the gas generation concept and our ability to increase our renewable energy plan. I&#8217;d encourage you to check out the Renewable Denton website I linked to above for more information.</p>
]]></content:encoded>
	</item>
	<item>
		<title>By: Sharon Spiess</title>
		<link>/2015/10/denton-to-go-70-renewables-by-2019/#comment-70579</link>
		<dc:creator><![CDATA[Sharon Spiess]]></dc:creator>
		<pubDate>Wed, 07 Oct 2015 01:33:00 +0000</pubDate>
		<guid isPermaLink="false">/?p=1902#comment-70579</guid>
		<description><![CDATA[Kevin,
How is a gas-fueled generation plant considered a renewable energy source? This Denton City Council is all too aware of the FLIR videos showing not only gas wells, but gas power plants leaking VOC&#039;s continuously. I simply don&#039;t understand how this type of power plant could ever be considered a renewable.

I also find it ironic that the top of this blog shows a picture of wind turbines. What am I missing?]]></description>
		<content:encoded><![CDATA[<p>Kevin,<br />
How is a gas-fueled generation plant considered a renewable energy source? This Denton City Council is all too aware of the FLIR videos showing not only gas wells, but gas power plants leaking VOC&#8217;s continuously. I simply don&#8217;t understand how this type of power plant could ever be considered a renewable.</p>
<p>I also find it ironic that the top of this blog shows a picture of wind turbines. What am I missing?</p>
]]></content:encoded>
	</item>
	<item>
		<title>By: Sharon Wilson</title>
		<link>/2015/10/denton-to-go-70-renewables-by-2019/#comment-70575</link>
		<dc:creator><![CDATA[Sharon Wilson]]></dc:creator>
		<pubDate>Wed, 07 Oct 2015 00:40:11 +0000</pubDate>
		<guid isPermaLink="false">/?p=1902#comment-70575</guid>
		<description><![CDATA[This sounds like Steve Everley of Energy In Depth wrote it. Denton is not fooled by the attempted greening of dirty fossil fuels.]]></description>
		<content:encoded><![CDATA[<p>This sounds like Steve Everley of Energy In Depth wrote it. Denton is not fooled by the attempted greening of dirty fossil fuels.</p>
]]></content:encoded>
	</item>
</channel>
</rss>
