<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>Comments on: Faces of District 1 &#8211; Betty Kimble</title>
	<atom:link href="/2016/09/faces-of-district-1-betty-kimble/feed/" rel="self" type="application/rss+xml" />
	<link>/2016/09/faces-of-district-1-betty-kimble/</link>
	<description>Kevin Roden for Denton City Council</description>
	<lastBuildDate>Sun, 25 Dec 2016 14:08:33 +0000</lastBuildDate>
		<sy:updatePeriod>hourly</sy:updatePeriod>
		<sy:updateFrequency>1</sy:updateFrequency>
	<generator>http://wordpress.org/?v=3.8.19</generator>
	<item>
		<title>By: Diana Corona</title>
		<link>/2016/09/faces-of-district-1-betty-kimble/#comment-74974</link>
		<dc:creator><![CDATA[Diana Corona]]></dc:creator>
		<pubDate>Mon, 19 Sep 2016 19:43:53 +0000</pubDate>
		<guid isPermaLink="false">/?p=2082#comment-74974</guid>
		<description><![CDATA[What a great way to honor our seniors.  Ms. Kimble has always been a great supporter of RSVP-Retired &amp; Senior Volunteer Program.  Thank you for featuring her.]]></description>
		<content:encoded><![CDATA[<p>What a great way to honor our seniors.  Ms. Kimble has always been a great supporter of RSVP-Retired &amp; Senior Volunteer Program.  Thank you for featuring her.</p>
]]></content:encoded>
	</item>
	<item>
		<title>By: Doc</title>
		<link>/2016/09/faces-of-district-1-betty-kimble/#comment-74972</link>
		<dc:creator><![CDATA[Doc]]></dc:creator>
		<pubDate>Mon, 19 Sep 2016 13:44:14 +0000</pubDate>
		<guid isPermaLink="false">/?p=2082#comment-74972</guid>
		<description><![CDATA[An amazing woman, thanks for sharing her story.]]></description>
		<content:encoded><![CDATA[<p>An amazing woman, thanks for sharing her story.</p>
]]></content:encoded>
	</item>
</channel>
</rss>
