<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>Comments on: Banning Politics from the Thanksgiving Table: Thoughts on Political Fundamentalism</title>
	<atom:link href="/2013/11/political-fundamentalism/feed/" rel="self" type="application/rss+xml" />
	<link>/2013/11/political-fundamentalism/</link>
	<description>Kevin Roden for Denton City Council</description>
	<lastBuildDate>Mon, 27 Jun 2016 21:47:35 +0000</lastBuildDate>
		<sy:updatePeriod>hourly</sy:updatePeriod>
		<sy:updateFrequency>1</sy:updateFrequency>
	<generator>http://wordpress.org/?v=3.8.15</generator>
	<item>
		<title>By: Adam</title>
		<link>/2013/11/political-fundamentalism/#comment-41875</link>
		<dc:creator><![CDATA[Adam]]></dc:creator>
		<pubDate>Sun, 01 Dec 2013 14:15:22 +0000</pubDate>
		<guid isPermaLink="false">/?p=995#comment-41875</guid>
		<description><![CDATA[Great post and very well said. I think the local drilling issue is problematic for precisely this reason -- it brings the national and abstract energy policy question into the equation with all the fundamentalisms that go with it.]]></description>
		<content:encoded><![CDATA[<p>Great post and very well said. I think the local drilling issue is problematic for precisely this reason &#8212; it brings the national and abstract energy policy question into the equation with all the fundamentalisms that go with it.</p>
]]></content:encoded>
	</item>
	<item>
		<title>By: John R Huff Jr</title>
		<link>/2013/11/political-fundamentalism/#comment-41799</link>
		<dc:creator><![CDATA[John R Huff Jr]]></dc:creator>
		<pubDate>Fri, 29 Nov 2013 09:05:48 +0000</pubDate>
		<guid isPermaLink="false">/?p=995#comment-41799</guid>
		<description><![CDATA[All is well that ends well. Your premise and ideology is to be commended.
I do wish the Republicans in Congress would practice this in Washington
doing their work. This is a good idea for the Thanksgiving dinner table.
I am afraid it can become an avoidance technique and cover up their true
feelings and strong political party ideological differences. In other words, 
an act of civility and good manners. It will depend on the people and the
circumstances. And especially so, if someone has had a little too much 
to drink (alcohol) . It is the only way to get any legislation passed in Congress. There must be needed compromise.]]></description>
		<content:encoded><![CDATA[<p>All is well that ends well. Your premise and ideology is to be commended.<br />
I do wish the Republicans in Congress would practice this in Washington<br />
doing their work. This is a good idea for the Thanksgiving dinner table.<br />
I am afraid it can become an avoidance technique and cover up their true<br />
feelings and strong political party ideological differences. In other words,<br />
an act of civility and good manners. It will depend on the people and the<br />
circumstances. And especially so, if someone has had a little too much<br />
to drink (alcohol) . It is the only way to get any legislation passed in Congress. There must be needed compromise.</p>
]]></content:encoded>
	</item>
	<item>
		<title>By: Dalton Gregory</title>
		<link>/2013/11/political-fundamentalism/#comment-41749</link>
		<dc:creator><![CDATA[Dalton Gregory]]></dc:creator>
		<pubDate>Wed, 27 Nov 2013 15:36:50 +0000</pubDate>
		<guid isPermaLink="false">/?p=995#comment-41749</guid>
		<description><![CDATA[Thank you for such an insightful reflection on political polarization.  Furthermore, I am humbled by your command of language and expression.]]></description>
		<content:encoded><![CDATA[<p>Thank you for such an insightful reflection on political polarization.  Furthermore, I am humbled by your command of language and expression.</p>
]]></content:encoded>
	</item>
</channel>
</rss>
