<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>Comments on: Fracking and Denton&#8217;s Economy: A Quick Response to the Perryman Study</title>
	<atom:link href="/2014/07/fracking-and-dentons-economy-a-quick-response-to-the-perryman-study/feed/" rel="self" type="application/rss+xml" />
	<link>/2014/07/fracking-and-dentons-economy-a-quick-response-to-the-perryman-study/</link>
	<description>Kevin Roden for Denton City Council</description>
	<lastBuildDate>Fri, 19 Feb 2016 21:01:19 +0000</lastBuildDate>
		<sy:updatePeriod>hourly</sy:updatePeriod>
		<sy:updateFrequency>1</sy:updateFrequency>
	<generator>http://wordpress.org/?v=3.8.14</generator>
	<item>
		<title>By: Katy R</title>
		<link>/2014/07/fracking-and-dentons-economy-a-quick-response-to-the-perryman-study/#comment-49326</link>
		<dc:creator><![CDATA[Katy R]]></dc:creator>
		<pubDate>Sat, 19 Jul 2014 20:04:45 +0000</pubDate>
		<guid isPermaLink="false">/?p=1319#comment-49326</guid>
		<description><![CDATA[Thank you so much Kevin for your dedication to this issue. You are truly using your council seat for the good of Denton. It is a breath of freshair to know that you are on our council and dedicating your time to the actual facts of this issue.]]></description>
		<content:encoded><![CDATA[<p>Thank you so much Kevin for your dedication to this issue. You are truly using your council seat for the good of Denton. It is a breath of freshair to know that you are on our council and dedicating your time to the actual facts of this issue.</p>
]]></content:encoded>
	</item>
	<item>
		<title>By: Cathy McMullen</title>
		<link>/2014/07/fracking-and-dentons-economy-a-quick-response-to-the-perryman-study/#comment-49307</link>
		<dc:creator><![CDATA[Cathy McMullen]]></dc:creator>
		<pubDate>Sat, 19 Jul 2014 05:48:29 +0000</pubDate>
		<guid isPermaLink="false">/?p=1319#comment-49307</guid>
		<description><![CDATA[Boy, we need to get this information to the voters before November.
Thanks for the post Kevin. Get ready because we are going to speaking before every group that will have us between now and November. Frack Free Denton]]></description>
		<content:encoded><![CDATA[<p>Boy, we need to get this information to the voters before November.<br />
Thanks for the post Kevin. Get ready because we are going to speaking before every group that will have us between now and November. Frack Free Denton</p>
]]></content:encoded>
	</item>
	<item>
		<title>By: Cindy</title>
		<link>/2014/07/fracking-and-dentons-economy-a-quick-response-to-the-perryman-study/#comment-49299</link>
		<dc:creator><![CDATA[Cindy]]></dc:creator>
		<pubDate>Fri, 18 Jul 2014 23:07:56 +0000</pubDate>
		<guid isPermaLink="false">/?p=1319#comment-49299</guid>
		<description><![CDATA[The city of Denton would make a lot more money if it developed tourism.  My husband and I are from Houston and have only gotten to know Denton by coming to UNT where our daughter is a student.  We love the quaint town and charming square.  Much more money could be made by encouraging tourism and attendance at UNT sporting events.  Don&#039;t let these people destroy what you have and rob you in the process.  They will never have your best interest at heart.]]></description>
		<content:encoded><![CDATA[<p>The city of Denton would make a lot more money if it developed tourism.  My husband and I are from Houston and have only gotten to know Denton by coming to UNT where our daughter is a student.  We love the quaint town and charming square.  Much more money could be made by encouraging tourism and attendance at UNT sporting events.  Don&#8217;t let these people destroy what you have and rob you in the process.  They will never have your best interest at heart.</p>
]]></content:encoded>
	</item>
	<item>
		<title>By: Sandy</title>
		<link>/2014/07/fracking-and-dentons-economy-a-quick-response-to-the-perryman-study/#comment-49294</link>
		<dc:creator><![CDATA[Sandy]]></dc:creator>
		<pubDate>Fri, 18 Jul 2014 19:24:53 +0000</pubDate>
		<guid isPermaLink="false">/?p=1319#comment-49294</guid>
		<description><![CDATA[Excellent analysis. Thank you Kevin for refuting the industry backed economic impact study. Keep up the good work.]]></description>
		<content:encoded><![CDATA[<p>Excellent analysis. Thank you Kevin for refuting the industry backed economic impact study. Keep up the good work.</p>
]]></content:encoded>
	</item>
</channel>
</rss>
