<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>Comments on: What Christi Craddick Just Said to the Citizens of Denton</title>
	<atom:link href="/2014/11/what-christi-craddick-just-said-to-the-citizens-of-denton/feed/" rel="self" type="application/rss+xml" />
	<link>/2014/11/what-christi-craddick-just-said-to-the-citizens-of-denton/</link>
	<description>Kevin Roden for Denton City Council</description>
	<lastBuildDate>Sat, 22 Nov 2014 20:28:35 +0000</lastBuildDate>
		<sy:updatePeriod>hourly</sy:updatePeriod>
		<sy:updateFrequency>1</sy:updateFrequency>
	<generator>http://wordpress.org/?v=3.8.5</generator>
	<item>
		<title>By: John R. Huff Jr.</title>
		<link>/2014/11/what-christi-craddick-just-said-to-the-citizens-of-denton/#comment-53693</link>
		<dc:creator><![CDATA[John R. Huff Jr.]]></dc:creator>
		<pubDate>Sat, 15 Nov 2014 07:21:45 +0000</pubDate>
		<guid isPermaLink="false">/?p=1429#comment-53693</guid>
		<description><![CDATA[I see no reason to not emphasize what the writer (Roden) wants to emphasize, disingenuous or not. This is not a formal writing exercise, is it not?]]></description>
		<content:encoded><![CDATA[<p>I see no reason to not emphasize what the writer (Roden) wants to emphasize, disingenuous or not. This is not a formal writing exercise, is it not?</p>
]]></content:encoded>
	</item>
	<item>
		<title>By: Larry</title>
		<link>/2014/11/what-christi-craddick-just-said-to-the-citizens-of-denton/#comment-53546</link>
		<dc:creator><![CDATA[Larry]]></dc:creator>
		<pubDate>Thu, 13 Nov 2014 21:42:17 +0000</pubDate>
		<guid isPermaLink="false">/?p=1429#comment-53546</guid>
		<description><![CDATA[She apparently supports this cash cow for some before it goes belly up.  Leaving people like us to deal with their waste products and unsupervised infrastructure.

http://oilprice.com/Energy/Crude-Oil/IEA-Says-Oil-Supplies-May-Not-Keep-Up-With-Demand.html]]></description>
		<content:encoded><![CDATA[<p>She apparently supports this cash cow for some before it goes belly up.  Leaving people like us to deal with their waste products and unsupervised infrastructure.</p>
<p><a href="http://oilprice.com/Energy/Crude-Oil/IEA-Says-Oil-Supplies-May-Not-Keep-Up-With-Demand.html" rel="nofollow">http://oilprice.com/Energy/Crude-Oil/IEA-Says-Oil-Supplies-May-Not-Keep-Up-With-Demand.html</a></p>
]]></content:encoded>
	</item>
	<item>
		<title>By: activist.on</title>
		<link>/2014/11/what-christi-craddick-just-said-to-the-citizens-of-denton/#comment-53544</link>
		<dc:creator><![CDATA[activist.on]]></dc:creator>
		<pubDate>Thu, 13 Nov 2014 20:35:41 +0000</pubDate>
		<guid isPermaLink="false">/?p=1429#comment-53544</guid>
		<description><![CDATA[Can Denton citizens sue the frackers now if they drill?]]></description>
		<content:encoded><![CDATA[<p>Can Denton citizens sue the frackers now if they drill?</p>
]]></content:encoded>
	</item>
	<item>
		<title>By: dp</title>
		<link>/2014/11/what-christi-craddick-just-said-to-the-citizens-of-denton/#comment-53524</link>
		<dc:creator><![CDATA[dp]]></dc:creator>
		<pubDate>Thu, 13 Nov 2014 15:40:00 +0000</pubDate>
		<guid isPermaLink="false">/?p=1429#comment-53524</guid>
		<description><![CDATA[i don&#039;t like her ACTUAL comments one bit, but it seems pretty disingenuous to put your hyperbolic reimagining of her words in quotes like that&#039;s actually what she said. She is still smarmy and condescending in her article, no need to say &quot;here&#039;s what she really just said&quot; then have a large quoted paragraph that...is not a quote.]]></description>
		<content:encoded><![CDATA[<p>i don&#8217;t like her ACTUAL comments one bit, but it seems pretty disingenuous to put your hyperbolic reimagining of her words in quotes like that&#8217;s actually what she said. She is still smarmy and condescending in her article, no need to say &#8220;here&#8217;s what she really just said&#8221; then have a large quoted paragraph that&#8230;is not a quote.</p>
]]></content:encoded>
	</item>
	<item>
		<title>By: Russ</title>
		<link>/2014/11/what-christi-craddick-just-said-to-the-citizens-of-denton/#comment-53523</link>
		<dc:creator><![CDATA[Russ]]></dc:creator>
		<pubDate>Thu, 13 Nov 2014 15:33:56 +0000</pubDate>
		<guid isPermaLink="false">/?p=1429#comment-53523</guid>
		<description><![CDATA[It is ironic she references Midland - that area of West Texas is chaotic - you talk about companies scrambling to make a quick buck.  The place is overrun with petro industry folks, temporary housing, stresses on the school systems VERY short term economic accommodations, price gouging, traffic deaths due to trucks sky rocketing, etc.  Not the run to blissland she would have all believe.  Midland is not a fun place to be.]]></description>
		<content:encoded><![CDATA[<p>It is ironic she references Midland &#8211; that area of West Texas is chaotic &#8211; you talk about companies scrambling to make a quick buck.  The place is overrun with petro industry folks, temporary housing, stresses on the school systems VERY short term economic accommodations, price gouging, traffic deaths due to trucks sky rocketing, etc.  Not the run to blissland she would have all believe.  Midland is not a fun place to be.</p>
]]></content:encoded>
	</item>
</channel>
</rss>
