<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>Comments on: City Council Preview &#8211; November 11, 2014</title>
	<atom:link href="/2014/11/city-council-preview-november-11-2014/feed/" rel="self" type="application/rss+xml" />
	<link>/2014/11/city-council-preview-november-11-2014/</link>
	<description>Kevin Roden for Denton City Council</description>
	<lastBuildDate>Fri, 10 Jul 2015 02:25:16 +0000</lastBuildDate>
		<sy:updatePeriod>hourly</sy:updatePeriod>
		<sy:updateFrequency>1</sy:updateFrequency>
	<generator>http://wordpress.org/?v=3.8.10</generator>
</channel>
</rss>
