<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
		>
<channel>
	<title>Comments on: VoteDenton.org &#8211; Finding Your Council District Just Got Easy</title>
	<atom:link href="/2013/03/votedenton-org-finding-your-council-district-just-got-easy/feed/" rel="self" type="application/rss+xml" />
	<link>/2013/03/votedenton-org-finding-your-council-district-just-got-easy/</link>
	<description>Kevin Roden for Denton City Council</description>
	<lastBuildDate>Fri, 01 Mar 2013 15:40:03 +0000</lastBuildDate>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>http://wordpress.org/?v=3.5.1</generator>
	<item>
		<title>By: Alyssa Hedenstrom</title>
		<link>/2013/03/votedenton-org-finding-your-council-district-just-got-easy/#comment-5810</link>
		<dc:creator>Alyssa Hedenstrom</dc:creator>
		<pubDate>Fri, 01 Mar 2013 15:40:03 +0000</pubDate>
		<guid isPermaLink="false">/?p=753#comment-5810</guid>
		<description><![CDATA[Having lived here for just over one year, something like this would be incredibly helpful to get more plugged in to the creative community here in Denton and get to know this town better. I&#039;m from a small/big town like Denton in Wisconsin (Eau Claire) where we had something similar to this back home that showcased writers, designers, artists, musicians, poets, events, and articles from locals. It started small and now they publish a free magazine every two weeks, they have their own local store with local goods to buy and they have a great website. I&#039;m glad Denton has started to think about the bigger picture, I love that and I&#039;m glad to hear that you&#039;re so supportive of this. All the best!

Here&#039;s their website (from back home) if you need any future ideas:
www.volumeone.org]]></description>
		<content:encoded><![CDATA[<p>Having lived here for just over one year, something like this would be incredibly helpful to get more plugged in to the creative community here in Denton and get to know this town better. I&#8217;m from a small/big town like Denton in Wisconsin (Eau Claire) where we had something similar to this back home that showcased writers, designers, artists, musicians, poets, events, and articles from locals. It started small and now they publish a free magazine every two weeks, they have their own local store with local goods to buy and they have a great website. I&#8217;m glad Denton has started to think about the bigger picture, I love that and I&#8217;m glad to hear that you&#8217;re so supportive of this. All the best!</p>
<p>Here&#8217;s their website (from back home) if you need any future ideas:<br />
<a href="http://www.volumeone.org" rel="nofollow">http://www.volumeone.org</a></p>
]]></content:encoded>
	</item>
</channel>
</rss>
