<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>Comments on: City Council Preview &#8211; June 16, 2015</title>
	<atom:link href="/2015/06/city-council-preview-june-16-2015/feed/" rel="self" type="application/rss+xml" />
	<link>/2015/06/city-council-preview-june-16-2015/</link>
	<description>Kevin Roden for Denton City Council</description>
	<lastBuildDate>Tue, 16 Jun 2015 14:31:16 +0000</lastBuildDate>
		<sy:updatePeriod>hourly</sy:updatePeriod>
		<sy:updateFrequency>1</sy:updateFrequency>
	<generator>http://wordpress.org/?v=3.8.8</generator>
	<item>
		<title>By: Devin</title>
		<link>/2015/06/city-council-preview-june-16-2015/#comment-66135</link>
		<dc:creator><![CDATA[Devin]]></dc:creator>
		<pubDate>Tue, 16 Jun 2015 14:31:16 +0000</pubDate>
		<guid isPermaLink="false">/?p=1822#comment-66135</guid>
		<description><![CDATA[The current 5-6 ft striped area is big enough to make people try to park, but not big enough to allow safe parking. Narrowing both traffic lanes a little would make it safe to park and have an added traffic calming effect. Either it needs to be made wide enough for parking to narrow enough to stop people from trying to park there, and both configurations work as one way or two way streets.]]></description>
		<content:encoded><![CDATA[<p>The current 5-6 ft striped area is big enough to make people try to park, but not big enough to allow safe parking. Narrowing both traffic lanes a little would make it safe to park and have an added traffic calming effect. Either it needs to be made wide enough for parking to narrow enough to stop people from trying to park there, and both configurations work as one way or two way streets.</p>
]]></content:encoded>
	</item>
</channel>
</rss>
