<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>Comments on: Denton Officials Invited to Visit Sriracha Plant &#8211; Help Us Sell Denton</title>
	<atom:link href="/2014/05/denton-officials-invited-to-visit-sriracha-plant-help-us-sell-denton/feed/" rel="self" type="application/rss+xml" />
	<link>/2014/05/denton-officials-invited-to-visit-sriracha-plant-help-us-sell-denton/</link>
	<description>Kevin Roden for Denton City Council</description>
	<lastBuildDate>Fri, 19 Feb 2016 21:01:19 +0000</lastBuildDate>
		<sy:updatePeriod>hourly</sy:updatePeriod>
		<sy:updateFrequency>1</sy:updateFrequency>
	<generator>http://wordpress.org/?v=3.8.14</generator>
	<item>
		<title>By: Sean S.</title>
		<link>/2014/05/denton-officials-invited-to-visit-sriracha-plant-help-us-sell-denton/#comment-47126</link>
		<dc:creator><![CDATA[Sean S.]]></dc:creator>
		<pubDate>Fri, 02 May 2014 01:05:19 +0000</pubDate>
		<guid isPermaLink="false">/?p=1195#comment-47126</guid>
		<description><![CDATA[Get the City to commit to throwing an annual SrirachaFest if they move here, that would celebrate Asian culture and cuisine. The Metroplex has a rapidly growing Asian community who would most likely help support it and if it grew large enough it could become a draw beyond the DFW region. People from all over DFW could come for a weekend and sample great Asian food. It would be good for Denton and good for Huy Fong and would provide some killer Asian food to chow down on (I&#039;ve been missing it badly since I left California.)]]></description>
		<content:encoded><![CDATA[<p>Get the City to commit to throwing an annual SrirachaFest if they move here, that would celebrate Asian culture and cuisine. The Metroplex has a rapidly growing Asian community who would most likely help support it and if it grew large enough it could become a draw beyond the DFW region. People from all over DFW could come for a weekend and sample great Asian food. It would be good for Denton and good for Huy Fong and would provide some killer Asian food to chow down on (I&#8217;ve been missing it badly since I left California.)</p>
]]></content:encoded>
	</item>
	<item>
		<title>By: Will Milne</title>
		<link>/2014/05/denton-officials-invited-to-visit-sriracha-plant-help-us-sell-denton/#comment-47105</link>
		<dc:creator><![CDATA[Will Milne]]></dc:creator>
		<pubDate>Thu, 01 May 2014 02:45:22 +0000</pubDate>
		<guid isPermaLink="false">/?p=1195#comment-47105</guid>
		<description><![CDATA[http://wedentondoit.com/blog/2013/10/30/the-denton-sriracha-merger]]></description>
		<content:encoded><![CDATA[<p><a href="http://wedentondoit.com/blog/2013/10/30/the-denton-sriracha-merger" rel="nofollow">http://wedentondoit.com/blog/2013/10/30/the-denton-sriracha-merger</a></p>
]]></content:encoded>
	</item>
	<item>
		<title>By: Lauren</title>
		<link>/2014/05/denton-officials-invited-to-visit-sriracha-plant-help-us-sell-denton/#comment-47104</link>
		<dc:creator><![CDATA[Lauren]]></dc:creator>
		<pubDate>Thu, 01 May 2014 02:03:54 +0000</pubDate>
		<guid isPermaLink="false">/?p=1195#comment-47104</guid>
		<description><![CDATA[In the news coverage of the back-and-forth with the Irwindale Council a few weeks ago, it was stated that Huy Fong uses a special pepper that grows very well in that particular part of California. This current close proximity of their &quot;source&quot; likely makes them wary of a move...with shipping costs/logistics, product freshness concerns, etc. Could we do a feasibility study with some of our local producers to see how well this variety of pepper might grow here and if there&#039;s a way we could help them curb some of those costs? Denton has a long agricultural history, a flourishing local farmers market, urban farm space, and a lot of farmable land in surrounding communities...]]></description>
		<content:encoded><![CDATA[<p>In the news coverage of the back-and-forth with the Irwindale Council a few weeks ago, it was stated that Huy Fong uses a special pepper that grows very well in that particular part of California. This current close proximity of their &#8220;source&#8221; likely makes them wary of a move&#8230;with shipping costs/logistics, product freshness concerns, etc. Could we do a feasibility study with some of our local producers to see how well this variety of pepper might grow here and if there&#8217;s a way we could help them curb some of those costs? Denton has a long agricultural history, a flourishing local farmers market, urban farm space, and a lot of farmable land in surrounding communities&#8230;</p>
]]></content:encoded>
	</item>
	<item>
		<title>By: Pat Smith</title>
		<link>/2014/05/denton-officials-invited-to-visit-sriracha-plant-help-us-sell-denton/#comment-47103</link>
		<dc:creator><![CDATA[Pat Smith]]></dc:creator>
		<pubDate>Thu, 01 May 2014 01:51:48 +0000</pubDate>
		<guid isPermaLink="false">/?p=1195#comment-47103</guid>
		<description><![CDATA[Take a photo of the existing plant and superimpose on potential parcels of land around Denton.  Do a computer generated 3D fly by to show the owners eBay it would look like... Given them a vision]]></description>
		<content:encoded><![CDATA[<p>Take a photo of the existing plant and superimpose on potential parcels of land around Denton.  Do a computer generated 3D fly by to show the owners eBay it would look like&#8230; Given them a vision</p>
]]></content:encoded>
	</item>
	<item>
		<title>By: Harley Barnes</title>
		<link>/2014/05/denton-officials-invited-to-visit-sriracha-plant-help-us-sell-denton/#comment-47102</link>
		<dc:creator><![CDATA[Harley Barnes]]></dc:creator>
		<pubDate>Thu, 01 May 2014 00:51:35 +0000</pubDate>
		<guid isPermaLink="false">/?p=1195#comment-47102</guid>
		<description><![CDATA[Throw in a complete website redesign in there with the package. There are plenty of Denton sirracha-lovers who are also web designers and developers who would jump at the opportunity to redesign it.]]></description>
		<content:encoded><![CDATA[<p>Throw in a complete website redesign in there with the package. There are plenty of Denton sirracha-lovers who are also web designers and developers who would jump at the opportunity to redesign it.</p>
]]></content:encoded>
	</item>
</channel>
</rss>
