<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>Comments on: Mamas, Don&#8217;t Let Your Babies Grow Up to be this Guy</title>
	<atom:link href="/2015/04/mamas-dont-let-your-babies-grow-up-to-be-this-guy/feed/" rel="self" type="application/rss+xml" />
	<link>/2015/04/mamas-dont-let-your-babies-grow-up-to-be-this-guy/</link>
	<description>Kevin Roden for Denton City Council</description>
	<lastBuildDate>Fri, 19 Feb 2016 21:01:19 +0000</lastBuildDate>
		<sy:updatePeriod>hourly</sy:updatePeriod>
		<sy:updateFrequency>1</sy:updateFrequency>
	<generator>http://wordpress.org/?v=3.8.14</generator>
	<item>
		<title>By: Carey Bilyeu</title>
		<link>/2015/04/mamas-dont-let-your-babies-grow-up-to-be-this-guy/#comment-63216</link>
		<dc:creator><![CDATA[Carey Bilyeu]]></dc:creator>
		<pubDate>Fri, 24 Apr 2015 00:42:49 +0000</pubDate>
		<guid isPermaLink="false">/?p=1751#comment-63216</guid>
		<description><![CDATA[It&#039;s sad that you would jump on this political satire/jest/poke beyond anything that it is! Clifton is long gone! Quit sniveling over the past! I would expect any true person who really gives a shit about Denton would research the allegations brought to light! Then and only then can you make an informed decision! As I&#039;ve requested of Mr. Roden time and again, stick to the facts, nothing but the facts and that&#039;s that! 

I have personally seen how Mr. Roden utilizes hit personal and governmental social media pages to not only sway council member votes, but to make him personally look &quot;above average&quot;! While many of you are grandstanding on his podium, albeit blind folded, I suggest to you, DO YOUR REAEARCH!

I do not and can not support Kevin Roden for re-election! I highly encourage you to do the same, however, AGAIN, do your own research!]]></description>
		<content:encoded><![CDATA[<p>It&#8217;s sad that you would jump on this political satire/jest/poke beyond anything that it is! Clifton is long gone! Quit sniveling over the past! I would expect any true person who really gives a shit about Denton would research the allegations brought to light! Then and only then can you make an informed decision! As I&#8217;ve requested of Mr. Roden time and again, stick to the facts, nothing but the facts and that&#8217;s that! </p>
<p>I have personally seen how Mr. Roden utilizes hit personal and governmental social media pages to not only sway council member votes, but to make him personally look &#8220;above average&#8221;! While many of you are grandstanding on his podium, albeit blind folded, I suggest to you, DO YOUR REAEARCH!</p>
<p>I do not and can not support Kevin Roden for re-election! I highly encourage you to do the same, however, AGAIN, do your own research!</p>
]]></content:encoded>
	</item>
	<item>
		<title>By: Scott Bynum</title>
		<link>/2015/04/mamas-dont-let-your-babies-grow-up-to-be-this-guy/#comment-63213</link>
		<dc:creator><![CDATA[Scott Bynum]]></dc:creator>
		<pubDate>Thu, 23 Apr 2015 23:48:28 +0000</pubDate>
		<guid isPermaLink="false">/?p=1751#comment-63213</guid>
		<description><![CDATA[This bit of Bob Clifton&#039;s nonsense arrived in my mailbox today. It inspired me to donate to Kevin&#039;s campaign, and I live in District 3. Anyone who can aggravate Bob Clifton enough to get him to waste his money on such claptrap deserves our support!]]></description>
		<content:encoded><![CDATA[<p>This bit of Bob Clifton&#8217;s nonsense arrived in my mailbox today. It inspired me to donate to Kevin&#8217;s campaign, and I live in District 3. Anyone who can aggravate Bob Clifton enough to get him to waste his money on such claptrap deserves our support!</p>
]]></content:encoded>
	</item>
	<item>
		<title>By: Patti Fetzer</title>
		<link>/2015/04/mamas-dont-let-your-babies-grow-up-to-be-this-guy/#comment-63054</link>
		<dc:creator><![CDATA[Patti Fetzer]]></dc:creator>
		<pubDate>Tue, 21 Apr 2015 23:35:36 +0000</pubDate>
		<guid isPermaLink="false">/?p=1751#comment-63054</guid>
		<description><![CDATA[Wondering if the opponent that created this juvenile literature is promoting anything about what he will do to help or support the city of Denton?  Thinking that this propaganda is not respected by voters today and will be great teaching material for teachers to use in civics classes to guide discussions on how ineffective politicians focus on lies and distortions of information or better yet to use as teaching materials in middle schools about what bullying behavior looks like.  May the leader with the vision and integrity and the actions behind the vision and integrity be chosen.  Thank you Councilman Roden for your continued leadership and integrity despite the negative ads.  You and we know you are doing something right!]]></description>
		<content:encoded><![CDATA[<p>Wondering if the opponent that created this juvenile literature is promoting anything about what he will do to help or support the city of Denton?  Thinking that this propaganda is not respected by voters today and will be great teaching material for teachers to use in civics classes to guide discussions on how ineffective politicians focus on lies and distortions of information or better yet to use as teaching materials in middle schools about what bullying behavior looks like.  May the leader with the vision and integrity and the actions behind the vision and integrity be chosen.  Thank you Councilman Roden for your continued leadership and integrity despite the negative ads.  You and we know you are doing something right!</p>
]]></content:encoded>
	</item>
	<item>
		<title>By: dh</title>
		<link>/2015/04/mamas-dont-let-your-babies-grow-up-to-be-this-guy/#comment-63044</link>
		<dc:creator><![CDATA[dh]]></dc:creator>
		<pubDate>Tue, 21 Apr 2015 21:07:25 +0000</pubDate>
		<guid isPermaLink="false">/?p=1751#comment-63044</guid>
		<description><![CDATA[So horribly written.  Like a Facebook rant.  Also, the second line was so weird I was looking for an acronym or double meaning: &quot;That Other Liar And Criminal Currently On Denton&#039;s City Council.&quot;]]></description>
		<content:encoded><![CDATA[<p>So horribly written.  Like a Facebook rant.  Also, the second line was so weird I was looking for an acronym or double meaning: &#8220;That Other Liar And Criminal Currently On Denton&#8217;s City Council.&#8221;</p>
]]></content:encoded>
	</item>
	<item>
		<title>By: floyd price</title>
		<link>/2015/04/mamas-dont-let-your-babies-grow-up-to-be-this-guy/#comment-63037</link>
		<dc:creator><![CDATA[floyd price]]></dc:creator>
		<pubDate>Tue, 21 Apr 2015 19:54:55 +0000</pubDate>
		<guid isPermaLink="false">/?p=1751#comment-63037</guid>
		<description><![CDATA[Very horribly written. If you want to sway public opinion #1 you should come from a middle ground stating points for both sides and letting readers determine what is right or wrong #2 never start paragraph after paragraph with the same phrase or words. I was bored and uninterested 15 seconds in bc of the horrible presentation]]></description>
		<content:encoded><![CDATA[<p>Very horribly written. If you want to sway public opinion #1 you should come from a middle ground stating points for both sides and letting readers determine what is right or wrong #2 never start paragraph after paragraph with the same phrase or words. I was bored and uninterested 15 seconds in bc of the horrible presentation</p>
]]></content:encoded>
	</item>
	<item>
		<title>By: Melissa</title>
		<link>/2015/04/mamas-dont-let-your-babies-grow-up-to-be-this-guy/#comment-63036</link>
		<dc:creator><![CDATA[Melissa]]></dc:creator>
		<pubDate>Tue, 21 Apr 2015 19:49:40 +0000</pubDate>
		<guid isPermaLink="false">/?p=1751#comment-63036</guid>
		<description><![CDATA[Did this remind anyone else of The Music Man?]]></description>
		<content:encoded><![CDATA[<p>Did this remind anyone else of The Music Man?</p>
]]></content:encoded>
	</item>
	<item>
		<title>By: Chuck Voellinger</title>
		<link>/2015/04/mamas-dont-let-your-babies-grow-up-to-be-this-guy/#comment-63033</link>
		<dc:creator><![CDATA[Chuck Voellinger]]></dc:creator>
		<pubDate>Tue, 21 Apr 2015 19:30:20 +0000</pubDate>
		<guid isPermaLink="false">/?p=1751#comment-63033</guid>
		<description><![CDATA[Vicki- Mr Clifton had no involvement with the Save Fry Street organization. I was a member and can attest to this. Anything he said or did regarding that was his own personal views or actions.]]></description>
		<content:encoded><![CDATA[<p>Vicki- Mr Clifton had no involvement with the Save Fry Street organization. I was a member and can attest to this. Anything he said or did regarding that was his own personal views or actions.</p>
]]></content:encoded>
	</item>
	<item>
		<title>By: Vicki</title>
		<link>/2015/04/mamas-dont-let-your-babies-grow-up-to-be-this-guy/#comment-63026</link>
		<dc:creator><![CDATA[Vicki]]></dc:creator>
		<pubDate>Tue, 21 Apr 2015 17:31:34 +0000</pubDate>
		<guid isPermaLink="false">/?p=1751#comment-63026</guid>
		<description><![CDATA[And what was Robert Clifton&#039;s position/role concerning Save Fry Street, please?]]></description>
		<content:encoded><![CDATA[<p>And what was Robert Clifton&#8217;s position/role concerning Save Fry Street, please?</p>
]]></content:encoded>
	</item>
	<item>
		<title>By: Lisa Roden</title>
		<link>/2015/04/mamas-dont-let-your-babies-grow-up-to-be-this-guy/#comment-63017</link>
		<dc:creator><![CDATA[Lisa Roden]]></dc:creator>
		<pubDate>Tue, 21 Apr 2015 16:49:40 +0000</pubDate>
		<guid isPermaLink="false">/?p=1751#comment-63017</guid>
		<description><![CDATA[As a teacher, I&#039;ll add a t to the student&#039;s name to get his attention. Dustin is Dustint until he calls me Mrs. Roden. Maybe since Robert T Clifton has so many t&#039;s he will remain clueless.]]></description>
		<content:encoded><![CDATA[<p>As a teacher, I&#8217;ll add a t to the student&#8217;s name to get his attention. Dustin is Dustint until he calls me Mrs. Roden. Maybe since Robert T Clifton has so many t&#8217;s he will remain clueless.</p>
]]></content:encoded>
	</item>
	<item>
		<title>By: Caleb</title>
		<link>/2015/04/mamas-dont-let-your-babies-grow-up-to-be-this-guy/#comment-63007</link>
		<dc:creator><![CDATA[Caleb]]></dc:creator>
		<pubDate>Tue, 21 Apr 2015 15:17:42 +0000</pubDate>
		<guid isPermaLink="false">/?p=1751#comment-63007</guid>
		<description><![CDATA[Haha, Bob Clifton. Oh man, I remember him from the Save Fry Street Days.]]></description>
		<content:encoded><![CDATA[<p>Haha, Bob Clifton. Oh man, I remember him from the Save Fry Street Days.</p>
]]></content:encoded>
	</item>
</channel>
</rss>
