<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>Comments on: Could a Frack-Free Denton Result in an Economic Boom?</title>
	<atom:link href="/2014/07/an-unlikely-economic-analysis-of-a-denton-fracking-ban/feed/" rel="self" type="application/rss+xml" />
	<link>/2014/07/an-unlikely-economic-analysis-of-a-denton-fracking-ban/</link>
	<description>Kevin Roden for Denton City Council</description>
	<lastBuildDate>Fri, 19 Feb 2016 21:01:19 +0000</lastBuildDate>
		<sy:updatePeriod>hourly</sy:updatePeriod>
		<sy:updateFrequency>1</sy:updateFrequency>
	<generator>http://wordpress.org/?v=3.8.14</generator>
	<item>
		<title>By: Robert Penn</title>
		<link>/2014/07/an-unlikely-economic-analysis-of-a-denton-fracking-ban/#comment-49327</link>
		<dc:creator><![CDATA[Robert Penn]]></dc:creator>
		<pubDate>Sat, 19 Jul 2014 20:38:15 +0000</pubDate>
		<guid isPermaLink="false">/?p=1301#comment-49327</guid>
		<description><![CDATA[Thanks Kevin!  I love that you consider every side of the argument and desire to bring about constructive conversation.  Hopefully people will see the benefits of the ban.  Can&#039;t wait to vote in November!]]></description>
		<content:encoded><![CDATA[<p>Thanks Kevin!  I love that you consider every side of the argument and desire to bring about constructive conversation.  Hopefully people will see the benefits of the ban.  Can&#8217;t wait to vote in November!</p>
]]></content:encoded>
	</item>
	<item>
		<title>By: Rosanne Ciccia</title>
		<link>/2014/07/an-unlikely-economic-analysis-of-a-denton-fracking-ban/#comment-49300</link>
		<dc:creator><![CDATA[Rosanne Ciccia]]></dc:creator>
		<pubDate>Sat, 19 Jul 2014 00:59:11 +0000</pubDate>
		<guid isPermaLink="false">/?p=1301#comment-49300</guid>
		<description><![CDATA[Kevin,
Thank you for the articles on this website and for standing up for the citizens of Denton on Tuesday evening. With the coming election, we need more of this TRUTH published in the DRC, Dallas Morning News and FW Star Telegram.]]></description>
		<content:encoded><![CDATA[<p>Kevin,<br />
Thank you for the articles on this website and for standing up for the citizens of Denton on Tuesday evening. With the coming election, we need more of this TRUTH published in the DRC, Dallas Morning News and FW Star Telegram.</p>
]]></content:encoded>
	</item>
	<item>
		<title>By: Jeremy Brannon</title>
		<link>/2014/07/an-unlikely-economic-analysis-of-a-denton-fracking-ban/#comment-49295</link>
		<dc:creator><![CDATA[Jeremy Brannon]]></dc:creator>
		<pubDate>Fri, 18 Jul 2014 20:01:08 +0000</pubDate>
		<guid isPermaLink="false">/?p=1301#comment-49295</guid>
		<description><![CDATA[Thank you for publishing this, Councilman Roden. This was pretty much what I was thinking about when the discussion in the council chambers turned to bargaining strategies with the oil industries. If you want a focus on more labor-intensive companies (which is needed if Denton is going to double in size over the next decade) that would like to expand or relocate to the kind of city that would ban fracking, then the ban would be a great bargaining chip when approaching those companies. As it stands, I fail to see how the election route offers any significant bargaining advantage for the city with gas companies. Either way the election goes, you have to go against the public if you want to negotiate with them. 

Also, thank you so much for voting the way you and Councilman Gregory did this week. That took a lot of courage.]]></description>
		<content:encoded><![CDATA[<p>Thank you for publishing this, Councilman Roden. This was pretty much what I was thinking about when the discussion in the council chambers turned to bargaining strategies with the oil industries. If you want a focus on more labor-intensive companies (which is needed if Denton is going to double in size over the next decade) that would like to expand or relocate to the kind of city that would ban fracking, then the ban would be a great bargaining chip when approaching those companies. As it stands, I fail to see how the election route offers any significant bargaining advantage for the city with gas companies. Either way the election goes, you have to go against the public if you want to negotiate with them. </p>
<p>Also, thank you so much for voting the way you and Councilman Gregory did this week. That took a lot of courage.</p>
]]></content:encoded>
	</item>
	<item>
		<title>By: Nathan Miller</title>
		<link>/2014/07/an-unlikely-economic-analysis-of-a-denton-fracking-ban/#comment-49198</link>
		<dc:creator><![CDATA[Nathan Miller]]></dc:creator>
		<pubDate>Tue, 15 Jul 2014 14:18:05 +0000</pubDate>
		<guid isPermaLink="false">/?p=1301#comment-49198</guid>
		<description><![CDATA[Thanks for writing this, Kevin.  The reasons you&#039;ve mentioned would certainly attract me to Denton if I didn&#039;t leave here, and certainly contribute to the reasons I&#039;ve stayed.  If Denton passed a ban on fracking, that would certainly rank highly among the reasons to stay long-term.  (Incidentally, there was a man gathering signatures to protect oil and gas drilling rights on the Denton square last night. He was drinking a 40 out of a paper bag, so I&#039;m guessing he was hired and wasn&#039;t very invested in the cause).]]></description>
		<content:encoded><![CDATA[<p>Thanks for writing this, Kevin.  The reasons you&#8217;ve mentioned would certainly attract me to Denton if I didn&#8217;t leave here, and certainly contribute to the reasons I&#8217;ve stayed.  If Denton passed a ban on fracking, that would certainly rank highly among the reasons to stay long-term.  (Incidentally, there was a man gathering signatures to protect oil and gas drilling rights on the Denton square last night. He was drinking a 40 out of a paper bag, so I&#8217;m guessing he was hired and wasn&#8217;t very invested in the cause).</p>
]]></content:encoded>
	</item>
	<item>
		<title>By: Tamera Bounds</title>
		<link>/2014/07/an-unlikely-economic-analysis-of-a-denton-fracking-ban/#comment-49193</link>
		<dc:creator><![CDATA[Tamera Bounds]]></dc:creator>
		<pubDate>Tue, 15 Jul 2014 12:36:10 +0000</pubDate>
		<guid isPermaLink="false">/?p=1301#comment-49193</guid>
		<description><![CDATA[I encourage Denton City Council to stay the course. You represent your citizens that have laid all the concerns, issues, findings, needs and pleas at your feet. These actions have not been driven by 3rd party agendas nor has it been funded as such. This cause has been funded and by People like myself and your citizens thru lemonade sales, porch party for signing the petition, sale of T-shirts, popcorn and public awareness contributions. These are not the motives of terroists, communists, activists or people trying to compromise the government. These are Texans from all walks of life saying &quot;Its time to listen to us &quot; Its time for change!]]></description>
		<content:encoded><![CDATA[<p>I encourage Denton City Council to stay the course. You represent your citizens that have laid all the concerns, issues, findings, needs and pleas at your feet. These actions have not been driven by 3rd party agendas nor has it been funded as such. This cause has been funded and by People like myself and your citizens thru lemonade sales, porch party for signing the petition, sale of T-shirts, popcorn and public awareness contributions. These are not the motives of terroists, communists, activists or people trying to compromise the government. These are Texans from all walks of life saying &#8220;Its time to listen to us &#8221; Its time for change!</p>
]]></content:encoded>
	</item>
	<item>
		<title>By: Dale</title>
		<link>/2014/07/an-unlikely-economic-analysis-of-a-denton-fracking-ban/#comment-49185</link>
		<dc:creator><![CDATA[Dale]]></dc:creator>
		<pubDate>Tue, 15 Jul 2014 03:21:42 +0000</pubDate>
		<guid isPermaLink="false">/?p=1301#comment-49185</guid>
		<description><![CDATA[Nobody wants to live next to an oil well, so of course they decrease property value. But the people whose property value is decreased don&#039;t get anything for their sacrifice, the advantage always goes to the oil companies, who don&#039;t live there, and will have no presence there after the oil is gone. And then good luck getting them to clean up after themselves, you&#039;ll never be able to touch them, or even to contact them.]]></description>
		<content:encoded><![CDATA[<p>Nobody wants to live next to an oil well, so of course they decrease property value. But the people whose property value is decreased don&#8217;t get anything for their sacrifice, the advantage always goes to the oil companies, who don&#8217;t live there, and will have no presence there after the oil is gone. And then good luck getting them to clean up after themselves, you&#8217;ll never be able to touch them, or even to contact them.</p>
]]></content:encoded>
	</item>
	<item>
		<title>By: Sandy</title>
		<link>/2014/07/an-unlikely-economic-analysis-of-a-denton-fracking-ban/#comment-49183</link>
		<dc:creator><![CDATA[Sandy]]></dc:creator>
		<pubDate>Tue, 15 Jul 2014 01:51:39 +0000</pubDate>
		<guid isPermaLink="false">/?p=1301#comment-49183</guid>
		<description><![CDATA[A thoughtful economic analysis often overlooked during the fracking ban discussion. Denton simply cannot afford economically and socially not to pass this ban. There is no better place in Texas than Denton to take a stand against the types of inhumane fracking practices which have been perpetrated against the citizens of Denton. I agree with Sara that Denton can defend the ban in court at little legal cost because we know that highly qualified  legal experts are  ready, willing, and able to defend this action for us pro-bono in court.]]></description>
		<content:encoded><![CDATA[<p>A thoughtful economic analysis often overlooked during the fracking ban discussion. Denton simply cannot afford economically and socially not to pass this ban. There is no better place in Texas than Denton to take a stand against the types of inhumane fracking practices which have been perpetrated against the citizens of Denton. I agree with Sara that Denton can defend the ban in court at little legal cost because we know that highly qualified  legal experts are  ready, willing, and able to defend this action for us pro-bono in court.</p>
]]></content:encoded>
	</item>
	<item>
		<title>By: Rhonda Love</title>
		<link>/2014/07/an-unlikely-economic-analysis-of-a-denton-fracking-ban/#comment-49182</link>
		<dc:creator><![CDATA[Rhonda Love]]></dc:creator>
		<pubDate>Tue, 15 Jul 2014 00:59:01 +0000</pubDate>
		<guid isPermaLink="false">/?p=1301#comment-49182</guid>
		<description><![CDATA[Thank you for publishing this. I believe that once we understand the direct and indirect costs of treating fracking-related illnesses, we will also see that fracking costs us a great deal more than we realize.]]></description>
		<content:encoded><![CDATA[<p>Thank you for publishing this. I believe that once we understand the direct and indirect costs of treating fracking-related illnesses, we will also see that fracking costs us a great deal more than we realize.</p>
]]></content:encoded>
	</item>
	<item>
		<title>By: Sara Bagheri</title>
		<link>/2014/07/an-unlikely-economic-analysis-of-a-denton-fracking-ban/#comment-49180</link>
		<dc:creator><![CDATA[Sara Bagheri]]></dc:creator>
		<pubDate>Mon, 14 Jul 2014 22:59:49 +0000</pubDate>
		<guid isPermaLink="false">/?p=1301#comment-49180</guid>
		<description><![CDATA[Kevin, 
As I understand it, the city of Dryden, NY did not pay one penny to defend their ordinances. The defense was provided by EarthJustice with the assistance of the Natural Resources Defense Council (NRDC). These organizations are supported by thousands of private donations from across the country.  &quot;City goes bankrupt defending fracking ban&quot; is one headline we will never see because of the top flight, FREE legal representation of these organizations.]]></description>
		<content:encoded><![CDATA[<p>Kevin,<br />
As I understand it, the city of Dryden, NY did not pay one penny to defend their ordinances. The defense was provided by EarthJustice with the assistance of the Natural Resources Defense Council (NRDC). These organizations are supported by thousands of private donations from across the country.  &#8220;City goes bankrupt defending fracking ban&#8221; is one headline we will never see because of the top flight, FREE legal representation of these organizations.</p>
]]></content:encoded>
	</item>
	<item>
		<title>By: Adam</title>
		<link>/2014/07/an-unlikely-economic-analysis-of-a-denton-fracking-ban/#comment-49175</link>
		<dc:creator><![CDATA[Adam]]></dc:creator>
		<pubDate>Mon, 14 Jul 2014 20:29:37 +0000</pubDate>
		<guid isPermaLink="false">/?p=1301#comment-49175</guid>
		<description><![CDATA[Kevin - very well said, and thank you for pointing out the potential boom that can result from banning fracking. I think that is one of the missing pieces in the dialogue too and I appreciate you putting it out there so well.]]></description>
		<content:encoded><![CDATA[<p>Kevin &#8211; very well said, and thank you for pointing out the potential boom that can result from banning fracking. I think that is one of the missing pieces in the dialogue too and I appreciate you putting it out there so well.</p>
]]></content:encoded>
	</item>
</channel>
</rss>
