<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>Comments on: UNT&#8217;s Sack n Save Acquisition Raises Serious Questions about Convention Center Viability</title>
	<atom:link href="/2014/09/unts-sack-n-save-acquisition-raises-serious-questions-about-convention-center-viability/feed/" rel="self" type="application/rss+xml" />
	<link>/2014/09/unts-sack-n-save-acquisition-raises-serious-questions-about-convention-center-viability/</link>
	<description>Kevin Roden for Denton City Council</description>
	<lastBuildDate>Mon, 27 Jun 2016 21:47:35 +0000</lastBuildDate>
		<sy:updatePeriod>hourly</sy:updatePeriod>
		<sy:updateFrequency>1</sy:updateFrequency>
	<generator>http://wordpress.org/?v=3.8.15</generator>
	<item>
		<title>By: Cathy McMullen</title>
		<link>/2014/09/unts-sack-n-save-acquisition-raises-serious-questions-about-convention-center-viability/#comment-50925</link>
		<dc:creator><![CDATA[Cathy McMullen]]></dc:creator>
		<pubDate>Sat, 27 Sep 2014 23:12:59 +0000</pubDate>
		<guid isPermaLink="false">/?p=1370#comment-50925</guid>
		<description><![CDATA[Is Sack and Save paying taxes into the  city? If the UNT buys this property and turns it into university property will they have to pay the same amount of taxes? Or would this valuable piece of property be tax exempt.]]></description>
		<content:encoded><![CDATA[<p>Is Sack and Save paying taxes into the  city? If the UNT buys this property and turns it into university property will they have to pay the same amount of taxes? Or would this valuable piece of property be tax exempt.</p>
]]></content:encoded>
	</item>
	<item>
		<title>By: James</title>
		<link>/2014/09/unts-sack-n-save-acquisition-raises-serious-questions-about-convention-center-viability/#comment-50884</link>
		<dc:creator><![CDATA[James]]></dc:creator>
		<pubDate>Thu, 25 Sep 2014 21:22:24 +0000</pubDate>
		<guid isPermaLink="false">/?p=1370#comment-50884</guid>
		<description><![CDATA[I think I&#039;m going to disagree with you here - a rare occurrence. Doesn&#039;t the university intend on partnering with current property owners? They want to redevelop the area to improve that visible entrance to campus me make the development match the look of the university. The sack and save property will be the most visible from the highway and establish a UNT footprint on that property. I also think the area on the map is too large. It&#039;s not going past Ave A to Bernard. 

If the convention center is heavily relying on that small area of redevelopment, I question its viability anyway. Sure it would be nice to have retail close by, but if that is a major factor than the location doesn&#039;t make sense anyway. Although, it seems clear that retail will still exist there in the future. 

If the location is the problem, what other location is Denton proposing? Downtown? Great! Where? And for how much? Under $30 Million? I doubt it. You can&#039;t have everything in this scenario. It is denton after all. I think we are in agreeance, however, that this project is good for Denton and probably needs to happen. It&#039;s just about Denton protecting itself, which I think the current deal does.]]></description>
		<content:encoded><![CDATA[<p>I think I&#8217;m going to disagree with you here &#8211; a rare occurrence. Doesn&#8217;t the university intend on partnering with current property owners? They want to redevelop the area to improve that visible entrance to campus me make the development match the look of the university. The sack and save property will be the most visible from the highway and establish a UNT footprint on that property. I also think the area on the map is too large. It&#8217;s not going past Ave A to Bernard. </p>
<p>If the convention center is heavily relying on that small area of redevelopment, I question its viability anyway. Sure it would be nice to have retail close by, but if that is a major factor than the location doesn&#8217;t make sense anyway. Although, it seems clear that retail will still exist there in the future. </p>
<p>If the location is the problem, what other location is Denton proposing? Downtown? Great! Where? And for how much? Under $30 Million? I doubt it. You can&#8217;t have everything in this scenario. It is denton after all. I think we are in agreeance, however, that this project is good for Denton and probably needs to happen. It&#8217;s just about Denton protecting itself, which I think the current deal does.</p>
]]></content:encoded>
	</item>
	<item>
		<title>By: Christopher Walker</title>
		<link>/2014/09/unts-sack-n-save-acquisition-raises-serious-questions-about-convention-center-viability/#comment-50876</link>
		<dc:creator><![CDATA[Christopher Walker]]></dc:creator>
		<pubDate>Thu, 25 Sep 2014 16:03:46 +0000</pubDate>
		<guid isPermaLink="false">/?p=1370#comment-50876</guid>
		<description><![CDATA[Kevin, rarely do I find myself on the opposing view or outcome over the same data, but here I am.

I think you are misreading or mis-interpreting the map of the area in question from the 2013 Master Plan. In fact, all documentation of that area on pages 8, 86, 120-121, and 125 all point toward the outcome that you specifically want: an invested redevelopment of the area.

From those latter pages...

(p.121) &quot;Partnership Sites
The potential redevelopment of the area south of the campus as a ‘college town’ mixed-use development is in a similar category. Many approaches to realizing this type of project could be imagined, but a combination of the I-35 project impact, property owner interest, market forces and city and University interests could influence the scope and timing of this potential future development.&quot;

(p.125) &quot;Between Eagle Drive and I-35
With the construction of I-35 and related right- of-way acquisitions by TXDoT, the university should work closely with the City of Denton and private land owners to assist and encourage the development and redevelopment of this area. Future uses should support the campus and create a more walkable retail commercial area. This development could be an opportunity to brand the university area as a college town. The mixed-use environment would be supported by the increased campus enrollment and the visibility and accessibility of the interstate.&quot;]]></description>
		<content:encoded><![CDATA[<p>Kevin, rarely do I find myself on the opposing view or outcome over the same data, but here I am.</p>
<p>I think you are misreading or mis-interpreting the map of the area in question from the 2013 Master Plan. In fact, all documentation of that area on pages 8, 86, 120-121, and 125 all point toward the outcome that you specifically want: an invested redevelopment of the area.</p>
<p>From those latter pages&#8230;</p>
<p>(p.121) &#8220;Partnership Sites<br />
The potential redevelopment of the area south of the campus as a ‘college town’ mixed-use development is in a similar category. Many approaches to realizing this type of project could be imagined, but a combination of the I-35 project impact, property owner interest, market forces and city and University interests could influence the scope and timing of this potential future development.&#8221;</p>
<p>(p.125) &#8220;Between Eagle Drive and I-35<br />
With the construction of I-35 and related right- of-way acquisitions by TXDoT, the university should work closely with the City of Denton and private land owners to assist and encourage the development and redevelopment of this area. Future uses should support the campus and create a more walkable retail commercial area. This development could be an opportunity to brand the university area as a college town. The mixed-use environment would be supported by the increased campus enrollment and the visibility and accessibility of the interstate.&#8221;</p>
]]></content:encoded>
	</item>
	<item>
		<title>By: Bear</title>
		<link>/2014/09/unts-sack-n-save-acquisition-raises-serious-questions-about-convention-center-viability/#comment-50875</link>
		<dc:creator><![CDATA[Bear]]></dc:creator>
		<pubDate>Thu, 25 Sep 2014 15:40:05 +0000</pubDate>
		<guid isPermaLink="false">/?p=1370#comment-50875</guid>
		<description><![CDATA[From my experience and dealings specifically w/ a branding group that works solely on conferences, that market is shrinking and they&#039;re struggling to get people to physically go places instead of virtually/webinar/etc.

That being said, I don&#039;t think a conference center in Denton is going beat the odds. My gut feeling all along about a conference center is that it will wane, people may call for more investment to &#039;turn the corner&#039; and ultimately it will be a cheap acquisition for the university - especially given the location.

I can&#039;t argue the numbers, but that&#039;s my gut.]]></description>
		<content:encoded><![CDATA[<p>From my experience and dealings specifically w/ a branding group that works solely on conferences, that market is shrinking and they&#8217;re struggling to get people to physically go places instead of virtually/webinar/etc.</p>
<p>That being said, I don&#8217;t think a conference center in Denton is going beat the odds. My gut feeling all along about a conference center is that it will wane, people may call for more investment to &#8216;turn the corner&#8217; and ultimately it will be a cheap acquisition for the university &#8211; especially given the location.</p>
<p>I can&#8217;t argue the numbers, but that&#8217;s my gut.</p>
]]></content:encoded>
	</item>
	<item>
		<title>By: Andy Hogue</title>
		<link>/2014/09/unts-sack-n-save-acquisition-raises-serious-questions-about-convention-center-viability/#comment-50874</link>
		<dc:creator><![CDATA[Andy Hogue]]></dc:creator>
		<pubDate>Thu, 25 Sep 2014 15:39:14 +0000</pubDate>
		<guid isPermaLink="false">/?p=1370#comment-50874</guid>
		<description><![CDATA[Will, that&#039;s an astute observation.

UT is still trying to nab &quot;Player&#039;s&quot; (think the Flying Tomato but with burgers) and have already bought up a gas station and a Schlotzsky&#039;s in order to build an adjacent business school ... and make for a purtier entrance to the AT&amp;T Athletic Hote... er ... Executive Conference Center.

The problem is, it&#039;s getting near impossible to find a place to gas up around the Capitol or UT. But the admin doesn&#039;t care about essential services. Nor does UNT&#039;s admin care about the only grocery store in the neighborhood.  It&#039;s all about prestige to this current crop of state university leaders.]]></description>
		<content:encoded><![CDATA[<p>Will, that&#8217;s an astute observation.</p>
<p>UT is still trying to nab &#8220;Player&#8217;s&#8221; (think the Flying Tomato but with burgers) and have already bought up a gas station and a Schlotzsky&#8217;s in order to build an adjacent business school &#8230; and make for a purtier entrance to the AT&amp;T Athletic Hote&#8230; er &#8230; Executive Conference Center.</p>
<p>The problem is, it&#8217;s getting near impossible to find a place to gas up around the Capitol or UT. But the admin doesn&#8217;t care about essential services. Nor does UNT&#8217;s admin care about the only grocery store in the neighborhood.  It&#8217;s all about prestige to this current crop of state university leaders.</p>
]]></content:encoded>
	</item>
	<item>
		<title>By: will</title>
		<link>/2014/09/unts-sack-n-save-acquisition-raises-serious-questions-about-convention-center-viability/#comment-50873</link>
		<dc:creator><![CDATA[will]]></dc:creator>
		<pubDate>Thu, 25 Sep 2014 15:19:44 +0000</pubDate>
		<guid isPermaLink="false">/?p=1370#comment-50873</guid>
		<description><![CDATA[Interesting. Isn&#039;t that basically how the AT&amp;T Executive Education and Conference Center in Austin is set up? As far as a convention center located right on the edge of a campus goes, at least. I wonder how that convention center adjusted development there, if at all.]]></description>
		<content:encoded><![CDATA[<p>Interesting. Isn&#8217;t that basically how the AT&amp;T Executive Education and Conference Center in Austin is set up? As far as a convention center located right on the edge of a campus goes, at least. I wonder how that convention center adjusted development there, if at all.</p>
]]></content:encoded>
	</item>
</channel>
</rss>
