<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
		>
<channel>
	<title>Comments on: The Day Denton Failed to Open the First State Bank Time Capsule</title>
	<atom:link href="/2012/09/the-day-denton-failed-to-open-the-first-state-bank-time-capsule/feed/" rel="self" type="application/rss+xml" />
	<link>/2012/09/the-day-denton-failed-to-open-the-first-state-bank-time-capsule/</link>
	<description>Kevin Roden for Denton City Council</description>
	<lastBuildDate>Fri, 14 Sep 2012 16:04:23 +0000</lastBuildDate>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>http://wordpress.org/?v=3.0.4</generator>
	<item>
		<title>By: Kathy B</title>
		<link>/2012/09/the-day-denton-failed-to-open-the-first-state-bank-time-capsule/#comment-2004</link>
		<dc:creator>Kathy B</dc:creator>
		<pubDate>Fri, 14 Sep 2012 16:04:23 +0000</pubDate>
		<guid isPermaLink="false">/?p=632#comment-2004</guid>
		<description>Apparently, 1st State Bank didn&#039;t survive the anticipated 100 years, so there will never actually be a date to observe that fact!</description>
		<content:encoded><![CDATA[<p>Apparently, 1st State Bank didn&#8217;t survive the anticipated 100 years, so there will never actually be a date to observe that fact!</p>
]]></content:encoded>
	</item>
	<item>
		<title>By: Steven</title>
		<link>/2012/09/the-day-denton-failed-to-open-the-first-state-bank-time-capsule/#comment-1986</link>
		<dc:creator>Steven</dc:creator>
		<pubDate>Thu, 13 Sep 2012 19:35:41 +0000</pubDate>
		<guid isPermaLink="false">/?p=632#comment-1986</guid>
		<description>20 years?  Big deal.......I have shoes older than that</description>
		<content:encoded><![CDATA[<p>20 years?  Big deal&#8230;&#8230;.I have shoes older than that</p>
]]></content:encoded>
	</item>
	<item>
		<title>By: Ed D.</title>
		<link>/2012/09/the-day-denton-failed-to-open-the-first-state-bank-time-capsule/#comment-1985</link>
		<dc:creator>Ed D.</dc:creator>
		<pubDate>Thu, 13 Sep 2012 19:22:28 +0000</pubDate>
		<guid isPermaLink="false">/?p=632#comment-1985</guid>
		<description>This would explain where they stashed all the Crystal Pepsi...</description>
		<content:encoded><![CDATA[<p>This would explain where they stashed all the Crystal Pepsi&#8230;</p>
]]></content:encoded>
	</item>
	<item>
		<title>By: Jen Ochieng</title>
		<link>/2012/09/the-day-denton-failed-to-open-the-first-state-bank-time-capsule/#comment-1983</link>
		<dc:creator>Jen Ochieng</dc:creator>
		<pubDate>Thu, 13 Sep 2012 18:37:23 +0000</pubDate>
		<guid isPermaLink="false">/?p=632#comment-1983</guid>
		<description>Someone should just scratch out 2012 and write 2112 or something, let someone else bear the burden of ripping up the sidewalk! However, it is sad that it won&#039;t be opened, since very clearly some people took the time, effort, and money to make sure an elaborate time capsule to be opened on that day. Oh well, I guess we&#039;ll never know whats inside!!</description>
		<content:encoded><![CDATA[<p>Someone should just scratch out 2012 and write 2112 or something, let someone else bear the burden of ripping up the sidewalk! However, it is sad that it won&#8217;t be opened, since very clearly some people took the time, effort, and money to make sure an elaborate time capsule to be opened on that day. Oh well, I guess we&#8217;ll never know whats inside!!</p>
]]></content:encoded>
	</item>
	<item>
		<title>By: ira wile</title>
		<link>/2012/09/the-day-denton-failed-to-open-the-first-state-bank-time-capsule/#comment-1982</link>
		<dc:creator>ira wile</dc:creator>
		<pubDate>Thu, 13 Sep 2012 18:24:00 +0000</pubDate>
		<guid isPermaLink="false">/?p=632#comment-1982</guid>
		<description>...there is literally nothing about any of this that surprises me.</description>
		<content:encoded><![CDATA[<p>&#8230;there is literally nothing about any of this that surprises me.</p>
]]></content:encoded>
	</item>
	<item>
		<title>By: Nora Jonas</title>
		<link>/2012/09/the-day-denton-failed-to-open-the-first-state-bank-time-capsule/#comment-1980</link>
		<dc:creator>Nora Jonas</dc:creator>
		<pubDate>Thu, 13 Sep 2012 17:54:27 +0000</pubDate>
		<guid isPermaLink="false">/?p=632#comment-1980</guid>
		<description>Can&#039;t wait to leave!</description>
		<content:encoded><![CDATA[<p>Can&#8217;t wait to leave!</p>
]]></content:encoded>
	</item>
	<item>
		<title>By: CONCERNED DENTON CITIZEN</title>
		<link>/2012/09/the-day-denton-failed-to-open-the-first-state-bank-time-capsule/#comment-1979</link>
		<dc:creator>CONCERNED DENTON CITIZEN</dc:creator>
		<pubDate>Thu, 13 Sep 2012 17:47:50 +0000</pubDate>
		<guid isPermaLink="false">/?p=632#comment-1979</guid>
		<description>nah fudge that, dig it out.  so its a little late--doesnt mean ppl dont want to know whats in there.  thinking this is more a situation where the city doesnt want to pay to repair the damn sidewalk, nahmean?

Roden yr still cool, i&#039;m just sayin.</description>
		<content:encoded><![CDATA[<p>nah fudge that, dig it out.  so its a little late&#8211;doesnt mean ppl dont want to know whats in there.  thinking this is more a situation where the city doesnt want to pay to repair the damn sidewalk, nahmean?</p>
<p>Roden yr still cool, i&#8217;m just sayin.</p>
]]></content:encoded>
	</item>
	<item>
		<title>By: Lauren Chappell</title>
		<link>/2012/09/the-day-denton-failed-to-open-the-first-state-bank-time-capsule/#comment-1978</link>
		<dc:creator>Lauren Chappell</dc:creator>
		<pubDate>Thu, 13 Sep 2012 17:39:25 +0000</pubDate>
		<guid isPermaLink="false">/?p=632#comment-1978</guid>
		<description>Mr. Davidson and Mr. Lowe,

I may be mistaken, but it seems to me that Mr. Roden&#039;s post more in jest than out of a serious celebration of failure. I&#039;m sure that opening the time capsule would be a fun and interesting thing to do, but I feel it can be just as fun to have this as an inside joke for our generation. Imagine answering questions about it another 20 years from now. I personally find the idea fantastic.</description>
		<content:encoded><![CDATA[<p>Mr. Davidson and Mr. Lowe,</p>
<p>I may be mistaken, but it seems to me that Mr. Roden&#8217;s post more in jest than out of a serious celebration of failure. I&#8217;m sure that opening the time capsule would be a fun and interesting thing to do, but I feel it can be just as fun to have this as an inside joke for our generation. Imagine answering questions about it another 20 years from now. I personally find the idea fantastic.</p>
]]></content:encoded>
	</item>
	<item>
		<title>By: jerry</title>
		<link>/2012/09/the-day-denton-failed-to-open-the-first-state-bank-time-capsule/#comment-1977</link>
		<dc:creator>jerry</dc:creator>
		<pubDate>Thu, 13 Sep 2012 17:35:09 +0000</pubDate>
		<guid isPermaLink="false">/?p=632#comment-1977</guid>
		<description>Wells Fargo doesn&#039;t want people to remember that First State Bank ever existed. A lot of their customers in Denton opened their accounts with First State Bank and Wells Fargo only has that money now because of that purchase.
Also it was supposed to be a celebration of First State Bank being in business for a century They didn&#039;t make it. Wells Fargo isn&#039;t going to want to pay to have a time capsule opened celebrating the 100 year anniversary of a company that didn&#039;t make it that long before they bought them out. 
They bought my checking account and they bought my car loan. Can&#039;t escape them.</description>
		<content:encoded><![CDATA[<p>Wells Fargo doesn&#8217;t want people to remember that First State Bank ever existed. A lot of their customers in Denton opened their accounts with First State Bank and Wells Fargo only has that money now because of that purchase.<br />
Also it was supposed to be a celebration of First State Bank being in business for a century They didn&#8217;t make it. Wells Fargo isn&#8217;t going to want to pay to have a time capsule opened celebrating the 100 year anniversary of a company that didn&#8217;t make it that long before they bought them out.<br />
They bought my checking account and they bought my car loan. Can&#8217;t escape them.</p>
]]></content:encoded>
	</item>
	<item>
		<title>By: Shelly Tucker</title>
		<link>/2012/09/the-day-denton-failed-to-open-the-first-state-bank-time-capsule/#comment-1975</link>
		<dc:creator>Shelly Tucker</dc:creator>
		<pubDate>Thu, 13 Sep 2012 17:11:35 +0000</pubDate>
		<guid isPermaLink="false">/?p=632#comment-1975</guid>
		<description>Actually, not to take away from Mr. Farris, but I had posted a picture on the Denton Haunts time-line on Facebook on Monday with a picture of the time capsule, and wrote about it (see link above) in 2010.  I&#039;m miffed that I didn&#039;t get invited to the anarchy party!  
To open the time capsule, all they need is a cement saw, for Heaven&#039;s sake.</description>
		<content:encoded><![CDATA[<p>Actually, not to take away from Mr. Farris, but I had posted a picture on the Denton Haunts time-line on Facebook on Monday with a picture of the time capsule, and wrote about it (see link above) in 2010.  I&#8217;m miffed that I didn&#8217;t get invited to the anarchy party!<br />
To open the time capsule, all they need is a cement saw, for Heaven&#8217;s sake.</p>
]]></content:encoded>
	</item>
</channel>
</rss>
