<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>Comments on: The Supposed Gentrification of Denton</title>
	<atom:link href="/2016/06/the-supposed-gentrification-of-denton/feed/" rel="self" type="application/rss+xml" />
	<link>/2016/06/the-supposed-gentrification-of-denton/</link>
	<description>Kevin Roden for Denton City Council</description>
	<lastBuildDate>Sun, 25 Dec 2016 14:08:33 +0000</lastBuildDate>
		<sy:updatePeriod>hourly</sy:updatePeriod>
		<sy:updateFrequency>1</sy:updateFrequency>
	<generator>http://wordpress.org/?v=3.8.19</generator>
	<item>
		<title>By: Jane Torrie</title>
		<link>/2016/06/the-supposed-gentrification-of-denton/#comment-74452</link>
		<dc:creator><![CDATA[Jane Torrie]]></dc:creator>
		<pubDate>Mon, 27 Jun 2016 21:47:35 +0000</pubDate>
		<guid isPermaLink="false">/?p=2063#comment-74452</guid>
		<description><![CDATA[Thank you for the detailed analysis.]]></description>
		<content:encoded><![CDATA[<p>Thank you for the detailed analysis.</p>
]]></content:encoded>
	</item>
	<item>
		<title>By: Patrick</title>
		<link>/2016/06/the-supposed-gentrification-of-denton/#comment-74451</link>
		<dc:creator><![CDATA[Patrick]]></dc:creator>
		<pubDate>Mon, 27 Jun 2016 21:35:27 +0000</pubDate>
		<guid isPermaLink="false">/?p=2063#comment-74451</guid>
		<description><![CDATA[Thank you for the data.  You are correct in stating this is not gentrification.  But, displacement would be a more appropriate word.

You gave statistics that show the median household income in 76201 was $23k, but the rent average current on Zillow for 76201 is $1k a month. It is $1,100 for a 2 bedroom.  Even with a median income of $44k it is difficult for a person at that rent range.

You will also notice your income data has not grown as quickly as property taxes or home prices. How is a person who came to Denton that budgeted for current rates supposed to live if taxes and prices outpace their wages.  Denton is different in the respect of diversity of incomes, we are students, retail, educators, manufacturing and other things that range wildly on the pay scale of the economy.

Plus you mention about having more people coming back into the downtown as homeowners.  This coin has two sides to it.  If we displace the college students into apartments, which are high priced and less bang for the buck we are creating an &quot;urban&quot; landscape where you have a highly concentrated mass of young adults.  This creates a place of anxiety, friction and dislocation from the community as a whole.  Crime will increase in and around those areas.

Having students and educators throughout the city and in homes has created an ecosystem of low crime and genuine affinity for the universities in this city.

With new noise pollution coming in a few years from the power plant, increased traffic, convention center, Rayzor Ranch and turning the downtown into a night club.  It seems like Denton is searching for its identity. But for those of us who have lived here for a while we knew it already had one.  Your statistics show Comparisons to other communities or buckets of information, but Denton should never be in competition with others.  Since what works for one city does not work for another.

Thanks]]></description>
		<content:encoded><![CDATA[<p>Thank you for the data.  You are correct in stating this is not gentrification.  But, displacement would be a more appropriate word.</p>
<p>You gave statistics that show the median household income in 76201 was $23k, but the rent average current on Zillow for 76201 is $1k a month. It is $1,100 for a 2 bedroom.  Even with a median income of $44k it is difficult for a person at that rent range.</p>
<p>You will also notice your income data has not grown as quickly as property taxes or home prices. How is a person who came to Denton that budgeted for current rates supposed to live if taxes and prices outpace their wages.  Denton is different in the respect of diversity of incomes, we are students, retail, educators, manufacturing and other things that range wildly on the pay scale of the economy.</p>
<p>Plus you mention about having more people coming back into the downtown as homeowners.  This coin has two sides to it.  If we displace the college students into apartments, which are high priced and less bang for the buck we are creating an &#8220;urban&#8221; landscape where you have a highly concentrated mass of young adults.  This creates a place of anxiety, friction and dislocation from the community as a whole.  Crime will increase in and around those areas.</p>
<p>Having students and educators throughout the city and in homes has created an ecosystem of low crime and genuine affinity for the universities in this city.</p>
<p>With new noise pollution coming in a few years from the power plant, increased traffic, convention center, Rayzor Ranch and turning the downtown into a night club.  It seems like Denton is searching for its identity. But for those of us who have lived here for a while we knew it already had one.  Your statistics show Comparisons to other communities or buckets of information, but Denton should never be in competition with others.  Since what works for one city does not work for another.</p>
<p>Thanks</p>
]]></content:encoded>
	</item>
	<item>
		<title>By: Greg Johnson</title>
		<link>/2016/06/the-supposed-gentrification-of-denton/#comment-74450</link>
		<dc:creator><![CDATA[Greg Johnson]]></dc:creator>
		<pubDate>Mon, 27 Jun 2016 21:34:46 +0000</pubDate>
		<guid isPermaLink="false">/?p=2063#comment-74450</guid>
		<description><![CDATA[Proof positive that when you remove emotion, agendas &amp; rhetoric to focus on the data, the data doesn&#039;t lie. What a great analysis Kevin. Proof that Denton is moving in the right direction across all demographic lines. You should start a newspaper &amp; report THE FACTS as you did here! Our citizens deserve that.]]></description>
		<content:encoded><![CDATA[<p>Proof positive that when you remove emotion, agendas &amp; rhetoric to focus on the data, the data doesn&#8217;t lie. What a great analysis Kevin. Proof that Denton is moving in the right direction across all demographic lines. You should start a newspaper &amp; report THE FACTS as you did here! Our citizens deserve that.</p>
]]></content:encoded>
	</item>
	<item>
		<title>By: Doug Campbell</title>
		<link>/2016/06/the-supposed-gentrification-of-denton/#comment-74448</link>
		<dc:creator><![CDATA[Doug Campbell]]></dc:creator>
		<pubDate>Mon, 27 Jun 2016 19:24:33 +0000</pubDate>
		<guid isPermaLink="false">/?p=2063#comment-74448</guid>
		<description><![CDATA[Thanks for the research and analysis, Kevin. Do you think that the decrease in median income affects the ability of people to afford rising rents and costs of home ownership, particularly in 76201? I bought a house in 76201 three years ago. My income has not kept up with significant increases in my property tax. It naturally has risen with property value estimates, but unfortunately, my income has not risen to compensate for the rise in cost. Situations like mine may prevent home owners from keeping their homes because their income cannot keep up with costs. Regarding gentrification, is this phenomenon a potential beginning stage of gentrification in a particular zip code? Maybe I am oversimplifying the process.]]></description>
		<content:encoded><![CDATA[<p>Thanks for the research and analysis, Kevin. Do you think that the decrease in median income affects the ability of people to afford rising rents and costs of home ownership, particularly in 76201? I bought a house in 76201 three years ago. My income has not kept up with significant increases in my property tax. It naturally has risen with property value estimates, but unfortunately, my income has not risen to compensate for the rise in cost. Situations like mine may prevent home owners from keeping their homes because their income cannot keep up with costs. Regarding gentrification, is this phenomenon a potential beginning stage of gentrification in a particular zip code? Maybe I am oversimplifying the process.</p>
]]></content:encoded>
	</item>
	<item>
		<title>By: Stu Moorhead</title>
		<link>/2016/06/the-supposed-gentrification-of-denton/#comment-74447</link>
		<dc:creator><![CDATA[Stu Moorhead]]></dc:creator>
		<pubDate>Mon, 27 Jun 2016 17:48:27 +0000</pubDate>
		<guid isPermaLink="false">/?p=2063#comment-74447</guid>
		<description><![CDATA[Kevin,
It is refreshing to see an analytical approach to such an emotionally charged subject. I understand that a lot of people are not happy when anything is &quot;not the way it used to be&quot;, and I also enjoy the charm of Denton. However, a lot of the recent off the cuff comments seen in DRC and online that imply the gentrification comments made are factual do our town an injustice. Thanks for adding a level of fact based data to the discussion.]]></description>
		<content:encoded><![CDATA[<p>Kevin,<br />
It is refreshing to see an analytical approach to such an emotionally charged subject. I understand that a lot of people are not happy when anything is &#8220;not the way it used to be&#8221;, and I also enjoy the charm of Denton. However, a lot of the recent off the cuff comments seen in DRC and online that imply the gentrification comments made are factual do our town an injustice. Thanks for adding a level of fact based data to the discussion.</p>
]]></content:encoded>
	</item>
	<item>
		<title>By: Devin</title>
		<link>/2016/06/the-supposed-gentrification-of-denton/#comment-74446</link>
		<dc:creator><![CDATA[Devin]]></dc:creator>
		<pubDate>Mon, 27 Jun 2016 16:26:07 +0000</pubDate>
		<guid isPermaLink="false">/?p=2063#comment-74446</guid>
		<description><![CDATA[Denton&#039;s real estate prices also indicate a shortage of housing, both single family and multi-family. Many houses sell in a few days with several offers, and average time on market is getting shorter while $/sqft goes up every month. We&#039;re now to the point where existing houses in every neighborhood inside of the loop are listing for over $110/sqft. New construction starts at about $115-$120/sqft. If there were more new houses available it would give more options for home buyers, slow down bidding wars, and push down the price of older homes in, ahem, fair condition. 

New apartments may demand the highest rents, but they also create more competition among older and lower amenity complexes, lowering rents in the rest of the market. When occupancy is over 95% and rental availability is at 3% it&#039;s really hard to find another unit to move to, and landlords can raise their rent easily. If occupancy fell by 5% and rental availability got to around 7%, renters could chose better deals more easily and move out of units that price themselves above the market. Occupancy isn&#039;t going to fall 5% by having 1000 apartments and rent houses suddenly be vacated, we need to build new 1000 units of housing so that rentals become more competitive. 

Building more rental units and making rents more competitive also decreases some demand for houses for sale. Right now there are several houses listed in 76201 that could be purchased with 3% down on a 30 year FHA loan that would have payments lower than the house would rent for. Financially savvy renters who don&#039;t really want to buy right now may look at that and see an opportunity to invest in a home and never have their rent increase. If there were more apartments and rent houses available at better prices those people would wait to buy a home. 

Now the question becomes, where do these new units go? They should not destroy the small number of historic neighborhoods and houses that we have. The new housing needs infrastructure to support it and to allow residents easy access to work, school, and entertainment. It should fit cohesively in Denton. Small area plans look like an excellent tool for addressing the infrastructure needs and appropriateness of possible development, hopefully the UNT-area plan will address all of these challenges in south 76201.]]></description>
		<content:encoded><![CDATA[<p>Denton&#8217;s real estate prices also indicate a shortage of housing, both single family and multi-family. Many houses sell in a few days with several offers, and average time on market is getting shorter while $/sqft goes up every month. We&#8217;re now to the point where existing houses in every neighborhood inside of the loop are listing for over $110/sqft. New construction starts at about $115-$120/sqft. If there were more new houses available it would give more options for home buyers, slow down bidding wars, and push down the price of older homes in, ahem, fair condition. </p>
<p>New apartments may demand the highest rents, but they also create more competition among older and lower amenity complexes, lowering rents in the rest of the market. When occupancy is over 95% and rental availability is at 3% it&#8217;s really hard to find another unit to move to, and landlords can raise their rent easily. If occupancy fell by 5% and rental availability got to around 7%, renters could chose better deals more easily and move out of units that price themselves above the market. Occupancy isn&#8217;t going to fall 5% by having 1000 apartments and rent houses suddenly be vacated, we need to build new 1000 units of housing so that rentals become more competitive. </p>
<p>Building more rental units and making rents more competitive also decreases some demand for houses for sale. Right now there are several houses listed in 76201 that could be purchased with 3% down on a 30 year FHA loan that would have payments lower than the house would rent for. Financially savvy renters who don&#8217;t really want to buy right now may look at that and see an opportunity to invest in a home and never have their rent increase. If there were more apartments and rent houses available at better prices those people would wait to buy a home. </p>
<p>Now the question becomes, where do these new units go? They should not destroy the small number of historic neighborhoods and houses that we have. The new housing needs infrastructure to support it and to allow residents easy access to work, school, and entertainment. It should fit cohesively in Denton. Small area plans look like an excellent tool for addressing the infrastructure needs and appropriateness of possible development, hopefully the UNT-area plan will address all of these challenges in south 76201.</p>
]]></content:encoded>
	</item>
	<item>
		<title>By: Sonny</title>
		<link>/2016/06/the-supposed-gentrification-of-denton/#comment-74445</link>
		<dc:creator><![CDATA[Sonny]]></dc:creator>
		<pubDate>Mon, 27 Jun 2016 16:20:45 +0000</pubDate>
		<guid isPermaLink="false">/?p=2063#comment-74445</guid>
		<description><![CDATA[Thanks for this, Kevin. EXCELLENT data. (More, please!) Can you share the research tool or resource you used to get these charts?

Any comment on whether or not gentrification is good, bad, or neutral? If someone assumes that overall economic growth, OR gentrification for that matter, forces some out, what are your thoughts on how would that affect the current growth patterns? If not these current trends, then what would you suggest was a more favorable growth path and outcome?]]></description>
		<content:encoded><![CDATA[<p>Thanks for this, Kevin. EXCELLENT data. (More, please!) Can you share the research tool or resource you used to get these charts?</p>
<p>Any comment on whether or not gentrification is good, bad, or neutral? If someone assumes that overall economic growth, OR gentrification for that matter, forces some out, what are your thoughts on how would that affect the current growth patterns? If not these current trends, then what would you suggest was a more favorable growth path and outcome?</p>
]]></content:encoded>
	</item>
	<item>
		<title>By: Wilson Roberts</title>
		<link>/2016/06/the-supposed-gentrification-of-denton/#comment-74444</link>
		<dc:creator><![CDATA[Wilson Roberts]]></dc:creator>
		<pubDate>Mon, 27 Jun 2016 15:56:57 +0000</pubDate>
		<guid isPermaLink="false">/?p=2063#comment-74444</guid>
		<description><![CDATA[Happy Birthday!  And your still a nerd :-)  Be that as it may I agree with your analysis one of the impediments of Single family housing prices Sharply rising in what one might call Gentrification is the small number of houses that would lend themselves to restoration on a grand scale and the number of those homes that have now been converted into make shift apartments.   

I do predict a scraper revolution coming into Denton some time in the next fifteen years when it will happen and where will probably surprise us all.  One impediment in doing renovations and any project in Denton is the convoluted and maze like P and Z department.  I know that they are working diligently to streamline the process but it is a nightmare for my clients to put up a simple fence let alone do a complete remodel or addition.

That said Denton is a wonderful place to live and we are all blessed to be in this fine city.  Thank you for your service on city council and have a Happy Birthday!]]></description>
		<content:encoded><![CDATA[<p>Happy Birthday!  And your still a nerd <img src="/wp/wp-includes/images/smilies/icon_smile.gif" alt=":-)" class="wp-smiley" />   Be that as it may I agree with your analysis one of the impediments of Single family housing prices Sharply rising in what one might call Gentrification is the small number of houses that would lend themselves to restoration on a grand scale and the number of those homes that have now been converted into make shift apartments.   </p>
<p>I do predict a scraper revolution coming into Denton some time in the next fifteen years when it will happen and where will probably surprise us all.  One impediment in doing renovations and any project in Denton is the convoluted and maze like P and Z department.  I know that they are working diligently to streamline the process but it is a nightmare for my clients to put up a simple fence let alone do a complete remodel or addition.</p>
<p>That said Denton is a wonderful place to live and we are all blessed to be in this fine city.  Thank you for your service on city council and have a Happy Birthday!</p>
]]></content:encoded>
	</item>
	<item>
		<title>By: Patrick Smith</title>
		<link>/2016/06/the-supposed-gentrification-of-denton/#comment-74443</link>
		<dc:creator><![CDATA[Patrick Smith]]></dc:creator>
		<pubDate>Mon, 27 Jun 2016 15:38:28 +0000</pubDate>
		<guid isPermaLink="false">/?p=2063#comment-74443</guid>
		<description><![CDATA[Hi Kevin, thanks for writing this--very timely.  I have a few comments to add but will send those tonight.  

One quick correction might be in order.  Under Property Values I think you have Sanger and Lewisville reversed regarding north and south.]]></description>
		<content:encoded><![CDATA[<p>Hi Kevin, thanks for writing this&#8211;very timely.  I have a few comments to add but will send those tonight.  </p>
<p>One quick correction might be in order.  Under Property Values I think you have Sanger and Lewisville reversed regarding north and south.</p>
]]></content:encoded>
	</item>
</channel>
</rss>
