<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>Comments on: Net Neutrality, Municipal Broadband and the Future of Cities</title>
	<atom:link href="/2014/05/net-neutrality-municipal-broadband-and-the-future-of-cities/feed/" rel="self" type="application/rss+xml" />
	<link>/2014/05/net-neutrality-municipal-broadband-and-the-future-of-cities/</link>
	<description>Kevin Roden for Denton City Council</description>
	<lastBuildDate>Sat, 27 Sep 2014 23:12:59 +0000</lastBuildDate>
		<sy:updatePeriod>hourly</sy:updatePeriod>
		<sy:updateFrequency>1</sy:updateFrequency>
	<generator>http://wordpress.org/?v=3.8.4</generator>
	<item>
		<title>By: Megan Rush</title>
		<link>/2014/05/net-neutrality-municipal-broadband-and-the-future-of-cities/#comment-47523</link>
		<dc:creator><![CDATA[Megan Rush]]></dc:creator>
		<pubDate>Sat, 17 May 2014 18:06:05 +0000</pubDate>
		<guid isPermaLink="false">/?p=1233#comment-47523</guid>
		<description><![CDATA[As long as we are talking about public comments to the FCC and municipal broadband, I should mention that FCC Chairman Tom Wheeler recently threatened to supersede state laws banning municipalities from offering broadband. I think we might have more success petitioning the FCC do to this than aiming for Title II regulation. So, I suggest following Andy&#039;s instructions but also saying something like &quot;The FCC should supersede state laws banning municipalities from offering telecommunications services. Such laws inhibit the development of broadband connections and faster speeds in areas that want it.&quot;]]></description>
		<content:encoded><![CDATA[<p>As long as we are talking about public comments to the FCC and municipal broadband, I should mention that FCC Chairman Tom Wheeler recently threatened to supersede state laws banning municipalities from offering broadband. I think we might have more success petitioning the FCC do to this than aiming for Title II regulation. So, I suggest following Andy&#8217;s instructions but also saying something like &#8220;The FCC should supersede state laws banning municipalities from offering telecommunications services. Such laws inhibit the development of broadband connections and faster speeds in areas that want it.&#8221;</p>
]]></content:encoded>
	</item>
	<item>
		<title>By: Ryan Brown</title>
		<link>/2014/05/net-neutrality-municipal-broadband-and-the-future-of-cities/#comment-47488</link>
		<dc:creator><![CDATA[Ryan Brown]]></dc:creator>
		<pubDate>Fri, 16 May 2014 17:01:19 +0000</pubDate>
		<guid isPermaLink="false">/?p=1233#comment-47488</guid>
		<description><![CDATA[Count me in for municipal broadband. How do we go about changing state law? Give me a number to call, meetings to attend, a ballot measure to vote on and I&#039;m there.]]></description>
		<content:encoded><![CDATA[<p>Count me in for municipal broadband. How do we go about changing state law? Give me a number to call, meetings to attend, a ballot measure to vote on and I&#8217;m there.</p>
]]></content:encoded>
	</item>
	<item>
		<title>By: dalton kane</title>
		<link>/2014/05/net-neutrality-municipal-broadband-and-the-future-of-cities/#comment-47485</link>
		<dc:creator><![CDATA[dalton kane]]></dc:creator>
		<pubDate>Fri, 16 May 2014 16:13:39 +0000</pubDate>
		<guid isPermaLink="false">/?p=1233#comment-47485</guid>
		<description><![CDATA[Great post that deserves awareness. If providers are given the opportunity to capitalize on what people are able to interact with by changing the experience for a user, we will no longer be looking at a sustainable model for equal opportunity business or even balanced cultural impact. It&#039;s not just small businesses or big business in America, even the artists will be at risk and the one thing (the internet) that acts as a semi-equal playing field will be disrupted. This is culturally significant as it could take the last piece of independence we have as equal citizens and promulgate the agendas of those who can already afford to be heard. Attacking net neutrality is attacking one of the last true elements of democracy we have in these United States. It is anti-American because it breeds exclusivity and opens the door to even more shady dealings and rigged mechanisms. There are plenty of cynics out there that believe that is actually a demonstration of our country as it has repeatedly committed actions that align with those low moral processes. However, I think that the original intent of our perpetually ravaged constitution would speak out against this, and the founding fathers, were they here, would probably throw out some pretty harsh tweets on the subject. This is a subject that cannot be taken lightly as it will have lasting repercussions as we continue to advance in technology and communications-- something we should be proud of and not hinder by creating an unequal digital world whilst we proclaim an equal non-digital world, especially in a day and age when the digital world is being blended so thoroughly with our day to day lives.]]></description>
		<content:encoded><![CDATA[<p>Great post that deserves awareness. If providers are given the opportunity to capitalize on what people are able to interact with by changing the experience for a user, we will no longer be looking at a sustainable model for equal opportunity business or even balanced cultural impact. It&#8217;s not just small businesses or big business in America, even the artists will be at risk and the one thing (the internet) that acts as a semi-equal playing field will be disrupted. This is culturally significant as it could take the last piece of independence we have as equal citizens and promulgate the agendas of those who can already afford to be heard. Attacking net neutrality is attacking one of the last true elements of democracy we have in these United States. It is anti-American because it breeds exclusivity and opens the door to even more shady dealings and rigged mechanisms. There are plenty of cynics out there that believe that is actually a demonstration of our country as it has repeatedly committed actions that align with those low moral processes. However, I think that the original intent of our perpetually ravaged constitution would speak out against this, and the founding fathers, were they here, would probably throw out some pretty harsh tweets on the subject. This is a subject that cannot be taken lightly as it will have lasting repercussions as we continue to advance in technology and communications&#8211; something we should be proud of and not hinder by creating an unequal digital world whilst we proclaim an equal non-digital world, especially in a day and age when the digital world is being blended so thoroughly with our day to day lives.</p>
]]></content:encoded>
	</item>
	<item>
		<title>By: Andy Odom</title>
		<link>/2014/05/net-neutrality-municipal-broadband-and-the-future-of-cities/#comment-47482</link>
		<dc:creator><![CDATA[Andy Odom]]></dc:creator>
		<pubDate>Fri, 16 May 2014 13:24:21 +0000</pubDate>
		<guid isPermaLink="false">/?p=1233#comment-47482</guid>
		<description><![CDATA[The FCC is also taking public comments during this period, and will revisit these proposed rules in a few weeks with public feedback in mind. We have an opportunity for positive, direct impact. And here&#039;s how:

1. Go to http://apps.fcc.gov/ecfs/hotdocket/list and look for docket number 14-28 (&quot;Protecting and Promoting the Open Internet&quot;) and click on 14-28.

2. Enter your name, address, and your comments. Hit the submit button and confirm your comment on the next page. That&#039;s it!

For example, you can write something as short as &quot;the FCC should protect net neutrality by reclassifying broadband providers as common carriers under Title II.&quot; Or, use parts of this blog post.

It&#039;ll only take a couple of minutes of your day, and it could have a real impact on how these new rules shape up in their final versions.]]></description>
		<content:encoded><![CDATA[<p>The FCC is also taking public comments during this period, and will revisit these proposed rules in a few weeks with public feedback in mind. We have an opportunity for positive, direct impact. And here&#8217;s how:</p>
<p>1. Go to <a href="http://apps.fcc.gov/ecfs/hotdocket/list" rel="nofollow">http://apps.fcc.gov/ecfs/hotdocket/list</a> and look for docket number 14-28 (&#8220;Protecting and Promoting the Open Internet&#8221;) and click on 14-28.</p>
<p>2. Enter your name, address, and your comments. Hit the submit button and confirm your comment on the next page. That&#8217;s it!</p>
<p>For example, you can write something as short as &#8220;the FCC should protect net neutrality by reclassifying broadband providers as common carriers under Title II.&#8221; Or, use parts of this blog post.</p>
<p>It&#8217;ll only take a couple of minutes of your day, and it could have a real impact on how these new rules shape up in their final versions.</p>
]]></content:encoded>
	</item>
</channel>
</rss>
