<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
		>
<channel>
	<title>Comments on: Good Morning Texas does Denton &#8211; another in a long list of Funny Farm moments</title>
	<atom:link href="/2013/04/good-morning-texas-does-denton-another-in-a-long-list-of-funny-farm-moments/feed/" rel="self" type="application/rss+xml" />
	<link>/2013/04/good-morning-texas-does-denton-another-in-a-long-list-of-funny-farm-moments/</link>
	<description>Kevin Roden for Denton City Council</description>
	<lastBuildDate>Tue, 23 Apr 2013 19:23:59 +0000</lastBuildDate>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>http://wordpress.org/?v=3.5.1</generator>
	<item>
		<title>By: Jenn</title>
		<link>/2013/04/good-morning-texas-does-denton-another-in-a-long-list-of-funny-farm-moments/#comment-10912</link>
		<dc:creator>Jenn</dc:creator>
		<pubDate>Tue, 23 Apr 2013 19:23:59 +0000</pubDate>
		<guid isPermaLink="false">/?p=795#comment-10912</guid>
		<description><![CDATA[Some of us work during the day and can&#039;t leave our place of employment!  Like teachers!  Why don&#039;t they come after school hours or on a Saturday?]]></description>
		<content:encoded><![CDATA[<p>Some of us work during the day and can&#8217;t leave our place of employment!  Like teachers!  Why don&#8217;t they come after school hours or on a Saturday?</p>
]]></content:encoded>
	</item>
	<item>
		<title>By: Jon</title>
		<link>/2013/04/good-morning-texas-does-denton-another-in-a-long-list-of-funny-farm-moments/#comment-10776</link>
		<dc:creator>Jon</dc:creator>
		<pubDate>Mon, 22 Apr 2013 21:39:46 +0000</pubDate>
		<guid isPermaLink="false">/?p=795#comment-10776</guid>
		<description><![CDATA[oh the possibilities!]]></description>
		<content:encoded><![CDATA[<p>oh the possibilities!</p>
]]></content:encoded>
	</item>
	<item>
		<title>By: Andy</title>
		<link>/2013/04/good-morning-texas-does-denton-another-in-a-long-list-of-funny-farm-moments/#comment-10773</link>
		<dc:creator>Andy</dc:creator>
		<pubDate>Mon, 22 Apr 2013 21:32:52 +0000</pubDate>
		<guid isPermaLink="false">/?p=795#comment-10773</guid>
		<description><![CDATA[They&#039;re not going to make Denton look like a hick town, are they?]]></description>
		<content:encoded><![CDATA[<p>They&#8217;re not going to make Denton look like a hick town, are they?</p>
]]></content:encoded>
	</item>
</channel>
</rss>
