<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>rodenfordenton.com &#187; Uncategorized</title>
	<atom:link href="/category/uncategorized/feed/" rel="self" type="application/rss+xml" />
	<link>http://rodenfordenton.com</link>
	<description>Kevin Roden for Denton City Council</description>
	<lastBuildDate>Thu, 05 May 2016 05:09:25 +0000</lastBuildDate>
	<language>en-US</language>
		<sy:updatePeriod>hourly</sy:updatePeriod>
		<sy:updateFrequency>1</sy:updateFrequency>
	<generator>http://wordpress.org/?v=3.8.14</generator>
	<item>
		<title>2016 Denton City Council Race &#8211; Early Voting Analysis</title>
		<link>/2016/05/2016-denton-city-council-race-early-voting-analysis/</link>
		<comments>/2016/05/2016-denton-city-council-race-early-voting-analysis/#comments</comments>
		<pubDate>Thu, 05 May 2016 01:54:01 +0000</pubDate>
		<dc:creator><![CDATA[kevin]]></dc:creator>
				<category><![CDATA[Uncategorized]]></category>

		<guid isPermaLink="false">/?p=2037</guid>
		<description><![CDATA[Despite all the media attention on the craziness that is this year&#8217;s Presidential primary season, the craziness that is the Denton City Council election is arguably more important and relevant to your day to day lives. Despite having over 65,000... <a href="/2016/05/2016-denton-city-council-race-early-voting-analysis/">continue reading <span class="meta-nav">&#8594;</span></a>]]></description>
				<content:encoded><![CDATA[<p>Despite all the media attention on the craziness that is this year&#8217;s Presidential primary season, the craziness that is the Denton City Council election is arguably more important and relevant to your day to day lives. Despite having over 65,000 registered voters in the city of Denton, we are looking at yet another city council election that will attract well less than 10% of them to the polls. So if you are one of the few, thank you for doing your civic duty for your city and tell your friends &#8211; <a href="http://cityofdenton.com/government/city-manager-s-office/city-secretary-s-office/municipal-elections">Saturday is election day and the last chance to vote</a>.</p>
<p>Once again, I&#8217;ve crunched some stats from the Early Voter rolls provided by the <a href="http://www.votedenton.com/">Denton County Elections office</a> with basic demographic and voting history data that is publicly available via the Denton County voter database.</p>
<p>&nbsp;</p>
<table border="1" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top" width="40"><b> </b></td>
<td valign="top" width="60"><b>TOTAL # of VOTES</b></td>
<td valign="top" width="37"><b>EV</b></td>
<td valign="top" width="35"><b>% EV </b></td>
<td valign="top" width="38"><b>Mail-in votes</b></td>
<td valign="top" width="42"><b># of new voters</b></td>
<td valign="top" width="42"><b>% of new voters</b></td>
<td valign="top" width="33"><b>AVG AGE of EV</b></td>
<td valign="top" width="52"><b>#/% of voters 25 and under</b></td>
<td valign="top" width="58"><b>% of voters 26-35</b></td>
<td valign="top" width="49"><b>% of voters 36-45</b></td>
<td valign="top" width="54"><b>% of voters 46 or older</b></td>
</tr>
<tr>
<td valign="top" width="40"><b>2012</b></td>
<td valign="top" width="60">3790</td>
<td valign="top" width="37">2205</td>
<td valign="top" width="35">58%</td>
<td valign="top" width="38">50</td>
<td valign="top" width="42">1211</td>
<td valign="top" width="42">32%</td>
<td valign="top" width="33">61</td>
<td valign="top" width="52">2%</td>
<td valign="top" width="58">5%</td>
<td valign="top" width="49">9%</td>
<td valign="top" width="54">84%</td>
</tr>
<tr>
<td valign="top" width="40"><b>2013</b></td>
<td valign="top" width="60">2364</td>
<td valign="top" width="37">1347</td>
<td valign="top" width="35">57%</td>
<td valign="top" width="38">13</td>
<td valign="top" width="42">510</td>
<td valign="top" width="42">22%</td>
<td valign="top" width="33">60</td>
<td valign="top" width="52">2.5%</td>
<td valign="top" width="58">7%</td>
<td valign="top" width="49">11%</td>
<td valign="top" width="54">79.5%</td>
</tr>
<tr>
<td valign="top" width="40"><b>2014</b></td>
<td valign="top" width="60">5128</td>
<td valign="top" width="37">2875</td>
<td valign="top" width="35">56%</td>
<td valign="top" width="38">754</td>
<td valign="top" width="42">2013</td>
<td valign="top" width="42">26%</td>
<td valign="top" width="33">63</td>
<td valign="top" width="52">.5%</td>
<td valign="top" width="58">3.5%</td>
<td valign="top" width="49">7%</td>
<td valign="top" width="54">89%</td>
</tr>
<tr>
<td valign="top" width="40"><b>2015</b></td>
<td valign="top" width="60">3887</td>
<td valign="top" width="37">2443</td>
<td valign="top" width="35">63%</td>
<td valign="top" width="38">281</td>
<td valign="top" width="42">1436 (582 from 4003)</td>
<td valign="top" width="42">37%</td>
<td valign="top" width="33">59</td>
<td valign="top" width="52">2%</td>
<td valign="top" width="58">10%</td>
<td valign="top" width="49">12%</td>
<td valign="top" width="54">76%</td>
</tr>
<tr>
<td valign="top" width="40"><b>2016</b></td>
<td valign="top" width="60">4110 – so far</td>
<td valign="top" width="37">3215</td>
<td valign="top" width="35"></td>
<td valign="top" width="38">895</td>
<td valign="top" width="42">1084</td>
<td valign="top" width="42">26%</td>
<td valign="top" width="33">59</td>
<td valign="top" width="52">67/1.6%</td>
<td valign="top" width="58">228/5.5%</td>
<td valign="top" width="49">369/9%</td>
<td valign="top" width="54">83.9%</td>
</tr>
</tbody>
</table>
<p>Elections for seats on the city council are staggered each year so that district-specific seats are on the ballot on odd years and at-large positions (Place 5, Place 6, and the Mayor) are on the ballot in even years. So when you compare this data, realize that at-large elections have historically drawn more interest and voters precisely because each position can be voted on by anyone in the city. Voters in district-specific elections may stay home if the race for their district seat is either uncontested (as we saw in the District 4 race in 2015) or contested by an unlikely-to-win challenger.</p>
<p>This year, there are two hotly contested races for Place 5 and Place 6 and an additional reason for District 4 voters to get involved due to the recall election of Joey Hawkins.</p>
<p><strong>VOTER TURNOUT</strong><br />
The trend lines are moving toward increased voter involvement every at-large election. With the first significant mayoral race since 2008 (when Mark Burroughs challenged incumbent Mayor Perry McNeil), the 2014 race between Chris Watts and Jean Schaake drew the largest turnout in recent history with 5128 total votes.</p>
<p>This year&#8217;s early voters have now surpassed the early voting numbers of 2014, signaling a likely increase in total voters this time around. But this must be qualified by a sudden increase in the percentage of early voters we saw in 2015 (63%). If that percentage holds this year after Saturday&#8217;s vote, we will still be slightly under the 2014 voter totals, as the following table shows:</p>
<table border="1" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top" width="118"><b>If Early Voting % is ___% of total vote</b></td>
<td valign="top" width="131"><b>Then the total vote count after Saturday will be</b></td>
</tr>
<tr>
<td valign="top" width="118">63% (2015 level)</td>
<td valign="top" width="131">5103</td>
</tr>
<tr>
<td valign="top" width="118">56% (2014 level)</td>
<td valign="top" width="131">5741</td>
</tr>
</tbody>
</table>
<p>Given the history of 56-63% early voting turnout during the last four elections, I don&#8217;t anticipate a wild swing this year. Even at the lower percentage, we will only see a bit over 600 votes from 2014. All this to say, there&#8217;s nothing in the current data that indicates a significant uptick in voters for this election.</p>
<p>It&#8217;s also important to note that high early voting, especially among certain voting precincts or demographics, usually indicates a particular candidate or two had a solid &#8220;Get Out the Vote&#8221; ground game. We saw this in 2015 with Robson Ranch, as an example.</p>
<p><strong>VOTER AGE</strong><br />
Ever since I started following local voter trends, I&#8217;ve been appalled by how many young people fail to engage in local politics. And I&#8217;m not simply talking about college students (as you will see, their age demographic is all but non-existent every year in local elections), but rather young professionals and 30/40 somethings.</p>
<p>If there is anything encouraging to report here, it&#8217;s that the average age of voters (so far) went from 63 in the last at-large election to 59 of early voters in this election. That, too, must be qualified because I intentionally do not factor in the average age of the mail-in voters. The average age so far of mail-in voters is 78.</p>
<table border="1" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top" width="42"><b>YEAR</b></td>
<td valign="top" width="33"><b>AVG AGE of EV</b></td>
<td valign="top" width="52"><b>#/% of voters 25 and under</b></td>
<td valign="top" width="58"><b>% of voters 26-35</b></td>
<td valign="top" width="49"><b>% of voters 36-45</b></td>
<td valign="top" width="54"><b>% of voters 46 or older</b></td>
</tr>
<tr>
<td valign="top" width="42">2012</td>
<td valign="top" width="33">61</td>
<td valign="top" width="52">2%</td>
<td valign="top" width="58">5%</td>
<td valign="top" width="49">9%</td>
<td valign="top" width="54">84%</td>
</tr>
<tr>
<td valign="top" width="42">2013</td>
<td valign="top" width="33">60</td>
<td valign="top" width="52">2.5%</td>
<td valign="top" width="58">7%</td>
<td valign="top" width="49">11%</td>
<td valign="top" width="54">79.5%</td>
</tr>
<tr>
<td valign="top" width="42">2014</td>
<td valign="top" width="33">63</td>
<td valign="top" width="52">.5%</td>
<td valign="top" width="58">3.5%</td>
<td valign="top" width="49">7%</td>
<td valign="top" width="54">89%</td>
</tr>
<tr>
<td valign="top" width="42">2015</td>
<td valign="top" width="33">59</td>
<td valign="top" width="52">2%</td>
<td valign="top" width="58">10%</td>
<td valign="top" width="49">12%</td>
<td valign="top" width="54">76%</td>
</tr>
<tr>
<td valign="top" width="42">2016</td>
<td valign="top" width="33">59</td>
<td valign="top" width="52">67/1.6%</td>
<td valign="top" width="58">228/5.5%</td>
<td valign="top" width="49">369/9%</td>
<td valign="top" width="54">83.9%</td>
</tr>
</tbody>
</table>
<p>Though it is a slight change, it is interesting to note that while district-specific elections tend to attract less interest overall, the percentage of younger voters is slightly higher in those odd years.</p>
<p><strong>BY COUNCIL DISTRICT</strong><br />
Prior to the 2011 redistricting of council districts (as required by law and overseen by the US Department of Justice), District 4 was regularly outvoting every other district. This was due to the fact that the part of the city represented by District 4 was where just about all of the growth in the city had happened over the previous decade. It included Robson Ranch and all the new developments West and South along I35 and Teasley. While redistricting rules require you aim for a proportionate size of registered voters in each district, I argued back then that the historical voting behavior of District 1 justified that criteria be further examined. Because of the higher percentage of apartments, rental properties, and lower income residents as compared to the other 3 council districts, District 1 has always lagged behind in local voting behavior as compared to its counterparts which have a larger percentage of established neighborhoods.</p>
<p>As you&#8217;ll see, except for that anomaly in District 1, the redistricting did its part of break-up the power of District 4 and spread it out among the other districts:</p>
<table border="1" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top" width="77"><b> </b></td>
<td valign="top" width="83"><b>TOTAL # of VOTES</b></td>
<td valign="top" width="83"><b>Early Voters</b></td>
<td valign="top" width="83"><b>Mail-in Voters</b></td>
<td valign="top" width="83"><b># of new voters</b></td>
<td valign="top" width="73"><b>Avg Age of EV</b></td>
<td valign="top" width="69"><b># EV under age of 45</b></td>
</tr>
<tr>
<td valign="top" width="77"><b>District 1</b></td>
<td valign="top" width="83">347</td>
<td valign="top" width="83">260</td>
<td valign="top" width="83">87</td>
<td valign="top" width="83">108</td>
<td valign="top" width="73">53</td>
<td valign="top" width="69">99</td>
</tr>
<tr>
<td valign="top" width="77"><b>District 2</b></td>
<td valign="top" width="83">1172</td>
<td valign="top" width="83">907</td>
<td valign="top" width="83">265</td>
<td valign="top" width="83">251</td>
<td valign="top" width="73">58</td>
<td valign="top" width="69">231</td>
</tr>
<tr>
<td valign="top" width="77"><b>District 3</b></td>
<td valign="top" width="83">1205</td>
<td valign="top" width="83">957</td>
<td valign="top" width="83">248</td>
<td valign="top" width="83">205</td>
<td valign="top" width="73">62</td>
<td valign="top" width="69">163</td>
</tr>
<tr>
<td valign="top" width="77"><b>District 4</b></td>
<td valign="top" width="83">1208</td>
<td valign="top" width="83">913</td>
<td valign="top" width="83">295</td>
<td valign="top" width="83">349</td>
<td valign="top" width="73">60</td>
<td valign="top" width="69">171</td>
</tr>
</tbody>
</table>
<p><strong>NEW VOTERS</strong><br />
For the purposes of this analysis, I consider &#8220;new&#8221; voters to be voters who have no voting history in the previous four city council elections. It could also mean they are newly registered voters or even brand new to the city &#8211; all would fall into the same category. As you can see from the first table, there is a predictable 25% or more of new voters every year. The highest percentage was in 2015 (at 37%) which, as we&#8217;ll see, was driven by the high Robson Ranch turnout to elect Council Member Kathleen Wazny.</p>
<p><strong>ROBSON EFFECT</strong><br />
While we are on that subject, will Robson Ranch sustain its record turnout from the 2015 race? In 2015, precinct 4003 turned out 1215 voters, accounting for 31% of the total vote from across the city. We must qualify that last stat with the fact that District 4 saw virtually no turnout that year due to the uncontested District 4 seat. So far, between early voters and mail-in voters, Precinct 4003 has seen 793 voters, accounting for 19.3% of the total city vote. Perhaps more alarming to the rest of that council district, the voting power of that one neighborhood so far accounts for 66% of all the voters in District 3.</p>
<p>There are several reports that Kathleen Wazny has been supporting the campaigns of Mike Cheves for Place 5 and Sara Bagheri for Place 6 out at Robson Ranch. Whether or not her influence is helpful for these candidates in Robson and whether Robson becomes a determinative force in either of these elections will be something to pay attention to when the results come in on Saturday.</p>
<p><strong>WHAT DOES ALL THIS MEAN?</strong><br />
There is nothing that points to wild swings in voting behavior, demographics, or totals for this year&#8217;s election. Every indicator &#8211; turnout, early voting, district voting behavior, age, new voters &#8211; is relatively on track with previous elections.</p>
<p>But this has been a strange year for politics both in Denton and in the nation as a whole. The same anti-establishment sentiment that all but secured the GOP Presidential nomination for Donald Trump has reared its head in Denton with a number of actually controversial issues (frack ban, Renewable Denton Plan, Bucee&#8217;s) as well as a number of manufactured controversial issues (ethics ordinance, internal auditors, city debt levels, disdain for DME).</p>
<p>Those latter issues &#8211; the manufactured ones &#8211; have always been the darling issues of the Clifton Party and his regular team of unsuccessful candidates and would-be political advisors over the years (Bob Clifton, Hatice Salih, David Zoltner, Sam Alexander, and the like). But with the confluence of currents coming from the national spirit of anti-establishment and a disenfranchised crowd of citizens still fuming over the demise of Denton&#8217;s frack ban, these long-time political opportunists found a fresh crowd of politically ambitious newcomers by which to carry forward their otherwise tired, worn-out cries of corruption, out of control spending, and &#8220;Denton is going to hell if we don&#8217;t save it&#8221; political rhetoric that the citizens have rejected time and time again.</p>
<p>What&#8217;s been sad to see is candidates who have a lot of talent and who could be an instrument of real vision in our city succumb to the wiles of this Clifton Party. They could have been great, but they hadn&#8217;t been engaged long enough to know that you don&#8217;t have four and a half hour phone calls with Bob Clifton and you don&#8217;t get up at your election launch and call Sam Alexander your political hero.</p>
<p>But the question for this election is whether or not a full year of this new generation of the Clifton Party beating the political drum of corruption, conflicts of interest, and Boys Clubs has done real damage to this crop of incumbents. When it was just Clifton and his few friends getting up to speak at council meetings each week, that&#8217;s one thing. But when he has a new, younger, more connected crowd that is constantly connected on social media, the narrative can take a life of its own.</p>
<p>We&#8217;re in a year where the ambitious plan to power our city with 70% renewables is spun by this crowd as if it&#8217;s one of the biggest environmental disasters of this generation. We&#8217;re in a year where the politically progressives in town are passing around articles written by Empower Texans (the most powerful Tea Party PAC in the state) taking aim at city budgets and arguing for no taxes. We are in a year when Trump is a serious presidential candidate. It&#8217;s a strange year, so even with little anomalies in the voting data, predictions are perilous.</p>
<p>Stay tuned to the Denton County Election website on Saturday evening. Early voting results will come out at 7pm. To prepare yourself for that and how to interpret the results, you might read up on my <a href="/2014/05/what-to-watch-for-on-election-night/">2014 analysis on how predictive early voting results are</a> in determining the final outcome of Denton City Council elections.</p>
]]></content:encoded>
			<wfw:commentRss>/2016/05/2016-denton-city-council-race-early-voting-analysis/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>On Anger and Vision: a Time to Vote for Denton</title>
		<link>/2016/04/on-anger-and-vision-a-time-to-vote-for-denton/</link>
		<comments>/2016/04/on-anger-and-vision-a-time-to-vote-for-denton/#comments</comments>
		<pubDate>Mon, 25 Apr 2016 13:47:30 +0000</pubDate>
		<dc:creator><![CDATA[kevin]]></dc:creator>
				<category><![CDATA[Uncategorized]]></category>

		<guid isPermaLink="false">/?p=2030</guid>
		<description><![CDATA[Early voting for the Denton City Council election starts today. I love election season because it provides an opportunity for candidates and incumbents to share their vision for our city, to promote their big, bold ideas for Denton, and to... <a href="/2016/04/on-anger-and-vision-a-time-to-vote-for-denton/">continue reading <span class="meta-nav">&#8594;</span></a>]]></description>
				<content:encoded><![CDATA[<p style="text-align: center;"><a href="/wp/wp-content/uploads/2014/04/mixer-photo1.jpg"><img class=" wp-image-1187   aligncenter" alt="" src="/wp/wp-content/uploads/2014/04/mixer-photo1.jpg" width="576" height="289" /></a></p>
<p>Early voting for the Denton City Council election starts today.</p>
<p>I love election season because it provides an opportunity for candidates and incumbents to share their vision for our city, to promote their big, bold ideas for Denton, and to ask our fellow citizens to dream what tomorrow can bring for our ambitious city.</p>
<p>I also love seeing a new, energized, and engaged crop of younger citizens who are interested in city issues, out of which many of this year&#8217;s council candidates have come. I love it because it is from them that the freshest and most creative ideas are most likely to emerge. I&#8217;ve loved hearing Will Wooten, as an example, repeatedly raise the issue of Denton&#8217;s digital divide and the need for a more substantial plan to attract substantial, high-paying, tech-savvy jobs so that we can retain our two universities best and brightest. I&#8217;ve appreciated Sam Ortiz&#8217;s call for criminal justice reform, greater advocacy for the homeless, and his oft-repeated plan to fill our parks and public spaces with fruit trees.</p>
<p>Elections, at their best, are about big ideas.</p>
<p>Those challenging the incumbents this year are incredibly smart and passionate people who want what is best for the city they love. This is why it has been so disheartening to hear so little vision from these otherwise promising leader&#8217;s of tomorrow. Instead of inspiring citizens with where we can head together as a city, they have chosen to sell narratives of rampant corruption, incumbents lining their pockets, out-of-control city spending, and a city so on the brink of failure that it&#8217;s in need of a savior.</p>
<p>That they come from a place of disenfranchisement and suspicion of government is understandable. Most of them started paying attention to city issues for the first time during the extended and heroic fight against fracking in the city of Denton. HB40 and the subsequent repeal of Denton&#8217;s frack ban by the city council no doubt angered them and drove them toward greater involvement. I totally get that. I first started paying attention and getting involved during the fight against the demolition of old Fry Street and still to this day see the burning of The Tomato as the rallying cry that launched many of my generation into greater civic engagement.</p>
<p>The question is, how will you channel your frustration? And, perhaps more importantly for this election discussion, as a would-be leader, how will you channel the frustration of the citizens?</p>
<p>One thing I&#8217;ve learned from five years in office is that it is easy in this social media saturated culture to whip others up into a frenzy. It&#8217;s easy to appeal to people&#8217;s fears, biases, prejudices, and suspicions to command attention to an issue for 12 hours. It&#8217;s easy to quickly amass and command an army of angry citizens armed with &#8220;Like&#8221; buttons and retweeting potential. How do I know this? Because, to my shame, I&#8217;ve done this myself when I&#8217;ve found it politically expedient.</p>
<p>But what I have also learned is that such &#8220;support&#8221; is ultimately counter-productive. Building momentum to bring lasting change never comes about through encouraging distrust, suspicion, and anger in the system.</p>
<p>So when newcomers to city politics focus their campaigns on the manufactured controversies of <a href="/2015/12/does-denton-need-ethics-reform/">unnecessary ethics ordinances</a>, internal auditors, and supposed out-of-control city debt, we should all be asking ourselves, &#8220;Is this <em>really</em> their big idea for Denton?&#8221; Are these the issues with which our citizenry is concerned?</p>
<p>Making people angry is easy. Inspiring them is much more difficult.</p>
<p style="text-align: center;"><img class="size-large wp-image-1073 aligncenter" alt="mixer" src="/wp/wp-content/uploads/2014/02/mixer-1024x480.jpg" width="640" height="300" /></p>
<p>As you go to vote in this year&#8217;s city council election, think about who is continually working to move our creative and ambitious city forward. In my mind, that is a vote for Mayor Watts, <a href="http://daltongregory.com/">Dalton Gregory in Place 5</a>, <a href="http://www.gregfordenton.com/">Greg Johnson in Place 6</a>, and supporting Joey Hawkins in his recall election. While I have had disagreements with each of them on various topics, they come to the table each week with big ideas, big goals, and big dreams for Denton. In that context, disagreements become opportunities for even better ideas and I have found each of them willing to openly debate, look for common ground, compromise when necessary, and build coalitions to keep our city moving forward.</p>
<p>Under their leadership, we&#8217;ve seen:</p>
<ul>
<li>a more livable city with greater investments in biking and pedestrian infrastructure</li>
<li>focus and strategies to invest in high tech economic development, small businesses, and entrepreneurship</li>
<li>continued investment and care of downtown Denton</li>
<li>economic development strategies that aim to attract and retain more significant jobs as well as increase our corporate tax base</li>
<li>greater focus on social issues and partnerships with other community stakeholders to tackle big problems: homelessness, at-risk youth, mentoring, mental health</li>
<li>a more transparent city with the city&#8217;s first Open Data policy, open data portal, and collaboration with citizen and university partners to make our city more accessible, transparent, and open for the 21st century</li>
<li><em>and so much more&#8230;</em></li>
</ul>
<p>If Denton is a city in need of saving, I&#8217;m not sure I want to be saved.</p>
<p>Early voting starts today and goes through May 3. Election day is May 7. <a href="http://cityofdenton.com/government/city-manager-s-office/city-secretary-s-office/municipal-elections">Here is more info on where and when to vote</a>.</p>
]]></content:encoded>
			<wfw:commentRss>/2016/04/on-anger-and-vision-a-time-to-vote-for-denton/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>City Council Preview for Feb 23 and Some Thoughts on Citizen Engagement and Open Government</title>
		<link>/2016/02/city-council-preview-for-feb-23-and-some-thoughts-on-citizen-engagement-and-open-government/</link>
		<comments>/2016/02/city-council-preview-for-feb-23-and-some-thoughts-on-citizen-engagement-and-open-government/#comments</comments>
		<pubDate>Tue, 23 Feb 2016 17:04:28 +0000</pubDate>
		<dc:creator><![CDATA[kevin]]></dc:creator>
				<category><![CDATA[Uncategorized]]></category>

		<guid isPermaLink="false">/?p=2019</guid>
		<description><![CDATA[The Denton City Council is set to meet today at 1pm. What was originally scheduled as just a Work Session has now turned into part-Special Called Session at the request of a council member in order to reconsider a vote... <a href="/2016/02/city-council-preview-for-feb-23-and-some-thoughts-on-citizen-engagement-and-open-government/">continue reading <span class="meta-nav">&#8594;</span></a>]]></description>
				<content:encoded><![CDATA[<p><a href="/wp/wp-content/uploads/2016/02/sity-hall.jpg"><img class="aligncenter size-full wp-image-2022" alt="sity hall" src="/wp/wp-content/uploads/2016/02/sity-hall.jpg" width="600" height="450" /></a></p>
<p>The Denton City Council is set to meet today at 1pm. What was originally scheduled as just a Work Session has now turned into part-Special Called Session at the request of a council member in order to reconsider a vote made last week. <a href="http://legistar2.granicus.com/denton-tx/meetings/2016/2/1161_A_City_Council_16-02-23_Meeting_Agenda.pdf">You can see the full agenda with backup here</a>.  Here&#8217;s what we will be discussing&#8230;</p>
<p><strong>RECONSIDERATION OF VOTE FOR JOE RIVAS HOUSE</strong><br />
I&#8217;ve already addressed this issue late last week <a href="/2016/02/tell-city-council-to-save-joes-home/">with this post</a>. We will be hearing, discussing, and voting on that issue again at the request of a council member who wants to change their vote.</p>
<p><strong>CONSIDERATION OF BAN ON MOBILE PHONE USE IN CARS</strong><br />
You might recall the council taking up this issue a couple years ago. What resulted was our current ban on texting while driving. One council member has requested that we visit this issue again and today will be the start of that conversation.</p>
<p><strong>STRATEGIC PLAN, OPEN DATA, and BLOOMBERG&#8217;s &#8220;WHAT WORKS CITIES&#8221; PROJECT</strong><br />
As you may recall, Denton was selected as only a handful of cities nationwide to participate in the <a href="http://www.bloomberg.org/press/releases/bloomberg-philanthropies-expands-support-to-thirteen-new-cities-through-the-what-works-cities-initiative/">Bloomberg Philanthropies &#8220;What Works Cities&#8221; initiative</a> to pilot ideas of how cities get smarter using data, analytics, and technology. We&#8217;ll hear an update on this project.</p>
<p><strong>CITY COUNCIL RULES OF PROCEDURES</strong><br />
Finally, because some council members have asked for a discussion on a few items relating to the City Council Rules of Procedures, the city staff has forwarded a series of recommendations for us to consider. Some of the questions that have been asked are:</p>
<p>- should a city council member be able to attend a closed session of a city board or commission</p>
<p>- because we recently changed the rules to allow for an &#8220;open mic&#8221; section of the council meeting whereby any citizen can speak for up to 4 minutes without having previously signed up, how that process interacts with another existing opportunity for citizens to sign up ahead of time needs to be addressed (where in some cases, the person who signs up ahead of time has to wait until the end of the meeting while the person who didn&#8217;t sign up gets to go first)</p>
<p>- we recently changed the rules for citizen comments to be increased from 3 to 4 minutes. Now that we have had time to ascertain the effectiveness of that recent change, this may be part of the discussion</p>
<p>The nature of the posting and odd, un-requested changes and suggestions to the policy quite understandably caused concern with many people. To be sure, council has yet to discuss any of this. Today&#8217;s meeting will be the first time we have had the chance to dig into these issues &#8211; there won&#8217;t even be a vote on any of this tonight.</p>
<p>So while I agree with many of the concerns being raised on this topic, it does reveal what I see as a misdirection of focus on the city council meeting as a primary, or even effective means of citizen participation in local democracy. In fact, the most progressive cities who are really thinking through the very real problem of apathetic citizen involvement at the local level are all saying the same thing: it&#8217;s time to move beyond the old paradigm that citizen involvement happens in the context of official public meetings.</p>
<p>If you think about it, so much focus on the city council meeting as the primary vehicle for citizen engagement misses the crucial point that such meetings are typically significant barriers to citizen engagement and are, by their very nature, exclusionary. After all, this sort of &#8220;participation&#8221; requires citizens to actually show up to a meeting &#8211; this excludes people whose work schedules conflict, this excludes people who have to take care of kids or the elderly, and it is often an unrealistic ask for the vast majority of  our citizens who live quite busy, productive lives. And, just as important, this sort of involvement is just plain intimidating to the average citizen.</p>
<p>This point is absolutely crucial for policy makers to understand. I would be doing a great disservice as a representative of the city and my council district if I somehow equated the people and comments at a city council meeting with how our <em>entire citizenry</em> (or even a majority) feel about any particular issue. Of course, those showing up are an important part of that equation, but in a growing city of 120,000, confusing the 20 people who take the time to chime in at a meeting on a substantial city matter as &#8220;the voice of the citizens&#8221; is perilous for representative democracy.</p>
<p>It&#8217;s why cities and city council representatives should always look for new ways of getting citizen input and fostering genuine citizen involvement that are more inclusive, accessible, and scalable for a 21st century democracy.</p>
<p>This is why I was the first city council member to utilize social media, to use a website to post information about council meetings and my thoughts on important topics, all with the understanding that a city our size needed to utilize technology to scale our two-way communication efforts. This is why I initiated <a href="/2012/10/fixing-democracy-the-committee-for-citizen-engagement/">the creation of the Council Committee on Citizen Engagement</a> to continually tweak the ways our city is hearing from, involving, and interacting with our citizenry. This is why I encouraged our city to pursue new technological avenues of citizen engagement, including <a href="http://data.dentontxgis.opendata.arcgis.com/">a recent initiation of Denton&#8217;s Open Data policy and platform</a>. This is why I&#8217;ve brought our city&#8217;s tech and startup community to the table <a href="/2013/03/votedenton-org-finding-your-council-district-just-got-easy/">to help us make democracy better</a>. These initiatives have put Denton on the cutting edge of government transparency, even recently earning us the distinction of participating in the <a href="http://www.bloomberg.org/press/releases/bloomberg-philanthropies-expands-support-to-thirteen-new-cities-through-the-what-works-cities-initiative/">Bloomberg Philanthropies &#8220;What Works Cities&#8221; project</a>.</p>
<p>And while technology is an essential tool to 21st century democracy, it can&#8217;t replace good old fashioned face to face democracy that takes place in every day life. It means rethinking our notion of &#8220;meetings&#8221; to include engagement opportunities in your home, in the neighborhood, in the coffee shop, or even at your local bar. I&#8217;ve held countless meetings on our city&#8217;s most controversial topics in just these places.</p>
<p>When someone asks me how they can be effective in getting their ideas in front of local policy makers, the very last thing I would recommend is to show up and speak at a council meeting. The most effective form of communicating with council members often takes place in unusual  settings: at the coffee shop, while swimming at the city pool, in line to pick up my kid from school, over a beer at a show, or while watching our kids play at the park.</p>
<p>This is the virtue of local democracy. It is supremely accessible.</p>
<p>So while I agree that we don&#8217;t need to exasperate things by too much tightening of council meeting rules, I also think we don&#8217;t need to focus on that particular vehicle of participation as the only or even the most effective or important for citizen engagement. If we are really serious about bettering citizen engagement in the 21st century, we need to start thinking beyond the walls of city hall.</p>
<p>As always, if you have any thoughts, questions, or concerns, contact me at <a href="mailto:kevin.roden@cityofdenton.com">kevin.roden@cityofdenton.com</a> or 940-206-5239.</p>
]]></content:encoded>
			<wfw:commentRss>/2016/02/city-council-preview-for-feb-23-and-some-thoughts-on-citizen-engagement-and-open-government/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Tell City Council to Save Joe&#8217;s Home</title>
		<link>/2016/02/tell-city-council-to-save-joes-home/</link>
		<comments>/2016/02/tell-city-council-to-save-joes-home/#comments</comments>
		<pubDate>Fri, 19 Feb 2016 17:11:36 +0000</pubDate>
		<dc:creator><![CDATA[kevin]]></dc:creator>
				<category><![CDATA[Uncategorized]]></category>

		<guid isPermaLink="false">/?p=2011</guid>
		<description><![CDATA[When the apartment Joe Rivas was living in was purchased by DME in order to make room for a new substation, it became the legal responsibility of DME (under state law) to provide adequate relocation expenses for all affected renters.... <a href="/2016/02/tell-city-council-to-save-joes-home/">continue reading <span class="meta-nav">&#8594;</span></a>]]></description>
				<content:encoded><![CDATA[<p style="text-align: center;"><a href="/wp/wp-content/uploads/2016/02/joe.jpg"><img class="aligncenter  wp-image-2012" alt="joe" src="/wp/wp-content/uploads/2016/02/joe.jpg" width="470" height="265" /></a></p>
<p style="text-align: left;">When the apartment Joe Rivas was living in was purchased by DME in order to make room for a new substation, it became the legal responsibility of DME (under state law) to provide adequate relocation expenses for all affected renters.</p>
<p style="text-align: left;">If you&#8217;ve not met Joe, you are missing out. He&#8217;s been around Denton as long as I remember. An advocate for others with disabilities, a children&#8217;s book author, and a frequent advisor to the city and UNT on accommodation issues related to those confined to wheelchairs, Joe is a constant servant for others in his community.</p>
<p style="text-align: left;">So when Joe&#8217;s apartment was purchased, one of his main concerns was how he could find a new apartment in close proximity to the university and the places he is now able to get to on his scooter. DME worked overtime and with great compassion and creativity to find a way to accommodate Joe&#8217;s unique needs. DME had previously acquired property in close proximity as the result of another transmission line project, including a house. After crunching the numbers on getting that house remodeled and accessible for someone like Joe, DME concluded that finding a way to get Joe in his own house would be both the financially wise choice and the most compassionate choice. After all, this is how we want our city treating its most vulnerable &#8211; isn&#8217;t it?</p>
<p style="text-align: center;"><a href="/wp/wp-content/uploads/2016/02/joes-house.jpg"><img class="aligncenter  wp-image-2013" alt="joes house" src="/wp/wp-content/uploads/2016/02/joes-house.jpg" width="384" height="288" /></a></p>
<p style="text-align: left;">After consulting with council and receiving unanimous direction to move forward with the plans (including at least two unanimous votes), it came as quite the surprise when two council members became very critical of the plan this past Tuesday when it came down to officially vote to get the house in Joe&#8217;s hands.</p>
<p style="text-align: left;">What happened? Why on earth would a council member oppose such an idea?</p>
<p style="text-align: left;">A guy from Sanger named Sam Alexander (who is a long-time complainer about everything DME does) contacted Council members Keely Briggs and Kathleen Wazny and apparently convinced them to fight against this thing. Council Member Briggs voted against it on Tuesday and now it seems Council Member Wazny was confused about her vote and now wants to vote against it, too. So as a result the council is set to reconsider this issue once again so that Council Member Wazny can join Council Member Briggs in voting to keep Joe out of this home.</p>
<p style="text-align: left;">This is simply unbelievable.</p>
<p style="text-align: left;">Of course, Joe is concerned &#8211; he was planning a move soon and has no backup plans. Here&#8217;s Joe taking to Facebook tonight asking his friends for help and asking them to contact City Council to save his house.</p>
<p style="text-align: left;"><a href="/wp/wp-content/uploads/2016/02/Screen-Shot-2016-02-18-at-8.57.31-PM.png"><img class="aligncenter size-full wp-image-2014" alt="Screen Shot 2016-02-18 at 8.57.31 PM" src="/wp/wp-content/uploads/2016/02/Screen-Shot-2016-02-18-at-8.57.31-PM.png" width="512" height="390" /></a></p>
<p style="text-align: left;">Let Joe know that you want him to get into his new home &#8211; <a href="http://www.cityofdenton.com/Home/Components/Form/Form/5f62983dfe4a4dc591679b039ff5924f/215">contact the entire council here</a> and ask them to vote to keep Joe in his new house.  Tell city council to stand with this great Denton citizen and resist the temptation this time to do the bidding of Sanger Sam and his counterproductive vision for this city where he doesn&#8217;t even live.</p>
]]></content:encoded>
			<wfw:commentRss>/2016/02/tell-city-council-to-save-joes-home/feed/</wfw:commentRss>
		<slash:comments>5</slash:comments>
		</item>
		<item>
		<title>City Manager&#8217;s Recommendation on 3rd Party Consultant to Review Renewable Denton Plan</title>
		<link>/2016/02/city-managers-recommendation-on-3rd-party-consultant-to-review-renewable-denton-plan/</link>
		<comments>/2016/02/city-managers-recommendation-on-3rd-party-consultant-to-review-renewable-denton-plan/#comments</comments>
		<pubDate>Mon, 15 Feb 2016 02:34:28 +0000</pubDate>
		<dc:creator><![CDATA[kevin]]></dc:creator>
				<category><![CDATA[Uncategorized]]></category>

		<guid isPermaLink="false">/?p=2007</guid>
		<description><![CDATA[The Denton City Manager, George Campbell, released a memo to the City Council today outlining his recommendation on a possible 3rd party consultant to review the Renewable Denton Plan as forwarded by DME.  The City Council is set to discuss these... <a href="/2016/02/city-managers-recommendation-on-3rd-party-consultant-to-review-renewable-denton-plan/">continue reading <span class="meta-nav">&#8594;</span></a>]]></description>
				<content:encoded><![CDATA[<p><a href="/wp/wp-content/uploads/2015/11/farm_SMALL.jpg"><img class="aligncenter size-large wp-image-1944" alt="farm_SMALL" src="/wp/wp-content/uploads/2015/11/farm_SMALL-1024x608.jpg" width="640" height="380" /></a>The Denton City Manager, George Campbell, released a memo to the City Council today outlining his recommendation on a possible 3rd party consultant to review the <a href="http://www.renewabledenton.com/#intro">Renewable Denton Plan</a> as forwarded by DME.  The City Council is set to discuss these recommendations as part of our Work Session meeting scheduled for Tuesday afternoon.</p>
<p><a href="/wp/wp-content/uploads/2016/02/Memo-re-RDP-021516.pdf">Click here to read the memo.</a></p>
<p>As you will see from this memo, the city manager recommendation is limited in scope and in line with the majority of council who recommended a narrowly tailored review of the plan within a very short timeline.</p>
<p>Renewable Denton is one of the most ambitious renewable energy plans in the nation and has plans to scale our renewable portfolio from 40% to 70% by 2019, reduce emissions associated with our energy portfolio by 74%, divest us from a coal power plant, and lower our overall natural gas consumption by 37%.</p>
<p>I look forward to hearing the results of this review and fully anticipate the consultant will recommend the Renewable Denton Plan as forwarded by DME.</p>
<p>NextGen Climate, the nation&#8217;s leading advocacy group calling on cities around the country to get serious about tackling climate change, is working overtime to <a href="https://nextgenclimate.org/50by30/">convince our nation&#8217;s city leaders to commit to pursuing 50% renewables by 2030</a>. That&#8217;s 15 years from now. Denton is going all the way to 70% by the end of 2019.</p>
<p>I look forward to moving this historic plan to a vote and acting quickly to implement the Renewable Denton Plan in Denton.</p>
<p>&nbsp;</p>
]]></content:encoded>
			<wfw:commentRss>/2016/02/city-managers-recommendation-on-3rd-party-consultant-to-review-renewable-denton-plan/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>City Council Preview &#8211; January 5, 2016</title>
		<link>/2016/01/city-council-preview-january-5-2016/</link>
		<comments>/2016/01/city-council-preview-january-5-2016/#comments</comments>
		<pubDate>Tue, 05 Jan 2016 05:38:39 +0000</pubDate>
		<dc:creator><![CDATA[kevin]]></dc:creator>
				<category><![CDATA[Uncategorized]]></category>

		<guid isPermaLink="false">/?p=1999</guid>
		<description><![CDATA[The Denton City Council will meet at 2pm on Tuesday to have a Work Session followed by a 6:30pm Regular Session. Go here to find the entire agenda with links to back-up material. I am traveling on business in West... <a href="/2016/01/city-council-preview-january-5-2016/">continue reading <span class="meta-nav">&#8594;</span></a>]]></description>
				<content:encoded><![CDATA[<p>The Denton City Council will meet at 2pm on Tuesday to have a Work Session followed by a 6:30pm Regular Session. <a href="http://legistar2.granicus.com/denton-tx/meetings/2016/1/1143_A_City_Council_16-01-05_Meeting_Agenda.pdf">Go here to find the entire agenda</a> with links to back-up material.</p>
<p>I am traveling on business in West Virginia, Pennsylvania, and Ohio this week and will unfortunately be missing out on this meeting. But here are some items of interest on this agenda:</p>
<p><strong>ECONOMIC DEVELOPMENT INVESTMENT and DOWNTOWN REINVESTMENT FUNDS</strong><br />
During this year&#8217;s budget discussions, the council reauthorized $100,000 for the Downtown Reinvestment Fund and authorized $150,000 for a new fund to serve as a cash incentive fund for new and significant economic development projects in town. Both of which are part of <a href="http://dentonedp.com/available-incentives">many tools in the city&#8217;s economic development toolkit</a> by which we can attract, retain, and encourage business activity in Denton. During council discussions, we agreed to meet to discuss both of these issues in greater detail at a later date.</p>
<p>Because the new Economic Development Investment Fund is new, it needs to have a set of policies to guide both its revenue sources and its allowable expenditures. That will be part of the discussion.</p>
<p>Because several questions have been raised as to the continued need for the Downtown Reinvestment Fund &#8211; in its current form &#8211; the council agreed to revisit that policy. On this point, I agree that this fund (and many other efforts and initiatives) has been used on several significant projects in the downtown area that have resulted in substantial preservation and revitalization of historic buildings downtown.</p>
<p>But as I have pointed out on many occasions, the success of Downtown Denton is the direct result of vision, attention, and creativity over the course of several decades. Before anyone saw any promise in downtown, plans were in place to bring it back to life. In that spirit, I&#8217;ve advocated that it is in the best interest of the city to <a href="/2014/01/thinking-beyond-the-square-dentons-future-hubs-of-creativity-commerce-and-culture/">think beyond the square</a> for other pockets of life, culture, and potential economic vitality. We are seeing inspiring signs of life near the A-Train Station, on South Locust and Elm, the Congress Street corridor, and other near-downtown locations. And there are many other places we could consider. Here are my suggestions on how to think through the future of this fund:</p>
<ul>
<li>Instead of simply looking at reallocating these funds, we ought to look ahead to the next budget cycle and consider increasing our annual allotment into this fund. If it is as successful as the data seems to show, then additional investment in different parts of the greater downtown area is justified.</li>
<li>Work with local businesses and developers to identify emerging cultural areas.</li>
<li>Perhaps identify a certain percentage of the current funding and earmark it specifically for an emerging cultural district near downtown &#8211; highlight that and test the waters to see what sort of interest that brings. Re-evaluate at the end of the year.</li>
<li>In addition to allocating a percentage of these funds to a newly identified area, begin thinking through several other tools that could demonstrate city commitment and investment in this area: naming the district, mobility issues (including pedestrian and bike access), landscaping, street lighting, broadband access, public wifi, etc.</li>
</ul>
<p><strong>RENEWABLE DENTON DISCUSSION</strong><br />
Council will continue discussions on the <a href="http://www.renewabledenton.com/">Renewable Denton Plan</a> that seeks to up our commitment to renewables from 40% to 70% in 5 years. <a href="/wp/wp-content/uploads/2016/01/Exhibit4-Jan-5-WS-presentation.pdf">Here&#8217;s a link to the presentation</a> with an updated list of answers to questions that have been raised since our last meeting on the subject. We continue to receive great questions related to this plan and our DME team has done a great job meeting with concerned citizens and fielding their questions.</p>
<p>There also continues to be calls from some people to stall the project until the city spends additional dollars seeking a third party consultant, &#8220;<a href="http://briggsfordenton.org/2016/01/03/engage-d2-1316-an-appeal-to-reason-for-renewable-denton/">to objectively verify whether or not DME’s recommendation is the best way forward</a>.&#8221; In most (not all) cases, calls for a third party consultant come from the same people who have stated explicitly on several occasions that they will oppose any efforts that involve the investment in gas generation in Denton. In other words, for these folks, their interest in a third party consultant does not stem from a desire for genuine objectivity &#8211; they have a stated interest in mind: shut down the Renewable Denton Plan if it involves the investment in gas generation. That&#8217;s fine if that is your perspective. But let&#8217;s not confuse things by calling for consultants when there are already possible results from such a consultant&#8217;s report that you reject before you ever read it.</p>
<p>My standard for whether or not to call for a consultant is clear: if there are answers or expert perspectives that are not being provided to the council (and can not be provided) from our current staff of energy experts, then we need to invest in additional expert help. To date, however, our DME team, in dialogue with questioning council members and citizens, have consistently addressed every issue that has come up.</p>
<p>The city council oversees a one billion dollar budget every year. We have several significant projects in the works that involve hundreds of millions of dollars and several years of planning. If every time a high dollar, complex, long-term, and potentially controversial project comes up we have to run to consultants for a &#8220;third party, independent, expert opinion&#8221; to &#8220;verify&#8221; the path forward, then I submit we will have a very slow, dysfunctional local government that will always be too paralyzed to do anything significant.</p>
<p>As I&#8217;ve maintained on several occasions, the Renewable Denton Plan is one of the most ambitious and aggressive plan involving renewables pursued by cities around the world. And we are able to do so in a way that keeps our electricity reliable and our rates low. Let&#8217;s make history and do something great.</p>
<p><strong>RECALL PETITION OF JOEY HAWKINS</strong><br />
There&#8217;s an item of today&#8217;s agenda that has the City Secretary certifying a petition to recall Councilman Hawkins. I&#8217;ve run some stats based on voting records of those who signed the petition. <a href="/2016/01/joey-hawkins-recall/">You can see those results, and my opinion of this effort, here</a>.</p>
<p>I&#8217;ll be back in town for next week&#8217;s meeting. In the meantime, if you have any questions or comments, let me know at <a href="mailto:kevin.roden@cityofdenton.com">kevin.roden@cityofdenton.com</a> or 940-206-5239.</p>
<p>&nbsp;</p>
]]></content:encoded>
			<wfw:commentRss>/2016/01/city-council-preview-january-5-2016/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Less than 20 Voters from District 4 Involved in Hawkins&#8217; Recall Election</title>
		<link>/2016/01/joey-hawkins-recall/</link>
		<comments>/2016/01/joey-hawkins-recall/#comments</comments>
		<pubDate>Tue, 05 Jan 2016 01:39:11 +0000</pubDate>
		<dc:creator><![CDATA[kevin]]></dc:creator>
				<category><![CDATA[Uncategorized]]></category>

		<guid isPermaLink="false">/?p=1985</guid>
		<description><![CDATA[The effort to recall Denton City Councilman Joey Hawkins is a joke. Far from being a demonstration of the democratic process, a simple analysis of the voting records of those who signed the petition reveals that a bunch of people... <a href="/2016/01/joey-hawkins-recall/">continue reading <span class="meta-nav">&#8594;</span></a>]]></description>
				<content:encoded><![CDATA[<div id="attachment_1986" style="width: 394px" class="wp-caption aligncenter"><a href="/wp/wp-content/uploads/2016/01/DRC_ElectionHawkins.jpg"><img class=" wp-image-1986    " style="border: 2px solid black;" title="Joey Hawkins at his an election party following his first election to Denton City Council in 2013. Only 14 people who signed his recall petition took the time to vote in this election.  Photo credit: David Minton (Denton RC)" alt="Joey Hawkins at his an election party following his first election to Denton City Council in 2013. Only 14 people who signed his recall petition took the time to vote in this election.  Photo credit: David Minton (Denton RC)" src="/wp/wp-content/uploads/2016/01/DRC_ElectionHawkins-1024x678.jpg" width="384" height="254" /></a>
<p class="wp-caption-text">Photo Credit: David Minton, DentonRC</p>
</div>
<p><strong>The effort to recall Denton City Councilman Joey Hawkins is a joke.</strong> Far from being a demonstration of the democratic process, a simple analysis of the voting records of those who signed the petition reveals that a bunch of people living in District 4 are apparently so concerned with the leadership of their city council representative that they couldn&#8217;t even take the time to vote in Denton City Council elections &#8211; ever.</p>
<p>In the name of &#8220;democracy,&#8221; the organizers of the petition to recall Hawkins found a hard time finding actual voters to sign the petition. For all their claims of how disenfranchised they are from the service of Mr. Hawkins, the petition circulators couldn&#8217;t find but a handful of actual city voters from District 4 to sign their petition to throw him out of office.</p>
<p>After reviewing the list of petition signers and comparing that with the public voter records, I have found the following facts to be absolutely shocking:</p>
<ul>
<li>Out of 131 people who signed the recall petition, <strong>42 of them aren&#8217;t even registered to vote in Mr. Hawkins district</strong> and many of them aren&#8217;t registered to vote in the city. That&#8217;s 32% of the petition signers.</li>
<li>That leaves only 89 eligible signatures on the ballot.</li>
<li>Out of those 89, <strong>only 6 of them</strong> voted in the last city council election (2015).</li>
<li>Out of those 89, <strong>only 18 of them</strong> voted in the 2014 city council election.</li>
<li>Out of those 89, <strong>only 14 of them</strong> voted in the 2013 city council election &#8211; when Joey was first on the ballot (and had an opponent).</li>
<li>Out of those 89, <strong>59 of them have never voted in a Denton City Council election.</strong> That&#8217;s 66% of the people who signed the petition.</li>
</ul>
<p>What does all of this mean? <em><strong>Less than 20 actual voters from District 4 are responsible for triggering an official recall election of a sitting Denton City Councilman.</strong></em></p>
]]></content:encoded>
			<wfw:commentRss>/2016/01/joey-hawkins-recall/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>City Council Preview &#8211; Public Comment on Renewable Denton Plan</title>
		<link>/2015/12/city-council-preview-public-comment-on-renewable-denton-plan/</link>
		<comments>/2015/12/city-council-preview-public-comment-on-renewable-denton-plan/#comments</comments>
		<pubDate>Tue, 15 Dec 2015 06:17:47 +0000</pubDate>
		<dc:creator><![CDATA[kevin]]></dc:creator>
				<category><![CDATA[Uncategorized]]></category>

		<guid isPermaLink="false">/?p=1978</guid>
		<description><![CDATA[The Denton City Council will meet on Tuesday, December 15 for a 1pm Work Session followed by a 6:30pm Regular Session at 215 E. McKinney Street. Click here for a full agenda with backup material. There are many important topics... <a href="/2015/12/city-council-preview-public-comment-on-renewable-denton-plan/">continue reading <span class="meta-nav">&#8594;</span></a>]]></description>
				<content:encoded><![CDATA[<p>The Denton City Council will meet on Tuesday, December 15 for a 1pm Work Session followed by a 6:30pm Regular Session at 215 E. McKinney Street. <a href="http://legistar2.granicus.com/denton-tx/meetings/2015/12/1128_A_City_Council_15-12-15_Meeting_Agenda.pdf">Click here for a full agenda</a> with backup material.</p>
<p>There are many important topics on the agenda, but one of the most consequential will be a public hearing on the proposed <a href="http://www.renewabledenton.com/#intro">Renewable Denton Plan</a>. And this community discussion is quite timely in light of the recently-ended <a href="http://www.theguardian.com/environment/2015/dec/13/paris-climate-deal-cop-diplomacy-developing-united-nations">climate change talks in Paris</a> involving leaders from around the world.</p>
<p>In the lead-up to these talks, there was much reporting on how nations around the world compared in their pursuit of renewable sources of energy. Consider the following chart outlining both the goals and progress toward renewables of certain nations in a <a href="http://about.bnef.com/content/uploads/sites/4/2015/11/BNEF_RN_Renewables-targets-vs-NEO_2015-07-20_v3.pdf">recent report by Bloomberg</a>:</p>
<p style="text-align: center;"><a href="/wp/wp-content/uploads/2015/12/Screen-Shot-2015-12-14-at-11.30.43-PM.png"><img class="aligncenter  wp-image-1979" alt="Screen Shot 2015-12-14 at 11.30.43 PM" src="/wp/wp-content/uploads/2015/12/Screen-Shot-2015-12-14-at-11.30.43-PM.png" width="708" height="573" /></a></p>
<p style="text-align: left;"><a href="http://qz.com/359415/three-european-countries-have-already-hit-their-2020-renewable-energy-goals/">This article</a> focused specifically on the renewable energy goals of countries in the EU:</p>
<p style="text-align: left;"><a href="/wp/wp-content/uploads/2015/12/Screen-Shot-2015-12-14-at-11.57.43-PM.png"><img class="aligncenter size-full wp-image-1980" alt="Screen Shot 2015-12-14 at 11.57.43 PM" src="/wp/wp-content/uploads/2015/12/Screen-Shot-2015-12-14-at-11.57.43-PM.png" width="500" height="720" /></a></p>
<p style="text-align: left;">It is important to put the Renewable Denton Plan &#8211; and some of the surrounding controversy by those who claim to want to tackle climate change &#8211; in this context. There is not a nation highlighted on these charts that will reach the goal Denton plans to reach in 2019 when we scale our already noteworthy 40% renewable energy portfolio to 70%. In our own country, the goal is 20% by 2020 and it doesn&#8217;t appear that we will reach that target.  Norway can&#8217;t reach 70%, but Denton can.</p>
<p style="text-align: left;">To some, this is still unacceptable to the extent that the Renewable Denton Plan involves the creation of natural gas quick start generation plants housed here in the city of Denton. But for those who are concerned with reliance on fossil fuels and the emissions involved in generating electricity from them, the following facts are important:</p>
<ul>
<li>Denton&#8217;s current plan involves significant investment in fossil fuels to meet 60% of our energy needs, including coal and natural gas. The Renewable Denton Plan reduces that to 30% reliance on fossil fuels.</li>
<li>Renewable Denton  will use 37% less natural gas than our current plan. All the talk about how many gas wells it will take to power our quick start generating plants misses the crucial point that Renewable Denton requires a significantly smaller amount of natural gas to power our city.</li>
<li>Renewable Denton assumes divestment from the Gibbons Creek coal generating power plant.</li>
<li>Renewable Denton results in a 75% decrease in emissions created to power the city as compared to the current plan.</li>
</ul>
<p>And the Renewable Denton Plan is able to do this while maintaining low rates and ensuring reliability to our customers.</p>
<p>This nation and this world is filled with cities and nations with all sorts of plans and goals as it relates to renewable energy. The city of Denton is one of the few among all of them that is consistently taking bold steps in the right direction. 40% in 2009. 70% by 2019. This is how you get to 100%.</p>
]]></content:encoded>
			<wfw:commentRss>/2015/12/city-council-preview-public-comment-on-renewable-denton-plan/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Does Denton Need Ethics Reform?</title>
		<link>/2015/12/does-denton-need-ethics-reform/</link>
		<comments>/2015/12/does-denton-need-ethics-reform/#comments</comments>
		<pubDate>Tue, 08 Dec 2015 03:42:36 +0000</pubDate>
		<dc:creator><![CDATA[kevin]]></dc:creator>
				<category><![CDATA[Uncategorized]]></category>

		<guid isPermaLink="false">/?p=1971</guid>
		<description><![CDATA[Recent newspaper stories and guest columns have raised the issue of ethics laws governing the behavior of local public officials and have some in our community demanding &#8220;ethics reform&#8221; in the form of a new robust Denton Ethics Ordinance. Much... <a href="/2015/12/does-denton-need-ethics-reform/">continue reading <span class="meta-nav">&#8594;</span></a>]]></description>
				<content:encoded><![CDATA[<p><a href="/wp/wp-content/uploads/2015/12/McCarthy-Brunton-UnAmerican.jpg"><img class="aligncenter size-large wp-image-1974" alt="McCarthy-Brunton-UnAmerican" src="/wp/wp-content/uploads/2015/12/McCarthy-Brunton-UnAmerican-1024x659.jpg" width="640" height="411" /></a></p>
<p>Recent <a href="http://www.dentonrc.com/local-news/local-news-headlines/20151205-city-council-may-take-up-ethics-reform.ece">newspaper stories</a> and <a href="http://www.dentonrc.com/opinion/columns-headlines/20151205-david-zoltner-denton-needs-strong-ethics-ordinance.ece">guest columns</a> have raised the issue of ethics laws governing the behavior of local public officials and have some in our community demanding &#8220;ethics reform&#8221; in the form of a new robust Denton Ethics Ordinance.</p>
<p>Much of the concern centers on the fact that Denton doesn&#8217;t have its own ethics &#8220;ordinance.&#8221; We have an Ethics Resolution that lists out certain values by which fellow council members agree to abide. Things like:</p>
<p>- I will be ethical<br />
- I will be service-oriented<br />
- I will be fiscally responsible<br />
- I will be communicative<br />
- I will be cooperative<br />
- I will be progressive and receptive to new ideas<br />
- I will not be delinquent in paying monies owed the City</p>
<p>To be sure, it reads a bit more like the Boy Scout Oath than it does a substantial set of laws governing the behavior of public officials charged with overseeing a city of 120,000 with a budget nearing $1 billion. If all we had was this resolution and these statements of values keeping potential corruption in check, I would be in complete agreement that we need strong ethics reform and we need it now.</p>
<p>But the resolution goes further and points to a long list of Civil Statutes, State Penal Laws, and City Documents that apply to Denton elected officials and city employees and carry with them a clear path toward prosecution and hefty penalties.</p>
<p>Consider the following list of state laws on the books that govern our actions as public officials. Consider, as well, that any citizen with evidence that a public official is violating one or more of these laws can go to our police chief, the district attorney, the grand jury, even the Texas Attorney General to raise the issue.</p>
<table width="520" border="0" cellspacing="0" cellpadding="0">
<colgroup>
<col width="211" />
<col width="146" />
<col width="163" /> </colgroup>
<tbody>
<tr>
<td width="211" height="15"><strong>ETHICS MATTER</strong></td>
<td width="146"><strong>LEGAL REFERENCE</strong></td>
<td width="163"><strong>PENALTY</strong></td>
</tr>
<tr>
<td width="211" height="15">Financial Statements</td>
<td width="146"><a href="http://www.statutes.legis.state.tx.us/Docs/LG/htm/LG.145.htm">Gov&#8217;t Code 145-003</a> and <a href="http://www.statutes.legis.state.tx.us/Docs/GV/htm/GV.572.htm">572</a></td>
<td width="163">Class B Misdemeanor</td>
</tr>
<tr>
<td width="211" height="15">Open Meetings Act</td>
<td width="146"> <a href="http://www.statutes.legis.state.tx.us/Docs/GV/htm/GV.551.htm">Chapter 551</a></td>
<td width="163">Class B Misdemeanor</td>
</tr>
<tr>
<td width="211" height="15">Public Information Act</td>
<td width="146"> <a href="http://www.statutes.legis.state.tx.us/Docs/GV/htm/GV.552.htm">Chapter 552</a></td>
<td width="163">Class B Misdemeanor</td>
</tr>
<tr>
<td width="211" height="15">Conflicts of Interest</td>
<td width="146"><a href="http://www.statutes.legis.state.tx.us/Docs/LG/htm/LG.171.htm">Gov&#8217;t Code 171</a></td>
<td width="163">Class A Misdemeanor</td>
</tr>
<tr>
<td width="211" height="45">Disclosure of Certain Relationships</td>
<td width="146"><a href="http://www.statutes.legis.state.tx.us/SOTWDocs/LG/htm/LG.176.htm">Gov&#8217;t Code 176</a></td>
<td width="163">Class C/B/A Misdeanor depending on amount of money involved</td>
</tr>
<tr>
<td width="211" height="15">Official Misconduct</td>
<td width="146"><a href="http://www.statutes.legis.state.tx.us/Docs/CR/htm/CR.3.htm">C.C.P Art 3.04</a></td>
<td width="163"></td>
</tr>
<tr>
<td width="211" height="15">Nepotism</td>
<td width="146"><a href="http://www.statutes.legis.state.tx.us/Docs/GV/htm/GV.573.htm">Gov&#8217;t Code 573.041</a></td>
<td width="163">Class C Misdemeanor</td>
</tr>
<tr>
<td width="211" height="30">Retaliation Prohibited for Reporting Violations of Law</td>
<td width="146"><a href="http://www.statutes.legis.state.tx.us/Docs/GV/htm/GV.554.htm">Gov&#8217;t Code 554.002</a></td>
<td width="163"></td>
</tr>
<tr>
<td width="211" height="30">Confidentiality of Information in Bids or Proposals</td>
<td width="146"><a href="http://www.statutes.legis.state.tx.us/SOTWDocs/LG/htm/LG.252.htm">Gov&#8217;t Code 252.049</a></td>
<td width="163">Class C or B Misdemeanor/Forfeiture and Bar</td>
</tr>
<tr>
<td width="211" height="15">Bribery</td>
<td width="146"><a href="http://www.statutes.legis.state.tx.us/Docs/PE/htm/PE.36.htm">Penal Code 36.02</a></td>
<td width="163">2nd Degree Felony</td>
</tr>
<tr>
<td width="211" height="15">Improper Influence</td>
<td width="146"><a href="http://www.statutes.legis.state.tx.us/Docs/PE/htm/PE.36.htm">Penal Code 36.04</a></td>
<td width="163">Class A Misdemeanor</td>
</tr>
<tr>
<td width="211" height="15">Tampering with Witness</td>
<td width="146"><a href="http://www.statutes.legis.state.tx.us/Docs/PE/htm/PE.36.htm">Penal Code 36.05</a></td>
<td width="163">3rd Degree Felony</td>
</tr>
<tr>
<td width="211" height="15">Obstruction or Realiation</td>
<td width="146"><a href="http://www.statutes.legis.state.tx.us/Docs/PE/htm/PE.36.htm">Penal Code 36.06</a></td>
<td width="163">3rd or 2nd Degree Felony</td>
</tr>
<tr>
<td width="211" height="15">Offering Gift to Public Servant</td>
<td width="146"><a href="http://www.statutes.legis.state.tx.us/Docs/PE/htm/PE.36.htm">Penal Code 36.09</a></td>
<td width="163">Class A Misdemeanor</td>
</tr>
<tr>
<td width="211" height="30">Gift to Public Servant by Person Subject to His Jurisdiction</td>
<td width="146"><a href="http://www.statutes.legis.state.tx.us/Docs/PE/htm/PE.36.htm">Penal Code 36.08</a></td>
<td width="163"></td>
</tr>
<tr>
<td width="211" height="30">Abuse of Official Capacity</td>
<td width="146"><a href="http://www.statutes.legis.state.tx.us/Docs/PE/htm/PE.36.htm">Penal Code 36.02</a></td>
<td width="163">Class C Misdemeanor to 1st Degree Felony</td>
</tr>
<tr>
<td width="211" height="15">Official Oppression</td>
<td width="146"><a href="http://www.statutes.legis.state.tx.us/Docs/PE/htm/PE.39.htm">Penal Code 39.03</a></td>
<td width="163">Class A Misdemeanor</td>
</tr>
<tr>
<td width="211" height="15">Misuse of Official Information</td>
<td width="146"><a href="http://www.statutes.legis.state.tx.us/Docs/PE/htm/PE.39.htm">Penal Code 39.06</a></td>
<td width="163">3rd Degree Felony</td>
</tr>
<tr>
<td width="211" height="15">Council Travel Ordinance</td>
<td width="146"><a href="https://www.municode.com/library/tx/denton/codes/code_of_ordinances">No. 2006-273</a></td>
<td width="163"><a href="https://www.municode.com/library/tx/denton/codes/code_of_ordinances"> </a></td>
</tr>
<tr>
<td width="211" height="15">Denton Ethics Resolution</td>
<td width="146"><a href="https://www.municode.com/library/tx/denton/codes/code_of_ordinances">R2006-003</a></td>
<td width="163"></td>
</tr>
<tr>
<td width="211" height="15">Ethics Portion of Resolution</td>
<td width="146"><a href="https://www.municode.com/library/tx/denton/codes/code_of_ordinances">R2009-015</a></td>
<td width="163"></td>
</tr>
</tbody>
</table>
<p>We held a council discussion on Monday to discuss this issue, examine the current statutes, and provide an opportunity for those who feel something stronger is needed to demonstrate that need. The very relevant question was asked of our fellow council members: what is missing from this list? What ethical issue is not already being addressed by this long list of state laws? What problem is there that needs to be solved?</p>
<p>So far, there has been no specific answer or answers to these questions. I remain unconvinced that there is a problem with the current laws, but look forward to hearing from others on this topic.</p>
]]></content:encoded>
			<wfw:commentRss>/2015/12/does-denton-need-ethics-reform/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>City Council Preview &#8211; December 1, 2015</title>
		<link>/2015/12/council-preview-december-1-2015/</link>
		<comments>/2015/12/council-preview-december-1-2015/#comments</comments>
		<pubDate>Tue, 01 Dec 2015 16:02:41 +0000</pubDate>
		<dc:creator><![CDATA[kevin]]></dc:creator>
				<category><![CDATA[Uncategorized]]></category>

		<guid isPermaLink="false">/?p=1967</guid>
		<description><![CDATA[The Denton City Council meets today at noon for a Work Session followed by a 6:30pm Regular Session. There&#8217;s much on this agenda worth discussing, so take a look at the complete agenda and let&#8217;s highlight some things here&#8230; PROPOSED... <a href="/2015/12/council-preview-december-1-2015/">continue reading <span class="meta-nav">&#8594;</span></a>]]></description>
				<content:encoded><![CDATA[<p>The Denton City Council meets today at noon for a Work Session followed by a 6:30pm Regular Session. There&#8217;s much on this agenda worth discussing, so take a look at the <a href="http://legistar2.granicus.com/denton-tx/meetings/2015/12/1029_A_City_Council_15-12-01_Meeting_Agenda.pdf" target="_blank">complete agenda</a> and let&#8217;s highlight some things here&#8230;</p>
<p><strong>PROPOSED CHANGES IN DRILLING AND PRODUCTION FEES </strong><br />
Ever since the council set out to amend our current gas well ordinance, we recognized the need to update and revise the fees associated with this activity. This is for two reasons. First, we need to make sure our fees align with the work done by the city in order to properly facilitate the planning process as well as properly inspect this industry according to our ordinance. The council has made it clear for several years that the city should in no way subsidize the gas drilling industry in town. If it costs the city X amount to operate our gas well inspections team, then that X amount should be passed along to the industry. The fee schedule is developed in order to maintain this balance. This is precisely why we have relied on a team of experts to dig into the numbers on two occasions in the last 5 years and advise the city on our fees.</p>
<p>Second, fees can also be used to encourage the type of industry behavior a community values. As we have seen in the struggle for local control with the oil and gas industry over the last couple of years, the city&#8217;s jurisdiction to mandate what it wants is severely limited by state law. Therefore, it is in the best interest of the city to utilize both carrots and sticks in order to encourage such activity in a way that is better for the city. Toward this end, the proposed fee schedule encourages operators to update their old gas well development plats as well as encourage the co-location of gas wells to avoid the unnecessary proliferation of drilling sites all over the city and in undesirable locations.</p>
<p>For more on the proposed fee schedule and how it compares to the current set of fees, check out <a href="/wp/wp-content/uploads/2015/12/Exhibit4-Gas-Well-Fees-Presentation.pdf">this PowerPoint presentation</a>.</p>
<p><strong>RENEWABLE DENTON PLAN</strong><br />
We will have another public discussion on the proposed Renewable Denton Plan that aims to scale our renewable energy resources in our portfolio from 40% to 70% by 2019 (made up of solar and wind). Part of the plan calls for the creation of two natural gas quick start generation plants that will give DME control of its quick start needs in a more cost effective manner than relying on the market. Another part of the plan also assumes our divestment in a older coal generation plant at Gibbons Creek. By all counts, this plan is one of the most ambitious plans by a municipal electric provider in the nation in terms of its commitment and investment in renewable energy resources. It puts us on a trajectory to scale to 100% renewables as soon as that becomes more reliable and more cost effective. It puts us well beyond just about every long-term recommendation made by national organizations fighting climate change. And it does it all in a way that keeps our electricity on and our customers paying lower rates.</p>
<p>To see the PowerPoint for today&#8217;s council meeting, <a href="/wp/wp-content/uploads/2015/12/Exhibit1-December-1-Renewable-Denton-presentation.pdf">click here</a>.</p>
<p><strong>BUC-EE&#8217;S PROPOSAL TO COME TO DENTON</strong><br />
When the city council first heard a proposal to provide economic incentives for Buc-ee&#8217;s to come to Denton, my reaction was what I&#8217;m hearing from some of my fellow citizens: &#8220;We are seriously considering providing economic incentives for a gas station?&#8221; And I&#8217;ve had additional concerns along the way, such as the amount of the incentive, the rationale for providing incentives to the out parcel properties that do not yet have an identified user, and the impact of this development project on the nearby neighborhood. Much of these concerns that I and other council members raised along the way have led to a number of important things: a neighborhood meeting and the facilitation of communication between the business owner and those living in proximity, greater examination of the incentive package to more closely tie the incentive to a reimbursement for public infrastructure projects, greater clarity on what would and what wouldn&#8217;t count as an incentive for the surrounding parcels as they come online, and a bigger picture perspective on the benefit to Denton&#8217;s transportation assets along this stretch of I35.</p>
<p>Economic development for a city is complex. Commercial development is crucial for both necessary and desired city services for our citizens. At the end of the day, the cost to serve citizens in an average priced home in Denton is greater than the tax dollars generated by that home. Commercial development, both from the point of view of property tax and sales tax, helps subsidize the cost of services for our citizens. In other words, in most cases, commercial development pays more in city sales and property taxes than it receives in city services. But if our economic development efforts focused solely on this sort of equation (and many cities do), I would be deeply concerned.</p>
<p>A robust economic development policy must look beyond the obvious sales and property tax generators and also concern itself with: numbers of jobs, unemployment rates, average income in our city, cost of living, affordable housing, high end housing, long-term strategies toward fostering key industries in our city, developing the spirit of entrepreneurship, maintaining our creative class, avoiding the brain drain from our two universities, and the diversification of its commercial base in order to be more resilient in times of economic downturns.</p>
<p>While much attention as of late has been place on this Buc-ee&#8217;s proposal, this is far from being the largest, most significant, or most important project pursued by Denton over the last couple of years. We recently landed the largest distribution facility Denton has even seen. Our downtown is booming and the explosion in sales tax revenue to the city is bettering our local businesses as well. This is in part due to key investments and focus on our greater Square area. One downtown merchant reported to me that last months sales were 22% over last year. Older neighborhoods, known for years as college rental areas, are starting to see a resurgence in investment and interest &#8211; property values and neighborhood integrity is increasing as a result. Our tech and startup community is vibrant and thriving due to maintained focus by community and city leaders over the last few years. This has resulted in the creation of a new Innovation District just East of downtown and near the train station where underutilized industrial properties are in desperate need of new life. The city just inked a deal that would result in the creation of our city&#8217;s first coworking and startup incubation space in that area in order to reignite a passion for entrepreneurship &#8211; a long-term strategy for building into our economy. We&#8217;ve been working with the Denton Community Market to find a new space and platform for small business development in that same area. And so much more&#8230;.</p>
<p>There&#8217;s still much to do and more to create to invest in our local economy, but I am confident we are heading in the right direction. If the economic development strategies of Denton were reduced to bringing in a Buc-ee&#8217;s to town, I would be deeply worried. But we are doing so much more than that. I look forward to tonight&#8217;s discussion on this topic.</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
]]></content:encoded>
			<wfw:commentRss>/2015/12/council-preview-december-1-2015/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>
