<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>Comments on: Tell City Council to Save Joe&#8217;s Home</title>
	<atom:link href="/2016/02/tell-city-council-to-save-joes-home/feed/" rel="self" type="application/rss+xml" />
	<link>/2016/02/tell-city-council-to-save-joes-home/</link>
	<description>Kevin Roden for Denton City Council</description>
	<lastBuildDate>Fri, 19 Feb 2016 21:01:19 +0000</lastBuildDate>
		<sy:updatePeriod>hourly</sy:updatePeriod>
		<sy:updateFrequency>1</sy:updateFrequency>
	<generator>http://wordpress.org/?v=3.8.14</generator>
	<item>
		<title>By: Carol Rowley</title>
		<link>/2016/02/tell-city-council-to-save-joes-home/#comment-73158</link>
		<dc:creator><![CDATA[Carol Rowley]]></dc:creator>
		<pubDate>Fri, 19 Feb 2016 21:01:19 +0000</pubDate>
		<guid isPermaLink="false">/?p=2011#comment-73158</guid>
		<description><![CDATA[Seriously? Councilers, people need to count on both the word AND the recorded votes of council. If you can change your mind willy-nilly, how can you expect to govern effectively?]]></description>
		<content:encoded><![CDATA[<p>Seriously? Councilers, people need to count on both the word AND the recorded votes of council. If you can change your mind willy-nilly, how can you expect to govern effectively?</p>
]]></content:encoded>
	</item>
	<item>
		<title>By: Skyler Hill</title>
		<link>/2016/02/tell-city-council-to-save-joes-home/#comment-73156</link>
		<dc:creator><![CDATA[Skyler Hill]]></dc:creator>
		<pubDate>Fri, 19 Feb 2016 20:45:32 +0000</pubDate>
		<guid isPermaLink="false">/?p=2011#comment-73156</guid>
		<description><![CDATA[I believe that Joel deserves to have a new home provided for him by the state and/or county, and that failing to do so shows a tremendous lack of responsibility and respect for the citizens of Denton, especially those most vulnerable to changes such as these.]]></description>
		<content:encoded><![CDATA[<p>I believe that Joel deserves to have a new home provided for him by the state and/or county, and that failing to do so shows a tremendous lack of responsibility and respect for the citizens of Denton, especially those most vulnerable to changes such as these.</p>
]]></content:encoded>
	</item>
	<item>
		<title>By: Meagan Hatton</title>
		<link>/2016/02/tell-city-council-to-save-joes-home/#comment-73155</link>
		<dc:creator><![CDATA[Meagan Hatton]]></dc:creator>
		<pubDate>Fri, 19 Feb 2016 20:35:37 +0000</pubDate>
		<guid isPermaLink="false">/?p=2011#comment-73155</guid>
		<description><![CDATA[Please help Joe find a good home! He&#039;s one of the kindest people I know.]]></description>
		<content:encoded><![CDATA[<p>Please help Joe find a good home! He&#8217;s one of the kindest people I know.</p>
]]></content:encoded>
	</item>
	<item>
		<title>By: Ken Pritchett</title>
		<link>/2016/02/tell-city-council-to-save-joes-home/#comment-73154</link>
		<dc:creator><![CDATA[Ken Pritchett]]></dc:creator>
		<pubDate>Fri, 19 Feb 2016 20:25:25 +0000</pubDate>
		<guid isPermaLink="false">/?p=2011#comment-73154</guid>
		<description><![CDATA[Marybeth and I are with you.  This is unconscionable.]]></description>
		<content:encoded><![CDATA[<p>Marybeth and I are with you.  This is unconscionable.</p>
]]></content:encoded>
	</item>
	<item>
		<title>By: Samra Bufkins</title>
		<link>/2016/02/tell-city-council-to-save-joes-home/#comment-73151</link>
		<dc:creator><![CDATA[Samra Bufkins]]></dc:creator>
		<pubDate>Fri, 19 Feb 2016 17:32:46 +0000</pubDate>
		<guid isPermaLink="false">/?p=2011#comment-73151</guid>
		<description><![CDATA[Joe is a beloved asset to the community. Don&#039;t let some bully whomdoesn&#039;t even live in Denton talk council into ruining this man&#039;s life. Keep Joe in his home.]]></description>
		<content:encoded><![CDATA[<p>Joe is a beloved asset to the community. Don&#8217;t let some bully whomdoesn&#8217;t even live in Denton talk council into ruining this man&#8217;s life. Keep Joe in his home.</p>
]]></content:encoded>
	</item>
</channel>
</rss>
