<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>Comments on: High-Tech Denton: Hotspot, yet Still Low Priority for the City</title>
	<atom:link href="/2013/10/high-tech-denton-hotspot-yet-still-low-priority/feed/" rel="self" type="application/rss+xml" />
	<link>/2013/10/high-tech-denton-hotspot-yet-still-low-priority/</link>
	<description>Kevin Roden for Denton City Council</description>
	<lastBuildDate>Mon, 27 Jun 2016 21:47:35 +0000</lastBuildDate>
		<sy:updatePeriod>hourly</sy:updatePeriod>
		<sy:updateFrequency>1</sy:updateFrequency>
	<generator>http://wordpress.org/?v=3.8.15</generator>
	<item>
		<title>By: Dalton Gregory</title>
		<link>/2013/10/high-tech-denton-hotspot-yet-still-low-priority/#comment-40060</link>
		<dc:creator><![CDATA[Dalton Gregory]]></dc:creator>
		<pubDate>Wed, 30 Oct 2013 16:43:47 +0000</pubDate>
		<guid isPermaLink="false">/?p=923#comment-40060</guid>
		<description><![CDATA[Once again Kevin&#039;s fresh creative ideas are right on target.  But Jason Bodor, getting 100 jobs that average $42K is a good thing.  One hundred new jobs in Denton is a good thing.  I don&#039;t think we have to abandon the current economic development intitiatives.  Instead, we need to expand our efforts to address the areas Kevin has listed.  It is not an &quot;either - or&quot; choice.  We are big enough that we don&#039;t have to be a &quot;one trick pony.&quot;]]></description>
		<content:encoded><![CDATA[<p>Once again Kevin&#8217;s fresh creative ideas are right on target.  But Jason Bodor, getting 100 jobs that average $42K is a good thing.  One hundred new jobs in Denton is a good thing.  I don&#8217;t think we have to abandon the current economic development intitiatives.  Instead, we need to expand our efforts to address the areas Kevin has listed.  It is not an &#8220;either &#8211; or&#8221; choice.  We are big enough that we don&#8217;t have to be a &#8220;one trick pony.&#8221;</p>
]]></content:encoded>
	</item>
	<item>
		<title>By: Jason Bodor</title>
		<link>/2013/10/high-tech-denton-hotspot-yet-still-low-priority/#comment-40000</link>
		<dc:creator><![CDATA[Jason Bodor]]></dc:creator>
		<pubDate>Wed, 30 Oct 2013 04:26:49 +0000</pubDate>
		<guid isPermaLink="false">/?p=923#comment-40000</guid>
		<description><![CDATA[I just want to give a big shout out to Councilman Roden for his efforts,  as one of the founders for a tech company on the square, GSATi, I agree that the city does not have any programs to assist companies like ours.  We have brought over 20 high paying tech jobs to down town and are on track to have almost 30 positions by the end of 2014.  The city seems to fail to realize that jobs such as these bring a much higher level of discresionary spending than a company that brings 100 jobs that pay the average of $42,000. Meaning that 20 or 30 jobs making six figures has a much greater impact to the economy than 100 jobs  at $42,000.]]></description>
		<content:encoded><![CDATA[<p>I just want to give a big shout out to Councilman Roden for his efforts,  as one of the founders for a tech company on the square, GSATi, I agree that the city does not have any programs to assist companies like ours.  We have brought over 20 high paying tech jobs to down town and are on track to have almost 30 positions by the end of 2014.  The city seems to fail to realize that jobs such as these bring a much higher level of discresionary spending than a company that brings 100 jobs that pay the average of $42,000. Meaning that 20 or 30 jobs making six figures has a much greater impact to the economy than 100 jobs  at $42,000.</p>
]]></content:encoded>
	</item>
	<item>
		<title>By: Bradley Joyce</title>
		<link>/2013/10/high-tech-denton-hotspot-yet-still-low-priority/#comment-39988</link>
		<dc:creator><![CDATA[Bradley Joyce]]></dc:creator>
		<pubDate>Wed, 30 Oct 2013 02:39:27 +0000</pubDate>
		<guid isPermaLink="false">/?p=923#comment-39988</guid>
		<description><![CDATA[Love all of this. These are problems facing every city in the metroplex. Please let me know how LAUNCH DFW can help you achieve some of your goals. For example, the new website we&#039;re about to launch should help with some things, assuming we can get Denton startups and tech companies on board. If you know of companies doing interesting things please let us know, we would love to write about them!

Cheers,
Bradley]]></description>
		<content:encoded><![CDATA[<p>Love all of this. These are problems facing every city in the metroplex. Please let me know how LAUNCH DFW can help you achieve some of your goals. For example, the new website we&#8217;re about to launch should help with some things, assuming we can get Denton startups and tech companies on board. If you know of companies doing interesting things please let us know, we would love to write about them!</p>
<p>Cheers,<br />
Bradley</p>
]]></content:encoded>
	</item>
	<item>
		<title>By: Christopher</title>
		<link>/2013/10/high-tech-denton-hotspot-yet-still-low-priority/#comment-39943</link>
		<dc:creator><![CDATA[Christopher]]></dc:creator>
		<pubDate>Tue, 29 Oct 2013 10:09:27 +0000</pubDate>
		<guid isPermaLink="false">/?p=923#comment-39943</guid>
		<description><![CDATA[Chattanooga is a fun, fun place.]]></description>
		<content:encoded><![CDATA[<p>Chattanooga is a fun, fun place.</p>
]]></content:encoded>
	</item>
	<item>
		<title>By: Will</title>
		<link>/2013/10/high-tech-denton-hotspot-yet-still-low-priority/#comment-39925</link>
		<dc:creator><![CDATA[Will]]></dc:creator>
		<pubDate>Tue, 29 Oct 2013 02:53:36 +0000</pubDate>
		<guid isPermaLink="false">/?p=923#comment-39925</guid>
		<description><![CDATA[So Kevin, what can those of us not in power at TWU, UNT or the city do to help make this happen? I mean if you&#039;re city council and you&#039;re still unable to get much of this rolling, who do we focus our fist shaking (or helpful discussions) towards?]]></description>
		<content:encoded><![CDATA[<p>So Kevin, what can those of us not in power at TWU, UNT or the city do to help make this happen? I mean if you&#8217;re city council and you&#8217;re still unable to get much of this rolling, who do we focus our fist shaking (or helpful discussions) towards?</p>
]]></content:encoded>
	</item>
	<item>
		<title>By: Pat Smith</title>
		<link>/2013/10/high-tech-denton-hotspot-yet-still-low-priority/#comment-39913</link>
		<dc:creator><![CDATA[Pat Smith]]></dc:creator>
		<pubDate>Mon, 28 Oct 2013 19:37:00 +0000</pubDate>
		<guid isPermaLink="false">/?p=923#comment-39913</guid>
		<description><![CDATA[Hi Kevin

 Spot on as always.  You know where my heart is on these issues.  As an example of what a Collaboration Center is doing in Denton, one of the first tenants in the Mill will be Rising Star Redevelopment Corporation.   They are a nation nonprofit officing in the Wilson District in Dallas.  They plan to move to Denton and are getting contracts in the local area for people with disabilities and hard to employ.... they are officing at the natural grocers on University Dr.  
I was wondering if you would want to pursue getting a $5K grant from the UNT Community Renewal Fund to work on some of tbese ideas in the &quot;engaged service&quot; category...for example doing the leg work to start a Downtown innovation District...I think that would be a great fit for PACS]]></description>
		<content:encoded><![CDATA[<p>Hi Kevin</p>
<p> Spot on as always.  You know where my heart is on these issues.  As an example of what a Collaboration Center is doing in Denton, one of the first tenants in the Mill will be Rising Star Redevelopment Corporation.   They are a nation nonprofit officing in the Wilson District in Dallas.  They plan to move to Denton and are getting contracts in the local area for people with disabilities and hard to employ&#8230;. they are officing at the natural grocers on University Dr.<br />
I was wondering if you would want to pursue getting a $5K grant from the UNT Community Renewal Fund to work on some of tbese ideas in the &#8220;engaged service&#8221; category&#8230;for example doing the leg work to start a Downtown innovation District&#8230;I think that would be a great fit for PACS</p>
]]></content:encoded>
	</item>
	<item>
		<title>By: Mike Cochran</title>
		<link>/2013/10/high-tech-denton-hotspot-yet-still-low-priority/#comment-39905</link>
		<dc:creator><![CDATA[Mike Cochran]]></dc:creator>
		<pubDate>Mon, 28 Oct 2013 17:23:52 +0000</pubDate>
		<guid isPermaLink="false">/?p=923#comment-39905</guid>
		<description><![CDATA[Brilliant analysis Kevin. 
In the past the sum total of our economic development &quot;strategy&quot; seemed to be offering tax abatements to developers, which always seemed self-defeating to me. It&#039;s a loser-mentality notion that we should have to pay industry to locate here because we don&#039;t think they would choose Denton otherwise. Our so-called strategy was a carbon copy of the same hackneyed strategies in every other dull community in the metroplex. There was nothing that made us stand out in the crowd and offering industry a tax discount does not engender loyalty to the community.
What you propose is a pro-active promotion the new economy. In the old way of thinking the only businesses that mattered  were either factories, office headquarters or shopping centers. These were easy to measure and do not require any subtlety to perceive.
The new economy is harder to gauge by the old metrics because it de-centralized and may well have as much positive economic impact on the community, but it is harder to measure... thus invisible by the old standards of measurement.
By the old strategy, the way you attract new business is to discount their taxes, offering them a cut-rate Denton. For the new decentralized economic model, investing in quality-of-life projects is an investment in the long term success of our community. And the rest of the community can benefit from these projects as well.
Thanks for thinking.]]></description>
		<content:encoded><![CDATA[<p>Brilliant analysis Kevin.<br />
In the past the sum total of our economic development &#8220;strategy&#8221; seemed to be offering tax abatements to developers, which always seemed self-defeating to me. It&#8217;s a loser-mentality notion that we should have to pay industry to locate here because we don&#8217;t think they would choose Denton otherwise. Our so-called strategy was a carbon copy of the same hackneyed strategies in every other dull community in the metroplex. There was nothing that made us stand out in the crowd and offering industry a tax discount does not engender loyalty to the community.<br />
What you propose is a pro-active promotion the new economy. In the old way of thinking the only businesses that mattered  were either factories, office headquarters or shopping centers. These were easy to measure and do not require any subtlety to perceive.<br />
The new economy is harder to gauge by the old metrics because it de-centralized and may well have as much positive economic impact on the community, but it is harder to measure&#8230; thus invisible by the old standards of measurement.<br />
By the old strategy, the way you attract new business is to discount their taxes, offering them a cut-rate Denton. For the new decentralized economic model, investing in quality-of-life projects is an investment in the long term success of our community. And the rest of the community can benefit from these projects as well.<br />
Thanks for thinking.</p>
]]></content:encoded>
	</item>
	<item>
		<title>By: Hunter Bonner</title>
		<link>/2013/10/high-tech-denton-hotspot-yet-still-low-priority/#comment-39900</link>
		<dc:creator><![CDATA[Hunter Bonner]]></dc:creator>
		<pubDate>Mon, 28 Oct 2013 15:51:36 +0000</pubDate>
		<guid isPermaLink="false">/?p=923#comment-39900</guid>
		<description><![CDATA[First off, that was a shameless plug for my new blog.  Having said that, Councilman Roden is not my councilman, but I wish many times he were.  From the business aspect of things, he and I see pretty much eye to eye.

I couldn&#039;t agree more with this posting of his.  I am an example of what he is talking about, in the sense of I decided to stay North after many years of going South for work.  I decided to come back home, if you please, because I was tired of the commute, and I wanted to be closer to my family, while at the same time making a decent living.]]></description>
		<content:encoded><![CDATA[<p>First off, that was a shameless plug for my new blog.  Having said that, Councilman Roden is not my councilman, but I wish many times he were.  From the business aspect of things, he and I see pretty much eye to eye.</p>
<p>I couldn&#8217;t agree more with this posting of his.  I am an example of what he is talking about, in the sense of I decided to stay North after many years of going South for work.  I decided to come back home, if you please, because I was tired of the commute, and I wanted to be closer to my family, while at the same time making a decent living.</p>
]]></content:encoded>
	</item>
</channel>
</rss>
