<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>Comments on: Making St. James AME Church More Accessible and Rethinking the Role of Local Government</title>
	<atom:link href="/2015/07/st-james-church-and-local-government/feed/" rel="self" type="application/rss+xml" />
	<link>/2015/07/st-james-church-and-local-government/</link>
	<description>Kevin Roden for Denton City Council</description>
	<lastBuildDate>Tue, 16 Jun 2015 14:31:16 +0000</lastBuildDate>
		<sy:updatePeriod>hourly</sy:updatePeriod>
		<sy:updateFrequency>1</sy:updateFrequency>
	<generator>http://wordpress.org/?v=3.8.8</generator>
</channel>
</rss>
