<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
		>
<channel>
	<title>Comments on: The Gas Industry&#8217;s Awkward Dance</title>
	<atom:link href="/2012/04/gas_industry_awkward_dance/feed/" rel="self" type="application/rss+xml" />
	<link>/2012/04/gas_industry_awkward_dance/</link>
	<description>Kevin Roden for Denton City Council</description>
	<lastBuildDate>Thu, 05 Apr 2012 16:25:11 +0000</lastBuildDate>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>http://wordpress.org/?v=3.0.4</generator>
</channel>
</rss>
