<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>Comments on: On Fracking, Boycotts, and Democracy: A Lesson From Ainsley Hayes</title>
	<atom:link href="/2014/07/on-fracking-boycotts-and-democracy/feed/" rel="self" type="application/rss+xml" />
	<link>/2014/07/on-fracking-boycotts-and-democracy/</link>
	<description>Kevin Roden for Denton City Council</description>
	<lastBuildDate>Mon, 27 Jun 2016 21:47:35 +0000</lastBuildDate>
		<sy:updatePeriod>hourly</sy:updatePeriod>
		<sy:updateFrequency>1</sy:updateFrequency>
	<generator>http://wordpress.org/?v=3.8.15</generator>
	<item>
		<title>By: Keith Wayne Brown</title>
		<link>/2014/07/on-fracking-boycotts-and-democracy/#comment-49374</link>
		<dc:creator><![CDATA[Keith Wayne Brown]]></dc:creator>
		<pubDate>Tue, 22 Jul 2014 02:13:48 +0000</pubDate>
		<guid isPermaLink="false">/?p=1327#comment-49374</guid>
		<description><![CDATA[Thanks Kevin for reminding us to stay civil. I do respectfully disagree that voting with your dollars is not part of civil discourse. And this can be done in a reasonable way.]]></description>
		<content:encoded><![CDATA[<p>Thanks Kevin for reminding us to stay civil. I do respectfully disagree that voting with your dollars is not part of civil discourse. And this can be done in a reasonable way.</p>
]]></content:encoded>
	</item>
	<item>
		<title>By: Sonny Bynum</title>
		<link>/2014/07/on-fracking-boycotts-and-democracy/#comment-49368</link>
		<dc:creator><![CDATA[Sonny Bynum]]></dc:creator>
		<pubDate>Mon, 21 Jul 2014 17:04:08 +0000</pubDate>
		<guid isPermaLink="false">/?p=1327#comment-49368</guid>
		<description><![CDATA[Kevin, thanks for your admonishment to show respect to our fellows, and especially to those who dedicate their time to service.

I would, however, humbly disagree with these descriptions of boycott. Let me offer a defense of pragmatic, thoughtful boycott.

In the same way that dialogue and forum are tools of expression for the refinement and galvanizing of democracy, market choices, and boycott by extension, are the moment-by-moment, powerful votes that most directly affect the world around us, and can be practiced by anyone (indeed, almost everyone) at any time.

This doesn&#039;t excuse or preclude under-informed, overly impassioned decisions, whether they affect policy mechanisms or the purchased traffic over one&#039;s dinner table, of course. Everyone should still be thoughtful and mature.

But the decisions that surround those food/good/service purchases are more intimate and personal than allegiance to the methods of beltway insiders. In fact, those who favor market solutions, even if alongside solutions of governance, trend anti-DC.

If you encourage passion, I suggest that thoughtful boycott, or simply buying decisions, are effective, practical, and most of all, responsible.

No matter where one stands on an issue, we are all responsible to our customers/sellers, and cooperation and collaboration with, or by contrast, boycott of the commercial community surrounding us speaks loudly indeed.]]></description>
		<content:encoded><![CDATA[<p>Kevin, thanks for your admonishment to show respect to our fellows, and especially to those who dedicate their time to service.</p>
<p>I would, however, humbly disagree with these descriptions of boycott. Let me offer a defense of pragmatic, thoughtful boycott.</p>
<p>In the same way that dialogue and forum are tools of expression for the refinement and galvanizing of democracy, market choices, and boycott by extension, are the moment-by-moment, powerful votes that most directly affect the world around us, and can be practiced by anyone (indeed, almost everyone) at any time.</p>
<p>This doesn&#8217;t excuse or preclude under-informed, overly impassioned decisions, whether they affect policy mechanisms or the purchased traffic over one&#8217;s dinner table, of course. Everyone should still be thoughtful and mature.</p>
<p>But the decisions that surround those food/good/service purchases are more intimate and personal than allegiance to the methods of beltway insiders. In fact, those who favor market solutions, even if alongside solutions of governance, trend anti-DC.</p>
<p>If you encourage passion, I suggest that thoughtful boycott, or simply buying decisions, are effective, practical, and most of all, responsible.</p>
<p>No matter where one stands on an issue, we are all responsible to our customers/sellers, and cooperation and collaboration with, or by contrast, boycott of the commercial community surrounding us speaks loudly indeed.</p>
]]></content:encoded>
	</item>
	<item>
		<title>By: Russ</title>
		<link>/2014/07/on-fracking-boycotts-and-democracy/#comment-49363</link>
		<dc:creator><![CDATA[Russ]]></dc:creator>
		<pubDate>Mon, 21 Jul 2014 14:50:20 +0000</pubDate>
		<guid isPermaLink="false">/?p=1327#comment-49363</guid>
		<description><![CDATA[Can&#039;t go wrong with a dig up from the West Wing!  Please keep us posted on how many of those &quot;pledged&quot; helpers from industry and royalty protection groups step forward to generate a solution that works for Denton.  That is what struck me - those folks stating that you all have not worked hard enough for a solution and the other half of the pro drilling stating that our concerns with fracking are misplaced and based on ignorance.  That type of rhetoric inflames.]]></description>
		<content:encoded><![CDATA[<p>Can&#8217;t go wrong with a dig up from the West Wing!  Please keep us posted on how many of those &#8220;pledged&#8221; helpers from industry and royalty protection groups step forward to generate a solution that works for Denton.  That is what struck me &#8211; those folks stating that you all have not worked hard enough for a solution and the other half of the pro drilling stating that our concerns with fracking are misplaced and based on ignorance.  That type of rhetoric inflames.</p>
]]></content:encoded>
	</item>
	<item>
		<title>By: Adam Briggle</title>
		<link>/2014/07/on-fracking-boycotts-and-democracy/#comment-49360</link>
		<dc:creator><![CDATA[Adam Briggle]]></dc:creator>
		<pubDate>Mon, 21 Jul 2014 14:03:05 +0000</pubDate>
		<guid isPermaLink="false">/?p=1327#comment-49360</guid>
		<description><![CDATA[Totally agreed! Let&#039;s be grateful for the service of our elected leaders. Let&#039;s be respectful. And let&#039;s get out the vote and win in November!]]></description>
		<content:encoded><![CDATA[<p>Totally agreed! Let&#8217;s be grateful for the service of our elected leaders. Let&#8217;s be respectful. And let&#8217;s get out the vote and win in November!</p>
]]></content:encoded>
	</item>
	<item>
		<title>By: Shaun</title>
		<link>/2014/07/on-fracking-boycotts-and-democracy/#comment-49358</link>
		<dc:creator><![CDATA[Shaun]]></dc:creator>
		<pubDate>Mon, 21 Jul 2014 12:46:33 +0000</pubDate>
		<guid isPermaLink="false">/?p=1327#comment-49358</guid>
		<description><![CDATA[Here here, Kevin. A functioning democratic government requires disagreement, engaged deliberation, and yes civility. It&#039;s all too easy to troll from the sidelines once a pet issue hits our mediated radar, but truth told this issue has been boiling for years. I&#039;m heartened by the passion and community awareness, but best to channel it into organizing, openly debating with our neighbors and representatives, and (sigh) going to the meetings. Is this an unfair battle that also has to be waged in state and national elections? You bet. No one said democracy would be easy, quite the opposite, but it is worth it.]]></description>
		<content:encoded><![CDATA[<p>Here here, Kevin. A functioning democratic government requires disagreement, engaged deliberation, and yes civility. It&#8217;s all too easy to troll from the sidelines once a pet issue hits our mediated radar, but truth told this issue has been boiling for years. I&#8217;m heartened by the passion and community awareness, but best to channel it into organizing, openly debating with our neighbors and representatives, and (sigh) going to the meetings. Is this an unfair battle that also has to be waged in state and national elections? You bet. No one said democracy would be easy, quite the opposite, but it is worth it.</p>
]]></content:encoded>
	</item>
	<item>
		<title>By: benjamin</title>
		<link>/2014/07/on-fracking-boycotts-and-democracy/#comment-49352</link>
		<dc:creator><![CDATA[benjamin]]></dc:creator>
		<pubDate>Mon, 21 Jul 2014 05:03:07 +0000</pubDate>
		<guid isPermaLink="false">/?p=1327#comment-49352</guid>
		<description><![CDATA[Thanks so much for your efforts that night. I watched the whole thing from my living room and your questions/clarifications were great but it was Jim E. who had me laughing out loud when he would fly off the handle a few times in the early hours of the morning - asking a regulator if he would be willing to help &quot;whoop some ass&quot; to negotiate new ordinances. 

Just to clarify what happen in the end there: Does the council still retain the right to bring this vote back on their agenda in the event that the industry representatives fail to make good on their promises to work with us for a better solution? (Not that they made actual promises. I remember you asked a lobbyist to give us a glimpse of a possible solution and he said &quot;I would not be so bold&quot; - that&#039;s not reassuring).]]></description>
		<content:encoded><![CDATA[<p>Thanks so much for your efforts that night. I watched the whole thing from my living room and your questions/clarifications were great but it was Jim E. who had me laughing out loud when he would fly off the handle a few times in the early hours of the morning &#8211; asking a regulator if he would be willing to help &#8220;whoop some ass&#8221; to negotiate new ordinances. </p>
<p>Just to clarify what happen in the end there: Does the council still retain the right to bring this vote back on their agenda in the event that the industry representatives fail to make good on their promises to work with us for a better solution? (Not that they made actual promises. I remember you asked a lobbyist to give us a glimpse of a possible solution and he said &#8220;I would not be so bold&#8221; &#8211; that&#8217;s not reassuring).</p>
]]></content:encoded>
	</item>
	<item>
		<title>By: Vicki Oppenheim</title>
		<link>/2014/07/on-fracking-boycotts-and-democracy/#comment-49349</link>
		<dc:creator><![CDATA[Vicki Oppenheim]]></dc:creator>
		<pubDate>Mon, 21 Jul 2014 04:06:49 +0000</pubDate>
		<guid isPermaLink="false">/?p=1327#comment-49349</guid>
		<description><![CDATA[I agree that the focus needs to be on getting out the vote and fighting the cause against the industry. Denton voters will need to be very organized and will need to help with fundraising to win in November.]]></description>
		<content:encoded><![CDATA[<p>I agree that the focus needs to be on getting out the vote and fighting the cause against the industry. Denton voters will need to be very organized and will need to help with fundraising to win in November.</p>
]]></content:encoded>
	</item>
	<item>
		<title>By: Cathy McMullen</title>
		<link>/2014/07/on-fracking-boycotts-and-democracy/#comment-49348</link>
		<dc:creator><![CDATA[Cathy McMullen]]></dc:creator>
		<pubDate>Mon, 21 Jul 2014 03:32:30 +0000</pubDate>
		<guid isPermaLink="false">/?p=1327#comment-49348</guid>
		<description><![CDATA[I have heard the same comments and understand the frustrate and anger. We  need to channel that energy against the real enemy, the fracking industry. The first hit piece against members of DAG showed up on the internet today. 
Get mad, get it out of your system and then move forward.  We can win the vote in November.]]></description>
		<content:encoded><![CDATA[<p>I have heard the same comments and understand the frustrate and anger. We  need to channel that energy against the real enemy, the fracking industry. The first hit piece against members of DAG showed up on the internet today.<br />
Get mad, get it out of your system and then move forward.  We can win the vote in November.</p>
]]></content:encoded>
	</item>
</channel>
</rss>
