<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>Comments on: Sriracha: Come to Denton, TX!</title>
	<atom:link href="/2013/10/sriracha-come-to-denton/feed/" rel="self" type="application/rss+xml" />
	<link>/2013/10/sriracha-come-to-denton/</link>
	<description>Kevin Roden for Denton City Council</description>
	<lastBuildDate>Mon, 19 Sep 2016 19:43:53 +0000</lastBuildDate>
		<sy:updatePeriod>hourly</sy:updatePeriod>
		<sy:updateFrequency>1</sy:updateFrequency>
	<generator>http://wordpress.org/?v=3.8.16</generator>
	<item>
		<title>By: Paul Strength</title>
		<link>/2013/10/sriracha-come-to-denton/#comment-40109</link>
		<dc:creator><![CDATA[Paul Strength]]></dc:creator>
		<pubDate>Thu, 31 Oct 2013 15:14:21 +0000</pubDate>
		<guid isPermaLink="false">/?p=941#comment-40109</guid>
		<description><![CDATA[YES!
A thousand times YES!]]></description>
		<content:encoded><![CDATA[<p>YES!<br />
A thousand times YES!</p>
]]></content:encoded>
	</item>
</channel>
</rss>
