<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>Comments on: Did a &#8220;College Town&#8221; Ban Fracking?</title>
	<atom:link href="/2014/11/did-a-college-town-ban-fracking/feed/" rel="self" type="application/rss+xml" />
	<link>/2014/11/did-a-college-town-ban-fracking/</link>
	<description>Kevin Roden for Denton City Council</description>
	<lastBuildDate>Tue, 16 Jun 2015 14:31:16 +0000</lastBuildDate>
		<sy:updatePeriod>hourly</sy:updatePeriod>
		<sy:updateFrequency>1</sy:updateFrequency>
	<generator>http://wordpress.org/?v=3.8.8</generator>
	<item>
		<title>By: Adam</title>
		<link>/2014/11/did-a-college-town-ban-fracking/#comment-53127</link>
		<dc:creator><![CDATA[Adam]]></dc:creator>
		<pubDate>Sun, 09 Nov 2014 05:01:15 +0000</pubDate>
		<guid isPermaLink="false">/?p=1413#comment-53127</guid>
		<description><![CDATA[Thanks, Kevin and Devin! Yes, all votes and voters count equally. And yes, those guys are still making stuff up.]]></description>
		<content:encoded><![CDATA[<p>Thanks, Kevin and Devin! Yes, all votes and voters count equally. And yes, those guys are still making stuff up.</p>
]]></content:encoded>
	</item>
	<item>
		<title>By: sandy</title>
		<link>/2014/11/did-a-college-town-ban-fracking/#comment-53093</link>
		<dc:creator><![CDATA[sandy]]></dc:creator>
		<pubDate>Sun, 09 Nov 2014 02:13:34 +0000</pubDate>
		<guid isPermaLink="false">/?p=1413#comment-53093</guid>
		<description><![CDATA[Thank you, Kevin for clarifying the vote. The opposition to the ban is trying to discredit the fracking ban vote, which is not surprising. The Denton Taxpayers for a Strong Economy and the Barnette Shale Education group actually probably spent 2 million when the 2 efforts are combined.]]></description>
		<content:encoded><![CDATA[<p>Thank you, Kevin for clarifying the vote. The opposition to the ban is trying to discredit the fracking ban vote, which is not surprising. The Denton Taxpayers for a Strong Economy and the Barnette Shale Education group actually probably spent 2 million when the 2 efforts are combined.</p>
]]></content:encoded>
	</item>
	<item>
		<title>By: John R. Huff Jr.</title>
		<link>/2014/11/did-a-college-town-ban-fracking/#comment-53041</link>
		<dc:creator><![CDATA[John R. Huff Jr.]]></dc:creator>
		<pubDate>Sat, 08 Nov 2014 09:17:17 +0000</pubDate>
		<guid isPermaLink="false">/?p=1413#comment-53041</guid>
		<description><![CDATA[So just what is your point in responding thus?]]></description>
		<content:encoded><![CDATA[<p>So just what is your point in responding thus?</p>
]]></content:encoded>
	</item>
	<item>
		<title>By: Peggy Heinkel-Wolfe</title>
		<link>/2014/11/did-a-college-town-ban-fracking/#comment-53027</link>
		<dc:creator><![CDATA[Peggy Heinkel-Wolfe]]></dc:creator>
		<pubDate>Sat, 08 Nov 2014 04:42:00 +0000</pubDate>
		<guid isPermaLink="false">/?p=1413#comment-53027</guid>
		<description><![CDATA[Excuse me while I don&#039;t take the bait. Every single voter matters and every single vote counts.]]></description>
		<content:encoded><![CDATA[<p>Excuse me while I don&#8217;t take the bait. Every single voter matters and every single vote counts.</p>
]]></content:encoded>
	</item>
	<item>
		<title>By: Patrick McLeod</title>
		<link>/2014/11/did-a-college-town-ban-fracking/#comment-52975</link>
		<dc:creator><![CDATA[Patrick McLeod]]></dc:creator>
		<pubDate>Fri, 07 Nov 2014 17:42:18 +0000</pubDate>
		<guid isPermaLink="false">/?p=1413#comment-52975</guid>
		<description><![CDATA[To add some more context to what you&#039;ve written here, I don&#039;t think anyone would have much of a problem using straight ticket voting as a proxy for how &quot;liberal&quot; or &quot;conservative&quot; a precinct or group of precincts (a town or city) would be at any given time. Sure, it&#039;s not a perfect measure, but straight ticket voting is a solid measure of partisanship. In the 34 precincts where there were votes cast on the tracking ban, 25 of those precincts voted for the ban. Of those 25 precincts that voted for the ban, 16 of them, 64% of the total pro ban precincts, had more straight ticket Republican votes than straight ticket Democratic votes.]]></description>
		<content:encoded><![CDATA[<p>To add some more context to what you&#8217;ve written here, I don&#8217;t think anyone would have much of a problem using straight ticket voting as a proxy for how &#8220;liberal&#8221; or &#8220;conservative&#8221; a precinct or group of precincts (a town or city) would be at any given time. Sure, it&#8217;s not a perfect measure, but straight ticket voting is a solid measure of partisanship. In the 34 precincts where there were votes cast on the tracking ban, 25 of those precincts voted for the ban. Of those 25 precincts that voted for the ban, 16 of them, 64% of the total pro ban precincts, had more straight ticket Republican votes than straight ticket Democratic votes.</p>
]]></content:encoded>
	</item>
</channel>
</rss>
