<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>Comments for rodenfordenton.com</title>
	<atom:link href="/comments/feed/" rel="self" type="application/rss+xml" />
	<link>http://rodenfordenton.com</link>
	<description>Kevin Roden for Denton City Council</description>
	<lastBuildDate>Sun, 25 Dec 2016 14:08:33 +0000</lastBuildDate>
		<sy:updatePeriod>hourly</sy:updatePeriod>
		<sy:updateFrequency>1</sy:updateFrequency>
	<generator>http://wordpress.org/?v=3.8.22</generator>
	<item>
		<title>Comment on That Time I Spent a Week with Rex Tillerson by Tom McCorkill</title>
		<link>/2016/12/that-time-i-spent-a-week-with-rex-tillerson/#comment-75525</link>
		<dc:creator><![CDATA[Tom McCorkill]]></dc:creator>
		<pubDate>Sun, 25 Dec 2016 14:08:33 +0000</pubDate>
		<guid isPermaLink="false">/?p=2121#comment-75525</guid>
		<description><![CDATA[Thank you for relaying your assessment of Mr. Tillerson. I enjoyed reading the diverse comments made in response. My parents taught me early in life that it was best not to lie; that if you tell the truth you do not have to remember what you said because you know it to be true. This was added to by some early mentors in my career as a top level manager in local government: &quot;when you take a job learn all there is to know about sou you oversee and direct subordinates; find and hire the best people you can, give them direction, and expect the results you need&quot;. To that I add, always treat people as you wish to be treated. Mr. Trump has risen to the top levels of the business world by applying these same principals and I am convinced the people he has carefully selected to surround hi to implement his policies fit the same mold. My experience dealing with those who have risen to the top of major corporations and government agencies is that their success is due to following these same principles. I an thoroughly convinced Mr. Trump, and those who will surround him will truly put America First. Instead of jumping to conclusions let&#039;s put our support behind him and see if he does the right things for America.]]></description>
		<content:encoded><![CDATA[<p>Thank you for relaying your assessment of Mr. Tillerson. I enjoyed reading the diverse comments made in response. My parents taught me early in life that it was best not to lie; that if you tell the truth you do not have to remember what you said because you know it to be true. This was added to by some early mentors in my career as a top level manager in local government: &#8220;when you take a job learn all there is to know about sou you oversee and direct subordinates; find and hire the best people you can, give them direction, and expect the results you need&#8221;. To that I add, always treat people as you wish to be treated. Mr. Trump has risen to the top levels of the business world by applying these same principals and I am convinced the people he has carefully selected to surround hi to implement his policies fit the same mold. My experience dealing with those who have risen to the top of major corporations and government agencies is that their success is due to following these same principles. I an thoroughly convinced Mr. Trump, and those who will surround him will truly put America First. Instead of jumping to conclusions let&#8217;s put our support behind him and see if he does the right things for America.</p>
]]></content:encoded>
	</item>
	<item>
		<title>Comment on That Time I Spent a Week with Rex Tillerson by JP Jens</title>
		<link>/2016/12/that-time-i-spent-a-week-with-rex-tillerson/#comment-75510</link>
		<dc:creator><![CDATA[JP Jens]]></dc:creator>
		<pubDate>Sun, 25 Dec 2016 01:23:44 +0000</pubDate>
		<guid isPermaLink="false">/?p=2121#comment-75510</guid>
		<description><![CDATA[Fantastic essay and a great read, Emily. Thank you.]]></description>
		<content:encoded><![CDATA[<p>Fantastic essay and a great read, Emily. Thank you.</p>
]]></content:encoded>
	</item>
	<item>
		<title>Comment on That Time I Spent a Week with Rex Tillerson by Gary Gilliard</title>
		<link>/2016/12/that-time-i-spent-a-week-with-rex-tillerson/#comment-75506</link>
		<dc:creator><![CDATA[Gary Gilliard]]></dc:creator>
		<pubDate>Sat, 24 Dec 2016 20:30:39 +0000</pubDate>
		<guid isPermaLink="false">/?p=2121#comment-75506</guid>
		<description><![CDATA[Thank you Ms. Roden for a great article. It speaks very well of you that you would step up to tell your story at a time when our country faces such deep divisions.  I appreciate your willingness to speak out.]]></description>
		<content:encoded><![CDATA[<p>Thank you Ms. Roden for a great article. It speaks very well of you that you would step up to tell your story at a time when our country faces such deep divisions.  I appreciate your willingness to speak out.</p>
]]></content:encoded>
	</item>
	<item>
		<title>Comment on That Time I Spent a Week with Rex Tillerson by Tom</title>
		<link>/2016/12/that-time-i-spent-a-week-with-rex-tillerson/#comment-75505</link>
		<dc:creator><![CDATA[Tom]]></dc:creator>
		<pubDate>Sat, 24 Dec 2016 20:02:41 +0000</pubDate>
		<guid isPermaLink="false">/?p=2121#comment-75505</guid>
		<description><![CDATA[This article shows compassion and integrity. But what was especially striking to me was your beautiful writing style. If you are not already a writer you should be.]]></description>
		<content:encoded><![CDATA[<p>This article shows compassion and integrity. But what was especially striking to me was your beautiful writing style. If you are not already a writer you should be.</p>
]]></content:encoded>
	</item>
	<item>
		<title>Comment on That Time I Spent a Week with Rex Tillerson by toby</title>
		<link>/2016/12/that-time-i-spent-a-week-with-rex-tillerson/#comment-75504</link>
		<dc:creator><![CDATA[toby]]></dc:creator>
		<pubDate>Sat, 24 Dec 2016 19:32:57 +0000</pubDate>
		<guid isPermaLink="false">/?p=2121#comment-75504</guid>
		<description><![CDATA[Great testimony.  I began to wonder after this article how we perceive or feel about a person or issue.  When we meet that issue, person, or event in a more intimate way, we get a different conclusion.  Then we begin to know how easily we are influenced by news media, comments, or seemly, events that emotionally terrorize us.  Only when we honestly take the time to discover TRUTH will be find a peace that will guide us instead of emotions.]]></description>
		<content:encoded><![CDATA[<p>Great testimony.  I began to wonder after this article how we perceive or feel about a person or issue.  When we meet that issue, person, or event in a more intimate way, we get a different conclusion.  Then we begin to know how easily we are influenced by news media, comments, or seemly, events that emotionally terrorize us.  Only when we honestly take the time to discover TRUTH will be find a peace that will guide us instead of emotions.</p>
]]></content:encoded>
	</item>
	<item>
		<title>Comment on That Time I Spent a Week with Rex Tillerson by Lowell Sederstrom</title>
		<link>/2016/12/that-time-i-spent-a-week-with-rex-tillerson/#comment-75502</link>
		<dc:creator><![CDATA[Lowell Sederstrom]]></dc:creator>
		<pubDate>Sat, 24 Dec 2016 18:24:39 +0000</pubDate>
		<guid isPermaLink="false">/?p=2121#comment-75502</guid>
		<description><![CDATA[You are certainly entitled to your opinion, but it is so disheartening to read after so many uplifting comments.  As to wars, does it not have to be declared and authorized by congress?  SOS and SOD have immense power but both nominees have worked in environments that have structure that would constrain them from doing what you suggest.  Let the winner of the election pick his team, let them do their jobs, under your watchful eyes before condemning.  God bless America,and the people that are trying to make America great again.]]></description>
		<content:encoded><![CDATA[<p>You are certainly entitled to your opinion, but it is so disheartening to read after so many uplifting comments.  As to wars, does it not have to be declared and authorized by congress?  SOS and SOD have immense power but both nominees have worked in environments that have structure that would constrain them from doing what you suggest.  Let the winner of the election pick his team, let them do their jobs, under your watchful eyes before condemning.  God bless America,and the people that are trying to make America great again.</p>
]]></content:encoded>
	</item>
	<item>
		<title>Comment on That Time I Spent a Week with Rex Tillerson by Gary Holt</title>
		<link>/2016/12/that-time-i-spent-a-week-with-rex-tillerson/#comment-75500</link>
		<dc:creator><![CDATA[Gary Holt]]></dc:creator>
		<pubDate>Sat, 24 Dec 2016 17:04:04 +0000</pubDate>
		<guid isPermaLink="false">/?p=2121#comment-75500</guid>
		<description><![CDATA[Thanks for acting. You fulfilled this proverb and encouraged me to be mindful of doing the same when the opportunity arises. 

Do not withhold good from those to whom it is due, when it is in your power to act. Proverbs 3:27]]></description>
		<content:encoded><![CDATA[<p>Thanks for acting. You fulfilled this proverb and encouraged me to be mindful of doing the same when the opportunity arises. </p>
<p>Do not withhold good from those to whom it is due, when it is in your power to act. Proverbs 3:27</p>
]]></content:encoded>
	</item>
	<item>
		<title>Comment on That Time I Spent a Week with Rex Tillerson by robert burroughs</title>
		<link>/2016/12/that-time-i-spent-a-week-with-rex-tillerson/#comment-75499</link>
		<dc:creator><![CDATA[robert burroughs]]></dc:creator>
		<pubDate>Sat, 24 Dec 2016 16:47:02 +0000</pubDate>
		<guid isPermaLink="false">/?p=2121#comment-75499</guid>
		<description><![CDATA[thank you so much for your story, it simply reassures me that I made the correct decision when I voted for Donald Trump, and that He has made the correct decision in appointing Mr. Tillerson to such an important position.
Merry Christmas 
Robert Burroughs
Laurel Mississippi]]></description>
		<content:encoded><![CDATA[<p>thank you so much for your story, it simply reassures me that I made the correct decision when I voted for Donald Trump, and that He has made the correct decision in appointing Mr. Tillerson to such an important position.<br />
Merry Christmas<br />
Robert Burroughs<br />
Laurel Mississippi</p>
]]></content:encoded>
	</item>
	<item>
		<title>Comment on That Time I Spent a Week with Rex Tillerson by Mike Kelly</title>
		<link>/2016/12/that-time-i-spent-a-week-with-rex-tillerson/#comment-75495</link>
		<dc:creator><![CDATA[Mike Kelly]]></dc:creator>
		<pubDate>Sat, 24 Dec 2016 14:24:19 +0000</pubDate>
		<guid isPermaLink="false">/?p=2121#comment-75495</guid>
		<description><![CDATA[I read your piece on the DMN website and I want to thank you for making an important contribution to my understanding of. Tillerson. I&#039;m commenting here as well as on the website because I&#039;m embarrassed to appear only on the vicious and vacuous comments at DMN. The threat that about to be President Trump makes to the world and to the human progress in our deeply divided society troubles me a great deal. I have thought, reading the brief biographies about Tillerson in the media that he might offer a safeguard against the danger of Trump&#039;s policies and actions. Adding your insight gives me more comfort. Despite Exxon&#039;s position and some of its activities, I view Tillerson as an accomplished person who might act as a balance to an unbalanced President&#039;s administration.]]></description>
		<content:encoded><![CDATA[<p>I read your piece on the DMN website and I want to thank you for making an important contribution to my understanding of. Tillerson. I&#8217;m commenting here as well as on the website because I&#8217;m embarrassed to appear only on the vicious and vacuous comments at DMN. The threat that about to be President Trump makes to the world and to the human progress in our deeply divided society troubles me a great deal. I have thought, reading the brief biographies about Tillerson in the media that he might offer a safeguard against the danger of Trump&#8217;s policies and actions. Adding your insight gives me more comfort. Despite Exxon&#8217;s position and some of its activities, I view Tillerson as an accomplished person who might act as a balance to an unbalanced President&#8217;s administration.</p>
]]></content:encoded>
	</item>
	<item>
		<title>Comment on That Time I Spent a Week with Rex Tillerson by J. Wilson</title>
		<link>/2016/12/that-time-i-spent-a-week-with-rex-tillerson/#comment-75493</link>
		<dc:creator><![CDATA[J. Wilson]]></dc:creator>
		<pubDate>Sat, 24 Dec 2016 09:04:45 +0000</pubDate>
		<guid isPermaLink="false">/?p=2121#comment-75493</guid>
		<description><![CDATA[I am a liberal and say let this man have the job. Nothing wrong with a non-diplomat or non-politician doing this job. He certainly knows the world and value of relationships and power of persuasion as well as what it takes to be a leader. You don&#039;t always make friends making profits but that&#039;s what his company has done - made money for shareholders and employed tens of thousands of people. Thanks for sharing your story. Just proof the man deserves a fresh look not propaganda from people who have an agenda against him or Trump. Our president-elect is just that the next President. Time to start quieting down the non-sense and pull together as a country like we did after 9/11. Liberals, conservatives, moderates...are you American or what? Prove it.]]></description>
		<content:encoded><![CDATA[<p>I am a liberal and say let this man have the job. Nothing wrong with a non-diplomat or non-politician doing this job. He certainly knows the world and value of relationships and power of persuasion as well as what it takes to be a leader. You don&#8217;t always make friends making profits but that&#8217;s what his company has done &#8211; made money for shareholders and employed tens of thousands of people. Thanks for sharing your story. Just proof the man deserves a fresh look not propaganda from people who have an agenda against him or Trump. Our president-elect is just that the next President. Time to start quieting down the non-sense and pull together as a country like we did after 9/11. Liberals, conservatives, moderates&#8230;are you American or what? Prove it.</p>
]]></content:encoded>
	</item>
</channel>
</rss>
